<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
      <div class="bread">
          <%= render 'shared/bread'%>
      </div>
      <div class="textt">
          <% if I18n.locale == :en %>
            <div class="zagol">Terms of Use</div>
            <%= @text.conditions_en.html_safe %>
          <% else %>
            <div class="zagol">Пользовательское соглашение</div>
            <%= @text.conditions.html_safe %>
          <% end %>
      </div>
      <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
