<%= render 'shared/header' %>
<div class="block1">
    <div class="wrapper">
        <h1 class="text1">Прокат автомобилей в Калининграде</h1>
        <div class="text2">С нами ты всегда у руля!</div>
        <div class="text3"><a href="tel:+7 (921) 710-16-15">+7 (921) 710-16-15</a></div>
        <a href="#" class="zakaz">Заказать звонок</a>
        <div class="clear"></div>
    </div>
</div>
<div class="block2">
    <div class="wrapper">
        <div class="zag">Быстрая заявка</div>
        <div class="podzag">Если вам срочно нужен автомобиль заполните эту форму!</div>
        <%# <div class="perekl">
            <label>
                <input type="checkbox" value="" name="">
                <span>Седан</span>
            </label>
            <label>
                <input type="checkbox" value="" name="">
                <span>Хэтчбэк</span>
            </label>
            <label>
                <input type="checkbox" value="" name="">
                <span>Кроссовер</span>
            </label>
            <label>
                <input type="checkbox" value="" name="">
                <span>Минивен</span>
            </label>
            <label>
                <input type="checkbox" value="" name="">
                <span>Универсал</span>
            </label>
        </div>
        <form>
            <input type="text" value="" placeholder="Ваше имя" class="inp1" name="" />
            <input type="text" value="" placeholder="Ваш телефон" class="inp2" name="" />
            <input type="text" value="" placeholder="Ваш E-mail" class="inp3" name="" />
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" value="" placeholder="Дата начала" class="inp4" name="" />
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" value="" placeholder="Дата окончания" class="inp4" name="" />
            <input type="submit" value="Отправить заявку" name="">
            <div class="clear"></div>
        </form> %>
        <div class="perekl">
            <label>
                <input name="quick_booking[is_sedan]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_sedan]" id="quick_booking_is_sedan">
                <span>Седан</span>
            </label>
            <label>
                <input name="quick_booking[is_hatch]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_hatch]" id="quick_booking_is_hatch">
                <span>Хэтчбэк</span>
            </label>
            <label>
                <input name="quick_booking[is_cross]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_cross]" id="quick_booking_is_cross">
                <span>Кроссовер</span>
            </label>
            <label>
                <input name="quick_booking[is_minivan]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_minivan]" id="quick_booking_is_minivan">
                <span>Минивен</span>
            </label>
            <label>
                <input name="quick_booking[is_universal]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_universal]" id="quick_booking_is_universal">
                <span>Универсал</span>
            </label>
        </div>
        <%= form_for @quick_booking do |f| %>
          <%= f.text_field :name, placeholder: "Ваше имя", class: "inp1" %>
          <%= f.text_field :phone, placeholder: "Ваш телефон", class: "inp2" %>
          <%= f.text_field :email, placeholder: "Ваш E-mail", class: "inp3" %>
          <%= f.text_field :start_date, placeholder: "Дата начала", class: "inp4" %>
          <%= f.text_field :end_date, placeholder: "Дата окончания", class: "inp4" %>

            <%# <input type="text" form="new_quick_booking" onfocus="(this.type='date')" onblur="(this.type='text')" value="" placeholder="Дата начала" class="inp4" name="" />
            <input type="text" form="new_quick_booking" onfocus="(this.type='date')" onblur="(this.type='text')" value="" placeholder="Дата окончания" class="inp4" name="" /> %>
            <%= f.submit "Отправить заявку" %>
            <div class="clear"></div>
          <% end %>
          <div class="clear"></div>
    </div>
</div>
<div class="block3">
  <div class="wrapper">
    <div class="spis_bl">
      <div class="blck">
        <%= image_tag "b1.png", alt: "", title: "" %>
        <div class="zg">Страховка Каско</div>
        <p>Все автомобили застрахованы, минимальная ответственность клиента даже при происшествиях по его вине.</p>
      </div>
      <div class="blck">
        <%= image_tag "b2.png", alt: "", title: "" %>
        <div class="zg">Неограниченный пробег</div>
        <p>Ограничение суточного пробега и штраф за несоблюдение нашими условиями не предусмотрены.</p>
      </div>
      <div class="blck">
        <%= image_tag "b3.png", alt: "", title: "" %>
        <div class="zg">Немедленный возврат залога</div>
        <p>Возвращаем залоговую сумму непосредственно после осмотра и приема автомобиля.</p>
      </div>
      <div class="blck">
        <%= image_tag "b4.png", alt: "", title: "" %>
        <div class="zg">Гарантия лучшей цены</div>
        <p>Если вы найдете машину дешевле, с аналогичными условиями аренды — мы снизим цену для Вас!</p>
      </div>
      <div class="blck">
        <%= image_tag "b5.png", alt: "", title: "" %>
        <div class="zg">Поддержка 24/7</div>
        <p>Круглосуточная поддержка клиента по всем вопросам, связанным с арендой автомобиля.</p>
      </div>
      <div class="blck">
        <%= image_tag "b6.png", alt: "", title: "" %>
        <div class="zg">Дружественное отношение</div>
        <p>Мы ценим своих клиентов и не придираемся к мелким недостаткам при приеме автомобиля.</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="block4">
    <div class="wrapper">
        <div class="zag">Найдём машину для каждого!</div>
        <div class="podzag">У нас большой ассортимент автомобилей.</div>
        <div class="spis_avto">
            <div class="avto">
                <a href="#" class="bl_img">
                  <%= image_tag "a1.jpg", alt: "", title: "" %>
                </a>
                <a href="#" class="zg">Chevrolet Spark Promo</a>
                <div class="price">от <b>700</b> руб/сутки</div>
                <a href="#" class="more">Подробнее</a>
                <div class="hara">
                    <p>
                      <%= image_tag "h1.png", alt: "", title: "" %>
                        Автомат
                    </p>
                    <p>
                      <%= image_tag "h2.png", alt: "", title: "" %>
                      Бензин
                    </p>
                    <p>
                      <%= image_tag "h3.png", alt: "", title: "" %>
                        2012г.
                    </p>
                    <p>
                      <%= image_tag "h4.png", alt: "", title: "" %>
                      Хэтчбэк
                    </p>
                    <p>
                      <%= image_tag "h5.png", alt: "", title: "" %>
                      1,0
                    </p>
                    <p>
                      <%= image_tag "h6.png", alt: "", title: "" %>
                      Есть
                    </p>
                </div>
            </div>
            <div class="avto">
                <a href="#" class="bl_img">
                  <%= image_tag "a2.jpg", alt: "", title: "" %>
                </a>
                <a href="#" class="zg">KIA Picanto</a>
                <div class="price">от <b>900</b> руб/сутки</div>
                <a href="#" class="more">Подробнее</a>
                <div class="hara">
                    <p>
                      <%= image_tag "h1.png", alt: "", title: "" %>
                      Автомат
                    </p>
                    <p>
                      <%= image_tag "h2.png", alt: "", title: "" %>
                      Бензин
                    </p>
                    <p>
                      <%= image_tag "h3.png", alt: "", title: "" %>
                      2014г.
                    </p>
                    <p>
                      <%= image_tag "h4.png", alt: "", title: "" %>
                      Хэтчбэк
                    </p>
                    <p>
                      <%= image_tag "h5.png", alt: "", title: "" %>
                      1,2
                    </p>
                    <p>
                      <%= image_tag "h6.png", alt: "", title: "" %>
                      Есть
                    </p>
                </div>
            </div>
            <div class="avto">
                <a href="#" class="bl_img">
                  <%= image_tag "a3.jpg", alt: "", title: "" %>
                </a>
                <a href="#" class="zg">Спецпредложение! <br />Nissan Almera New</a>
                <div class="price">от <b>1000</b> руб/сутки</div>
                <a href="#" class="more">Подробнее</a>
                <div class="hara">
                  <p>
                    <%= image_tag "h1.png", alt: "", title: "" %>
                    Автомат
                  </p>
                  <p>
                    <%= image_tag "h2.png", alt: "", title: "" %>
                    Бензин
                  </p>
                  <p>
                    <%= image_tag "h3.png", alt: "", title: "" %>
                    2012г.
                  </p>
                  <p>
                    <%= image_tag "h4.png", alt: "", title: "" %>
                    Хэтчбэк
                  </p>
                  <p>
                    <%= image_tag "h5.png", alt: "", title: "" %>
                    1,0
                  </p>
                  <p>
                    <%= image_tag "h6.png", alt: "", title: "" %>
                    Есть
                  </p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <a href="#" class="all">Посмотреть все автомобили</a>
        <div class="clear"></div>
    </div>
</div>
<div class="block5">
    <div class="wrapper">
        <div class="zag">Отзывы</div>
        <div class="spis_otz">
            <div class="otz">
                <div class="fio">Наталья Д.</div>
                <div class="rating">
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra0.png", alt: "", title: "" %>
                </div>
                <p>Перед отправлением в Калининград 05.02.2020 , пересмотрела несколько компаний отзывы были реальными, только на Амиго и когда ещё и апартаменты были на ул. А.Невского, нам было просто комфортно дойти пешком в офис и оформить авто. Само оформление заняло 5 мин. , все грамотно и быстро прошла консул...</p>
            </div>
            <div class="otz">
                <div class="fio">Валерий Чернов</div>
                <div class="rating">
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra0.png", alt: "", title: "" %>
                </div>
                <p>Ребят из компании АМИГО знаю давно,очень порядочные и серьезные ребята, никогда не подведут. Для своих друзей арендовал у них машину. Друзья остались довольны и машиной и общением с ребятами. Будете выбирать автопрокат в Калининграде, сначала обратитесь в АМИГО, нормальные машины, хорошие цены, ...</p>
            </div>
            <div class="otz">
                <div class="fio">Виктория</div>
                <div class="rating">
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra1.png", alt: "", title: "" %>
                    <%= image_tag "ra0.png", alt: "", title: "" %>
                </div>
                <p>На прошлой неделе прилетали в Калининград по делам и отдохнуть. Как же без машины? По отзывам на сайте нашла Амиго. Во-первых у них гибкие цены, в зависимости от количества дней с ними можно договориться о приемлемой стоимости аренды. Во-вторых они не дорого доставили и забрали авто из аэропорта....</p>
            </div>
            <div class="clear"></div>
        </div>
        <a href="#" class="all">Посмотреть все отзывы</a>
        <div class="clear"></div>
    </div>
</div>
<div class="block6">
    <div class="wrapper">
        <div class="zag">Что мы предлагаем?</div>
        <div class="podzag">Автопрокат Амиго предоставляет услуги по прокату авто и аренде автомобилей различных классов без водителя <br />и с водителем в Калининграде и области. Мы осуществляем доставку машины прямо к клиенту.</div>
        <div class="col1">
            <div class="zg">Наша Миссия</div>
            <div class="podp">Построение бизнеса нового поколения, основанного на принципе: <br />«К клиенту — с душой!» Стать прокатом автомобилей мирового уровня, лучшим в России. Миссия компании Амиго — развитие рынка доступной, удобной и качественной аренды автомобилей.</div>
            <div class="pre">
              <%= image_tag "pr1.png", alt: "", title: "" %>
              Клиент наш друг!
            </div>
            <div class="pre">
              <%= image_tag "pr2.png", alt: "", title: "" %>
              Всегда стараемся справедливо урегулировать все спорные моменты.
            </div>
            <div class="pre">
              <%= image_tag "pr3.png", alt: "", title: "" %>
              Содержим парк машин в хорошем состоянии.
            </div>
            <div class="pre">
              <%= image_tag "pr4.png", alt: "", title: "" %>
              Договор без подводных камней.
            </div>
            <div class="pre">
              <%= image_tag "pr5.png", alt: "", title: "" %>
              Большие скидки при долгосрочной аренде.
            </div>
            <div class="pre">
              <%= image_tag "pr6.png", alt: "", title: "" %>
              Многолетний опыт работы.
            </div>
        </div>
        <div class="col1">
            <div class="zg">Наши Преимущества</div>
            <div class="podp">Построение бизнеса нового поколения, основанного на принципе: <br />«К клиенту — с душой!» Стать прокатом автомобилей мирового уровня, лучшим в России. Миссия компании Амиго — развитие рынка доступной, удобной и качественной аренды автомобилей.</div>
            <div class="pere opened">
                <div class="za">
                  <%= image_tag "pe1.png", alt: "", title: "" %>
                  Самые выгодные условия по КАСКО
                  <span></span>
                </div>
                <div class="skrito" style="display: block;">
                  <p>Договором аренды предусмотрена самая низкая в Калининграде франшиза по страховке.</p>
                </div>
            </div>
            <div class="pere">
                <div class="za">
                  <%= image_tag "pe2.png", alt: "", title: "" %>
                  Круглосуточная поддержка 24/7
                  <span></span>
                </div>
                <div class="skrito">
                    <p>Договором аренды предусмотрена самая низкая в Калининграде франшиза по страховке.</p>
                </div>
            </div>
            <div class="pere">
                <div class="za">
                  <%= image_tag "pe3.png", alt: "", title: "" %>
                  Низкие залоги
                  <span></span>
                </div>
                <div class="skrito">
                    <p>Договором аренды предусмотрена самая низкая в Калининграде франшиза по страховке.</p>
                </div>
            </div>
            <div class="pere">
                <div class="za">
                  <%= image_tag "pe4.png", alt: "", title: "" %>
                  Есть почасовая оплата
                  <span></span>
                </div>
                <div class="skrito">
                    <p>Договором аренды предусмотрена самая низкая в Калининграде франшиза по страховке.</p>
                </div>
            </div>
            <div class="pere">
                <div class="za">
                  <%= image_tag "pe5.png", alt: "", title: "" %>
                  Справедливая топливная политика
                  <span></span>
                </div>
                <div class="skrito">
                    <p>Договором аренды предусмотрена самая низкая в Калининграде франшиза по страховке.</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
