<% title @text.main_title_en %>
<% description @text.main_description_en %>
<%= render 'shared/header', cached: true %>
<div class="block1">
        <div class="wrapper">
            <span></span>
            <div class="text1">You are always at the helm with us!</div>
            <%# <div class="text2"><h1><b>Аренда автомобилей</b> в Калининграде</h1></div> %>
            <div class="text2"><%= @text.main_h1_text_en.html_safe %></div>
            <%= link_to prices_path(locale: I18n.locale, city: "Калининград"), class: "price" do %>
                Rental prices
            <% end %>
            <%= image_tag("bmw.webp") %>
            <div class="clear"></div>
        </div>
    </div>
    <div id="search_main">
        <search city="Калининград"></search>
    </div>
    <div class="block3">
        <div class="wrapper">
            <div class="prei">
                <span>01</span>
                <div class="zg">HULL <b>INSURANCE</b></div>
                <p>All cars are insured by Hull:  minimal responsibility of the client, even in case of incidents due to his fault.</p>
            </div>
            <div class="prei">
                <span>02</span>
                <div class="zg"><b>UNLIMITED</b> MILEAGE</div>
                <p>The daily mileage limit and the penalty for non-compliance with our conditions are not provided.</p>
            </div>
            <div class="prei">
                <span>03</span>
                <div class="zg">IMMEDIATE <b>REFUND</b></div>
                <p>We return the security deposit immediately after inspection and acceptance of the car.</p>
            </div>
            <div class="prei">
                <span>04</span>
                <div class="zg"><b>24/7</b> SUPPORT</div>
                <p>We value our customers and do not find fault with minor flaws when taking back a car.</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block4">
        <div class="wrapper">
            <div class="zagol">We shall find a car for everyone!</div>
            <div class="podzag">We have a wide range of cars.</div>
            <div class="spis_avto">
                <%= render partial: 'cars', collection: @cars, as: :car, cached: true %>
                <div class="clear"></div>
            </div>
            <div class="btn">
                <%= link_to cars_path do %>
                    View all cars
                <% end %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block5">
        <div class="wrapper">
            <div class="zagol">Addressing our customers</div>
            <div class="podzag">A little about us in the words of our CEO</div>
            <div class="pol1">
                <p>Dear friends! My name is Andrey, I am the owner of a car rental Amigo. I built this car rental business from scratch and still personally work with requests and reviews from our customers, supervise car maintenance and train employees. This is the secret of our success - the quality of customer service and technology is kept at the highest level. Our car rental is developing and growing, not only in Kaliningrad and the region, but also in other cities of Russia. Clients are glad that while traveling around the country, they have the opportunity to rent a car in a familiar company. Welcome to the circle of good friends - apply for a car at Amigo car rental!</p>
                <div class="fio">
                    CEO Amigorent
                    <span>Sorokin A.V.</span>
                </div>
            </div>
            <%= image_tag("block5_img.webp") %>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block6">
        <div class="wrapper">
            <div class="zagol">Reviews</div>
            <div class="spis_img">
                <div class="reviews_main">
                    <%= image_tag("o1.webp") %>
                    <span class="spis_zv" id="rateYoYa"></span>
                    <span id="YaRaiting" style="display: none;"><%= rating_yandex %></span>
                </div>
                <div class="reviews_main">
                    <%= image_tag("o2.webp") %>
                    <span class="spis_zv" id="rateYoGoogle"></span>
                    <span id="GoogleRaiting" style="display: none;"><%= rating_google %></span>
                </div>
            </div>
            <div class="spis_ot">
                <%= render partial: 'review', collection: @reviews, as: :review, cached: true %>
                <div class="clear"></div>
            </div>
            <div class="btn">
                <%= link_to reviews_path do %>
                    View all reviews
                <% end %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block7">
        <div class="wrapper">
            <div class="zagol">FAQ</div>
            <div class="zag"><%= @text.main_question_title_1_en.html_safe %></div>
            <p><%= @text.main_question_1_en.html_safe %></p>
            <div class="zag"><%= @text.main_question_title_2_en.html_safe %></div>
            <p><%= @text.main_question_2_en.html_safe %></p>
            <div class="zag"><%= @text.main_question_title_3_en.html_safe %></div>
            <p><%= @text.main_question_3_en.html_safe %></p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block8">
        <div class="wrapper">
            <div class="zagol">What do we offer?</div>
            <div class="podzag">Car rental Amigo provides car rental services and rental cars of various classes without a driver and with a driver in Kaliningrad and the region. We deliver the car directly to the client.</div>
            <%= image_tag("block8_img.webp") %>
            <div class="pol2">
                <%= @text.main_text_en.html_safe %>
            </div>
            <div class="clear"></div>
            <div class="cha1">
                <div class="zag">Our Mission</div>
                <p>Building a new generation business based on the principle of: "To the client - with a soul!" Become a world-class car rental, the best in Russia. Amigo's mission is to develop an affordable, convenient and high-quality car rental market. Our name is a symbol that the client is our friend!</p>
                <div class="spis_mis">
                    <div class="mis">
                        <%= image_tag("m1.webp") %>
                        Customer is our friend! 
                    </div>
                    <div class="mis">
                        <%= image_tag("m2.webp") %>
                        We always try to fairly solve all disputed issues. 
                    </div>
                    <div class="mis">
                        <%= image_tag("m3.webp") %>
                        We keep the fleet<br /> in good condition.
                    </div>
                    <div class="mis">
                        <%= image_tag("m4.webp") %>
                        The contract<br /> without pitfalls.
                    </div>
                    <div class="mis">
                        <%= image_tag("m5.webp") %>
                        Big discounts <br />on long-term rent.
                    </div>
                </div>
            </div>
            <div class="cha1">
                <div class="zag">Our advantages</div>
                <p>The main difference of Amigo car rental is an honest approach and a friendly attitude to each client. We try to use the most advanced achievements and world experience in car rental in our work, constantly expand the range and improve the quality of the services provided.</p>
                <div class="spis_prei">
                    <div class="prei">
                        <div class="zz opened">
                            <%= image_tag("m1.webp") %>
                            The most favorable conditions for hull insurance
                        </div>
                        <p style="display: block;">The lease agreement provides for the lowest insurance deductible in Kaliningrad.</p>
                    </div>
                    <div class="prei">
                        <div class="zz">
                            <%= image_tag("m7.webp") %>
                            24/7 Support
                        </div>
                        <p>We are ready to help 24 hours a day in any situation.</p>
                    </div>
                    <div class="prei">
                        <div class="zz">
                            <%= image_tag("m8.webp") %>
                            Low pledges
                        </div>
                        <p>Low security deposits start at 3,000 rubles.</p>
                    </div>
                    <div class="prei">
                        <div class="zz">
                            <%= image_tag("m9.webp") %>
                            There is an hourly rate 
                        </div>
                        <p>We do not take the cost of rent per day if you are late or rent for an incomplete day. For most cars, the hourly fee is 150 rubles.</p>
                    </div>
                    <div class="prei">
                        <div class="zz">
                            <%= image_tag("m10.webp") %>
                            Fair fuel policy 
                        </div>
                        <p>We give out a car with a full tank, when you return the car with a lack of fuel, payment at the price of refueling without fines.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
<%= render 'shared/footer', cached: true %>
