<% title @text.main_title %>
<% description @text.main_description %>
<%= render 'shared/header', cached: true %>
<div class="block1">
        <div class="wrapper">
            <span></span>
            <div class="text1">C нами ты всегда у руля!</div>
            <div class="text2"><h1><b>Аренда автомобилей</b> в Калининграде</h1></div>
            <%= link_to prices_path(locale: I18n.locale, city: "Калининград"), class: "price" do %>
                Цены на аренду
            <% end %>
            <%= image_tag("bmw.webp", alt: "Аренда авто в Калининграде", title: "Аренда авто в Калининграде") %>
            <div class="clear"></div>
        </div>
    </div>
    <div id="search_main">
        <search city="Калининград" locale="<%= I18n.locale %>"></search>
    </div>
    <div class="block3">
        <div class="wrapper">
            <div class="prei">
                <span>01</span>
                <div class="zg">у нас есть страховка <b>каско</b></div>
                <p>Все наши авто застрахованы по КАСКО минимальная ответственность клиента даже при происшествиях по его вине.</p>
            </div>
            <div class="prei">
                <span>02</span>
                <div class="zg">Мы <b>не ограничеваем</b> вам пробег</div>
                <p>Ограничение суточного пробега и штраф за несоблюдение нашими условиями не предусмотрены.</p>
            </div>
            <div class="prei">
                <span>03</span>
                <div class="zg">НЕМЕДЛЕННЫЙ <b>ВОЗВРАТ ЗАЛОГА</b></div>
                <p>Возвращаем залоговую сумму непосредственно после осмотра и приема автомобиля.</p>
            </div>
            <div class="prei">
                <span>04</span>
                <div class="zg">А еще мы очень <b>заботимся 24/7</b></div>
                <p>Круглосуточная поддержка клиента по всем вопросам, связанным с арендой автомобиля.</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block4">
        <div class="wrapper">
            <div class="zagol">Найдем машину для каждого</div>
            <div class="podzag">У нас большой ассортимент автомобилей</div>
            <div class="spis_avto">
                <%= render partial: 'cars', collection: @cars, as: :car %>
                <div class="clear"></div>
            </div>
            <div class="btn">
                <%= link_to cars_path do %>
                    Посмотреть все автомобили
                <% end %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block5">
        <div class="wrapper">
            <div class="zagol">Обращение к нашим клиентам</div>
            <div class="podzag">Немного о нас словами нашего генерального директора</div>
            <div class="pol1">
                <p>Дорогие друзья! Меня зовут Андрей, я владелец автопроката Амиго. Я построил этот бизнес по аренде авто с нуля и до сих пор лично веду работу с обращениями и отзывами наших клиентов, контролирую обслуживание автомобилей и провожу обучение сотрудников. В этом секрет нашего успеха – качество обслуживания клиентов и техники держится на высочайшем уровне. Наш прокат авто развивается и растет, причем не только в Калининграде и области, но и в других городах России. Клиенты рады тому, что путешествуя по стране, у них есть возможность взять автомобиль на прокат в знакомой фирме.  Добро пожаловать в круг добрых друзей – обращайтесь за машиной в автопрокат Амиго!</p>
                <div class="fio">
                    Генеральный директор Amigorent
                    <span>Сорокин А.В.</span>
                </div>
            </div>
            <%= image_tag("block5_img.webp", alt: "Подпись", title: "Подпись") %>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block6">
        <div class="wrapper">
            <div class="zagol">Отзывы</div>
            <div class="spis_img">
                <div class="reviews_main">
                    <%= image_tag("o1.webp", alt: "Яндекс", title: "Яндекс") %>
                    <span class="spis_zv" id="rateYoYa"></span>
                    <span id="YaRaiting" style="display: none;"><%= rating_yandex %></span>
                </div>
                <div class="reviews_main">
                    <%= image_tag("o2.webp", alt: "Гугл", title: "Гугл") %>
                    <span class="spis_zv" id="rateYoGoogle"></span>
                    <span id="GoogleRaiting" style="display: none;"><%= rating_google %></span>
                </div>
            </div>
            <div class="spis_ot">
                <%= render partial: 'review', collection: @reviews, as: :review, cached: true %>
                <div class="clear"></div>
            </div>
            <div class="btn">
                <%= link_to reviews_path do %>
                    Посмотреть все отзывы
                <% end %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block7">
        <div class="wrapper">
            <div class="zagol">Часто задаваемые вопросы</div>
            <div class="zag"><h4><%= @text.main_question_title_1.html_safe %></h4></div>
            <p><%= @text.main_question_1.html_safe %></p>
            <div class="zag"><h4><%= @text.main_question_title_2.html_safe %></h4></div>
            <p><%= @text.main_question_2.html_safe %></p>
            <div class="zag"><h4><%= @text.main_question_title_3.html_safe %></h4></div>
            <p><%= @text.main_question_3.html_safe %></p>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block8">
        <div class="wrapper">
            <div class="zagol">Что мы предлагаем?</div>
            <div class="podzag"><h3>Автопрокат Амиго предоставляет следующие услуги: <br />аренда авто в Калининграде, каршеринг и прокат авто в Калининграде и аэропорту Храброво.</h3></div>
            <%= image_tag("block8_img.webp", alt: "Услуги", title: "Услуги") %>
            <div class="pol2">
                <%= @text.main_text.html_safe %>
            </div>
            <div class="clear"></div>
            <div class="cha1">
                <div class="zag">Наша миссия</div>
                <p>Построение бизнеса нового поколения, основанного на принципе: «К клиенту — с душой!» <br />Стать прокатом автомобилей мирового уровня, лучшим в России. Миссия компании Амиго — развитие рынка доступной, удобной и качественной аренды автомобилей. Наше название символ того, что клиент - наш друг!</p>
                <div class="spis_mis">
                    <div class="mis">
                        <%= image_tag("m1.webp", alt: "Друг", title: "Друг") %>
                        Клиент наш друг!
                    </div>
                    <div class="mis">
                        <%= image_tag("m2.webp", alt: "Справедливость", title: "Справедливость") %>
                        Всегда стараемся справедливо урегулировать все спорные моменты.
                    </div>
                    <div class="mis">
                        <%= image_tag("m3.webp", alt: "Хорошее сосотяние", title: "Хорошее сосотяние") %>
                        Содержим парк машин<br />в хорошем состоянии.
                    </div>
                    <div class="mis">
                        <%= image_tag("m4.webp", alt: "Договор", title: "Договор") %>
                        Договор <br />без подводных камней.
                    </div>
                    <div class="mis">
                        <%= image_tag("m5.webp", alt: "Скидки", title: "Скидки") %>
                        Большие скидки <br />при долгосрочной аренде.
                    </div>
                </div>
            </div>
            <div class="cha1">
                <div class="zag">Наши приемущества</div>
                <p>Главное отличие автопроката Амиго – <br />честный подход и дружеское отношение к каждому клиенту. Мы стараемся использовать в нашей работе самые передовые достижения и мировой опыт аренды автомобилей, постоянно расширять спектр и повышать качество оказываемых услуг.</p>
                <div class="spis_prei">
                    <div class="prei">
                        <div class="zz opened">
                            <%= image_tag("m1.webp", alt: "КАСКО", title: "КАСКО") %>
                            Самые выгодные условия по КАСКО
                        </div>
                        <p style="display: block;">Выдаем автомобиль с полным баком, при недостаче топлива, оплата по цене заправок без штрафов.</p>
                    </div>
                    <div class="prei">
                        <div class="zz">
                            <%= image_tag("m7.webp", alt: "Поддержка", title: "Поддержка") %>
                            Круглосуточная поддержка 24/7
                        </div>
                        <p>Выдаем автомобиль с полным баком, при недостаче топлива, оплата по цене заправок без штрафов.</p>
                    </div>
                    <div class="prei">
                        <div class="zz">
                            <%= image_tag("m8.webp", alt: "Низкие залоги", title: "Низкие залоги") %>
                            Низкие залоги
                        </div>
                        <p>Выдаем автомобиль с полным баком, при недостаче топлива, оплата по цене заправок без штрафов.</p>
                    </div>
                    <div class="prei">
                        <div class="zz">
                            <%= image_tag("m9.webp", alt: "Оплата", title: "Оплата") %>
                            Есть почасовая оплата
                        </div>
                        <p>Выдаем автомобиль с полным баком, при недостаче топлива, оплата по цене заправок без штрафов.</p>
                    </div>
                    <div class="prei">
                        <div class="zz">
                            <%= image_tag("m10.webp", alt: "Топливо", title: "Топливо") %>
                            Справедливая топливная политика
                        </div>
                        <p>Выдаем автомобиль с полным баком, при недостаче топлива, оплата по цене заправок без штрафов.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
<%= render 'shared/footer', cached: true %>
