<% title @text.main_title %>
<% description @text.main_description %>
<%= render 'shared/header', cached: true %>
<div class="block1">
    <div class="wrapper">
        <h1 class="text1"><%= @text.main_h1_text_en.html_safe %></h1>
        <div class="text2">You are always at the helm with us!</div>
        <div class="text3"><a href="tel:+79217101615">+7 (921) 710-16-15</a></div>
        <%= link_to "Rental prices", prices_en_path, class: "zakaz" %>
        <div class="clear"></div>
    </div>
</div>
<div class="block2">
    <div class="wrapper">
        <div class="zag">QUICK BOOKING</div>
        <div class="podzag"><%= @text.main_quick_booking_text_en.html_safe %></div>
        <div class="perekl">
            <label>
                <input name="quick_booking[is_sedan]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_sedan]" id="quick_booking_is_sedan">
                <span>Sedan</span>
            </label>
            <label>
                <input name="quick_booking[is_hatch]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_hatch]" id="quick_booking_is_hatch">
                <span>Hatchback</span>
            </label>
            <label>
                <input name="quick_booking[is_cross]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_cross]" id="quick_booking_is_cross">
                <span>Crossover</span>
            </label>
            <label>
                <input name="quick_booking[is_minivan]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_minivan]" id="quick_booking_is_minivan">
                <span>Minivan</span>
            </label>
            <label>
                <input name="quick_booking[is_universal]" type="hidden" value="0"><input type="checkbox" form="new_quick_booking" value="1" name="quick_booking[is_universal]" id="quick_booking_is_universal">
                <span>Wagon</span>
            </label>
        </div>
        <%= form_for @quick_booking do |f| %>
          <%= f.text_field :name, placeholder: "Your name", class: "inp1 bs" %>
          <%= f.text_field :phone, placeholder: "Your phone number", class: "inp2" %>
          <%= f.text_field :email, placeholder: "Your E-mail", class: "inp3" %>
          <%= f.date_field :start_date, placeholder: "Start date", class: "inp4 bs" %>
          <%= f.date_field :end_date, placeholder: "End date", class: "inp4" %>
          <%= f.submit "Send Request" %>
          <div class="clear"></div>
        <% end %>
        <div class="clear"></div>
    </div>
</div>
<div class="block3">
  <div class="wrapper">
    <div class="spis_bl">
      <div class="blck">
        <%= image_tag "b1.png", alt: "HULL INSURANCE", title: "HULL INSURANCE" %>
        <div class="zg">HULL INSURANCE</div>
        <p>All cars are insured by Hull:  minimal responsibility of the client, even in case of incidents due to his fault.</p>
      </div>
      <div class="blck">
        <%= image_tag "b2.png", alt: "UNLIMITED MILEAGE", title: "UNLIMITED MILEAGE" %>
        <div class="zg">UNLIMITED MILEAGE</div>
        <p>The daily mileage limit and the penalty for non-compliance with our conditions are not provided.</p>
      </div>
      <div class="blck">
        <%= image_tag "b3.png", alt: "IMMEDIATE REFUND", title: "IMMEDIATE REFUND" %>
        <div class="zg">IMMEDIATE REFUND</div>
        <p>We return the security deposit immediately after inspection and acceptance of the car.</p>
      </div>
      <div class="blck">
        <%= image_tag "b4.png", alt: "BEST PRICE GUARANTEE", title: "BEST PRICE GUARANTEE" %>
        <div class="zg">BEST PRICE GUARANTEE</div>
        <p>If you find a car cheaper, with similar rental conditions - we will reduce the price for you!</p>
      </div>
      <div class="blck">
        <%= image_tag "b5.png", alt: "24/7 SUPPORT", title: "24/7 SUPPORT" %>
        <div class="zg">24/7 SUPPORT</div>
        <p>Round-the-clock customer support on all issues related to car rental.</p>
      </div>
      <div class="blck">
        <%= image_tag "b6.png", alt: "FRIENDLY ATTITUDE", title: "FRIENDLY ATTITUDE" %>
        <div class="zg">FRIENDLY ATTITUDE</div>
        <p>We value our customers and do not find fault with minor flaws when taking back a car.</p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="block4">
    <div class="wrapper">
        <div class="zag">We shall find a car for everyone!</div>
        <div class="podzag">We have a wide range of cars.</div>
        <div class="spis_avto" >
            <%= render "cars" , cached: true %>
        </div>
        <%= link_to "View all cars", cars_path, class: "all" %>
        <div class="clear"></div>
    </div>
</div>
<div class="block5">
    <div class="wrapper" itemprop="itemReviewed" content="Прокат автомобилей Амиго" itemscope itemtype="http://schema.org/AggregateRating">
      <meta itemprop="itemReviewed" itemprop="name" content="Прокат автомобилей Амиго">
      <meta itemprop="worstRating" content="1">
        <meta itemprop="bestRating" content="5">
      <meta itemprop="itemReviewed" content="Прокат автомобилей Амиго"/>
        <div class="zag">Reviews</div>
        <div style="margin-bottom: 30px;">
            Total reviews: <span itemprop="reviewCount"><%= Review.where(active: true).count %></span>, Average rating: <span itemprop="ratingValue"><%= Review.where(active: true).average(:star).round(1) %></span>
        </div>
        <meta itemprop="itemReviewed" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="Прокат автомобилей Амиго">
        <div class="spis_otz">
            <%= render "reviews/reviews_on_main", cached: true %>
            <div class="clear"></div>
        </div>
        <%= link_to reviews_path, class:"all" do %>
          View all reviews
        <% end %>
        <div class="clear"></div>
    </div>
</div>
<div class="block6">
    <div class="wrapper">
        <div class="zag">What do we offer?</div>
        <div class="podzag">Car rental Amigo provides car rental services and rental cars of various classes without a driver <br />and with a driver in Kaliningrad and the region. We deliver the car directly to the client.</div>
        <div class="col1">
            <div class="zg">Our Mission</div>
            <div class="podp"><%= @text.main_mission_text_en.html_safe %></div>
            <div class="pre">
              <%= image_tag "pr1.png", alt: "Customer is our friend", title: "Customer is our friend" %>
              Customer is our friend!
            </div>
            <div class="pre">
              <%= image_tag "pr2.png", alt: "Справедливость", title: "Справедливость" %>
              We always try to fairly solve all disputed issues.
            </div>
            <div class="pre">
              <%= image_tag "pr3.png", alt: "fleet in good condition", title: "fleet in good condition" %>
              We keep the fleet in good condition.
            </div>
            <div class="pre">
              <%= image_tag "pr4.png", alt: "The contract without pitfalls", title: "The contract without pitfalls" %>
              The contract without pitfalls.
            </div>
            <div class="pre">
              <%= image_tag "pr5.png", alt: "Big discounts on long-term rent", title: "Big discounts on long-term rent" %>
              Big discounts on long-term rent.
            </div>
            <div class="pre">
              <%= image_tag "pr6.png", alt: "Many years of experience", title: "Many years of experience" %>
              Many years of experience.
            </div>
        </div>
        <div class="col1">
            <div class="zg">Our advantages</div>
            <div class="podp"><%= @text.main_edge_text_en.html_safe %></div>
            <div class="pere opened">
                <div class="za">
                  <%= image_tag "pe1.png", alt: "выгодные условия по КАСКО", title: "выгодные условия по КАСКО" %>
                  The most favorable conditions for hull insurance
                  <span></span>
                </div>
                <div class="skrito" style="display: block;">
                  <p>The lease agreement provides for the lowest insurance deductible in Kaliningrad.</p>
                </div>
            </div>
            <div class="pere">
                <div class="za">
                  <%= image_tag "pe2.png", alt: "24/7 Support", title: "24/7 Support" %>
                  24/7 Support
                  <span></span>
                </div>
                <div class="skrito">
                    <p>We are ready to help 24 hours a day in any situation.</p>
                </div>
            </div>
            <div class="pere">
                <div class="za">
                  <%= image_tag "pe3.png", alt: "Low pledges", title: "Low pledges" %>
                  Low pledges
                  <span></span>
                </div>
                <div class="skrito">
                    <p>Low security deposits start at 3,000 rubles.</p>
                </div>
            </div>
            <div class="pere">
                <div class="za">
                  <%= image_tag "pe4.png", alt: "There is an hourly rate", title: "There is an hourly rate" %>
                  There is an hourly rate
                  <span></span>
                </div>
                <div class="skrito">
                    <p>We do not take the cost of rent per day if you are late or rent for an incomplete day. For most cars, the hourly fee is 150 rubles.</p>
                </div>
            </div>
            <div class="pere">
                <div class="za">
                  <%= image_tag "pe5.png", alt: "Fair fuel policy", title: "Fair fuel policy" %>
                  Fair fuel policy
                  <span></span>
                </div>
                <div class="skrito">
                    <p>We give out a car with a full tank, when you return the car with a lack of fuel, payment at the price of refueling without fines.</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
