<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Транспортный аутсорсинг в Калининграде</h1>
        <div>
          <p>
            Ни один бизнес в настоящее время не может функционировать без транспорта. Доставка товара клиенту, перемещение сотрудников и многие другие задачи каждая организация решает при помощи автотранспорта. Но не каждая организация может позволить себе иметь собственный автопарк. Кроме того это не всегда является целесообразным и выгодным. Например поездки являются нерегулярными или фирма отправляет своих сотрудников в командировку в другой регион, и у них есть необходимость в постоянном наличии автомобиля. В данном случае целесообразно воспользоваться услугой транспортного аутсорсинга.  
          </p>
          <br />
          <p>Транспортный аутсорсинг – это выгодная услуга, которая позволяет пользоваться арендованными транспортными средствами и избежать многих проблем связанных с содержанием собственного парка автомобилей. </p>
          <p>
            Преимущества использования арендованных автомобилей для организации:
          </p>
          <ul>
            <li>нет необходимости в крупных капиталовложениях для приобретения автомобилей, сравнительно невысокая арендная плата не создает высокой финансовой нагрузки;</li>
            <li>возможность списания арендных платежей на расходы организации и, соответственно, уменьшения налогооблагаемой базы; </li>
            <li>можно сосредоточиться на ведении основной деятельности и не распыляться на урегулирование множества вопросов, связанных с эксплуатацией транспортных средств (своевременное техобслуживание, продление страховок, ремонт, замена резины и многих других); </li>
            <li>нет необходимости в содержании обслуживающего персонала, гаража, мест хранения запасных частей и сезонных шин; </li>
            <li>нет затрат на обслуживание и ремонт машин, оформление страховок и прочих расходов, связанных с содержанием автомобилей.</li>
          </ul>
          <br />
          <p>Компания Амиго готова предоставить организациям выгодные условия на длительную аренду автомобилей: </p>
          <ul>
            <li>все машины застрахованы по <%= link_to "КАСКО", casko_path %>, то есть у арендатора минимальная ответственность даже при повреждении автомобиля по его вине, кроме того есть возможность подключить опцию «Полная гарантия»; </li>
            <li>низкие <%= link_to "цены на аренду авто", prices_path %>;</li>
            <li>дополнительные скидки, помимо предусмотренных нашими тарифами;</li>
            <li>в случае выхода автомобиля из строя – мы сразу предоставляем вам подменный авто, никаких простоев в работе; </li>
            <li>отсутствие любых дополнительных расходов, связанных с эксплуатацией машины. </li>
          </ul>
          <br />
          <p>Берите автомобили в аренду у опытных операторов проката авто. Автопрокат Амиго – это многолетний опыт работы в сфере аренды автомобилей, сотни тысяч довольных клиентов, высокий рейтинг и деловая репутация, десятки организаций, доверяющих нам свое транспортное обслуживание на постоянной основе (со списком наших ключевых партнеров, среди которых Росатом и Мегафон, можете ознакомиться в разделе <%= link_to "О нас", abouts_path %>). Возьмите автомобиль в аренду и доверьте все ваши транспортные заботы профессионалам из автопроката Амиго! </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
