<% title @text.outsours_title %>
<% description @text.outsours_description %>
<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1><%= @text.outsours_h1 %></h1>
        <div>
          <%= @text.outsours_text.html_safe %>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
