<% title @text.payment_title_en %>
<% description @text.payment_description_en %>
<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1><%= @text.payment_h1_en %></h1>
        <div>
          <%= @text.payment_text_en.html_safe %>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
