<% title @text.sales_title_en %>
<% description @text.sales_description_en %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
  <div class="wrapper">
      <div class="bread">
          <%= render 'shared/bread'%>
      </div>
      <div class="textt">
          <div class="zagol"><%= @text.sales_h1_en %></div>
          <%= @text.sales_text_en.html_safe %>
      </div>
      <div class="clear"></div>
  </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
