<% title @text.services_title_en %>
<% description @text.services_description_en %>
<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
      <div class="bread">
          <%= render 'shared/bread'%>
      </div>
      <div class="textt">
        <div class="zagol">The main types of services provided by car rental Amigo:</div>
            <ul>
                <li>provision of cars for rent without a driver;</li>
                <li>car rental without a driver;</li>
                <li><%= link_to "transport outsourcing", transportnyi_autsorsing_path, style:"color:#5c63fd;" %>;</li>
                <li>rental of additional equipment;</li>
            </ul>
            <br />
            <p>You can find the prices for these services in the section <%= link_to "Prices", prices_path %>.</p>
            <ul>
                <li>delivery of cars to the client anywhere in the Kaliningrad region;</li>
            </ul>
            <br />
            <p>More details about the cost of this service - in the section <%= link_to "Delivery", deliveries_path %></p>

            <h2>Additional types of services: </h2>
            <ul>
                <li>car sharing, or short-term car rental, lasting from one hour;</li>
            </ul>
            <br />
            <p>For details and rates, see the section <%= link_to "Car sharing", car_sharing_path %></p>
            <ul>
                <li>car rental with a driver;</li>
            </ul>
            <br />
            <p>Read more about the service in the corresponding section – <%= link_to "«Car with a driver»", arenda_avto_s_voditelem_path %></p>
      </div>
      <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
