<% title @services_title %>
<% description @services_description %>
<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
    <%= render 'shared/bread'%>
    <div class="bl_dop">
        <h1>Основные виды услуг, которые предоставляет автопрокат Амиго: </h1>
        <ul>
            <li>предоставление автомобилей в аренду без водителя;</li>
            <li>прокат автомобилей без водителя;</li>
            <li><%= link_to "транспортный аутсорсинг", transportnyi_autsorsing_path %>;</li>
            <li>прокат дополнительного оборудования;</li>
        </ul>
        <br />
        <p>С ценами на данные услуги вы можете ознакомиться в разделе <%= link_to "«Цены»", prices_path %>.</p>
        <ul>
            <li>доставка автомобилей к клиенту в любую точку Калининградской области;</li>
        </ul>
        <br />
        <p>Подробнее о стоимости данной услуги – в разделе <%= link_to "«Доставка»", deliveries_path %></p>

        <h2>Дополнительные виды услуг: </h2>
        <ul>
            <li>каршеринг, или краткосрочная аренда автомобилей, длительностью от одного часа;</li>
        </ul>
        <br />
        <p>Подробности и тарифы смотрите в разделе <%= link_to "«Каршеринг»", car_sharing_path %></p>
        <ul>
            <li>предоставление автомобилей в аренду с водителем;</li>
        </ul>
        <br />
        <p>Подробнее об услуге читайте в соответствующем разделе – <%= link_to "«Авто с водителем»", arenda_avto_s_voditelem_path %></p>
        <br />
        <p><%= @dop_table_downtext.html_safe %></p>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
