
<div class="col-12">
  <div class="container">
    <div class="row">
      <% @bookings.each do |booking| %>
          <div class="col-6 m-b-3 ">
            <div class="card">
              <div class="card-body <%= 'bg-secondary text-white' if booking.rejection %> <%= 'bg-success text-white' if booking.accept %>">
                <h4 class="text-black m-b-0">№<%= booking.id %> <%= booking.car %> от <%= booking.created_at.strftime("%d.%m.%Y") %> <%= '(Подтверждена)' if booking.accept %><%= '(Отказ)' if booking.rejection %></h4>
                <p>
                  <% if !booking.accept && !booking.rejection %>
                    <%= link_to accept_booking_path(booking), method: :post, class: "btn btn-sm btn-success" do %>
                      Принять
                    <% end %>
                    <%= link_to rejection_not_cars_booking_path(booking), method: :post, class: "btn btn-sm btn-warning" do %>
                      Отказ (все занято)
                    <% end %>
                    <%= link_to rejection_few_days_booking_path(booking), method: :post, class: "btn btn-sm btn-warning" do %>
                      Отказ (< 5 суток)
                    <% end %>
                    <br>
                    <br>
                    <%= link_to ' Изменить', edit_booking_admin_path(action: "edit_booking", id: booking), class: "btn btn-sm btn-secondary" %>
                    <%= link_to booking_path(booking.id), remote: true, method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "Уверен?"} do %>
                      Удалить
                    <% end %>
                  <% else %>
                    <%= link_to toggle_rejection_booking_path(booking.id), method: :post, class: "btn btn-sm btn-warning", data: {confirm: "Уверен?"} do %>
                      Активировать
                    <% end %>
                    <%= link_to booking_path(booking.id), remote: true, method: :delete, class: "btn btn-sm btn-danger", data: {confirm: "Уверен?"} do %>
                      Удалить
                    <% end %>
                  <% end %>
                </p>
                <p>
                  Авто: <%= booking.car %>
                </p>
                <p>
                  Даты: <%= booking.start_date %> - <%= booking.end_date %>
                </p>
                <p>
                  Имя: <%= booking.firstname %> <%= booking.middlename %> <%= booking.lastname %>
                </p>
                <p>
                  Телефон: <%= booking.phone %>, Email: <%= booking.email %>
                </p>
                <p>
                  Брать: <%= booking.location_start %>, Сдавать: <%= booking.location_end %>
                </p>
                <p>
                  Доп оборудование: <%= "детское кресло" if booking.baby_chair %> <%= "навигатор" if booking.navigator %>
                </p>
                <p>
                  Цена за сутки: <%= booking.price %>, Итого: <%= booking.total %>, Залог: <%= booking.deposit %>
                </p>
                
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

