<div class="content">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-lg-6 m-b-3">
        <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="user-img pull-left">
                <%= link_to car_path(car) do %>
                  <% if car.main_image? %>
                    <%= image_tag car.main_image.url(:thumb), class: 'm-t-1', alt: car.car_name if car.main_image? %>
                  <% else %>
                    <%= image_tag "no-photo.png", alt: "", title: "", style: "width: 100px; height: 100px;" %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="col-lg-9">
              <div class="mail-contnet">
                <h4 class="text-black m-b-0"><%= car.car_name  %></h4>
                <p>
                  <%= link_to ' Изменить', edit_car_admin_path(action: "edit_car", id: car), class: "btn btn-sm btn-secondary" %>
                  <%= link_to 'Фотографии', upload_photos_admin_path(action: "upload_photos", id: car), class: "btn btn-sm btn-dark" %>
                </p>
                <% is_ready = !car.price_1.blank? && !car.price_2.blank? && !car.price_3.blank? && !car.price_4.blank? && !car.price_main.blank? && !car.car_name.blank? && car.images?  %>
                <% is_active = car.active %>
                <% if !car.active %>
                  <%= form_for car do |f| %>
                    <%= f.hidden_field :active, value: true %>
                    <%= f.submit "Опубликовать", id: "publish_button", class: "btn btn-sm btn-info", disabled: !is_ready %>
                  <% end %>
                <% end %>
                <% if car.active %>
                  <%= form_for car do |f| %>
                    <%= f.hidden_field :active, value: false %>
                    <%= f.submit "Снять с публикации", id: "unpublish_button", class: "btn btn-sm btn-info", disabled: !is_active %>
                  <% end %>
                <% end %>
                <%= link_to car_path(car), remote: true, method: :delete, data: {confirm: "Уверены?"} do %>
                  <%= image_tag 'trash', class: 'm-t-1' %>
                <% end %>
              </div>
            </div>
          </div>
        </div></div>
      </div>
    <% end %>

  </div>
  <!-- Main row -->
</div>
