<body class="skin-blue sidebar-mini">
<div class="wrapper boxed-wrapper">
  <header class="main-header">
    <%= link_to admin_path, class: "logo blue-bg" do %>
      <span class="logo-mini"><%= image_tag "logo.png" %></span>
      <span class="logo-lg"><%= image_tag "logo.png", style: "width: 150px;" %></span>
    <% end %>
    <nav class="navbar blue-bg navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <% balance = MainsmsApi::Balance.new %>
          <li style="padding: 23px 20px 22px 20px;">Баланс смс: <%= balance.check.balance %> руб</li>
          <li class="dropdown user user-menu p-ph-res"> 
            <%= link_to edit_user_registration_path, class:"dropdown-toggle" do %>
              <%= image_tag "dist/img/img1.jpg", class:"user-image", alt:"User Image" %> 
              <span class="hidden-xs">
                <%= current_user.name %> <%= current_user.lastname %>
              </span>
            <% end %>
          </li>
          <li class="dropdown user user-menu p-ph-res">
            <%= link_to destroy_user_session_path, method: :delete do %>
              Выход
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </header>
