<aside class="main-sidebar">
  <div class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview">
        <%= link_to bookings_admin_path do %>
          <i class="icon-home"></i>
          <span>Заявки</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to cars_admin_path do %>
          <i class="icon-home"></i>
          <span>Автомобили</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to new_car_admin_path do %>
          <i class="icon-home"></i>
          <span>Добавить новый авто</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to articles_admin_path do %>
          <i class="icon-home"></i>
          <span>Статьи</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to new_article_admin_path do %>
          <i class="icon-home"></i>
          <span>Добавить статью</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to text_main_admin_path do %>
          <i class="icon-home"></i>
          <span>Текст на главной</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to text_other_admin_path do %>
          <i class="icon-home"></i>
          <span>Текст на остальных</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to text_metatags_admin_path do %>
          <i class="icon-home"></i>
          <span>Метатеги</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to deliveries_admin_path do %>
          <i class="icon-home"></i>
          <span>Страницы городов</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
         <%= link_to new_delivery_admin_path do %>
          <i class="icon-home"></i>
          <span>Добавить новый город</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
         <% end %>
      </li>
    </ul>
  </div>
</aside>
