<%= render 'header' %>
<%= render 'left_sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Редактирование заявки <%= @booking.id %></h1>
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Главная', admin_path %>
        </li>
        <li><i class="fa fa-angle-right"></i> <%= link_to 'Автомобили', cars_admin_path %></li>
        <li><i class="fa fa-angle-right"></i> Редактирование заявки <%= @booking.id %></li>
      </ol>
    </div>
    <!-- :car_name, :year, :color, :transmission, :is_air, :engine_capacity, :is_electropackage, :car_class, :car_type, :price_1, :price_2, :price_3, :price_4, :price_5, :old_price_1, :old_price_2, :old_price_3, :old_price_4, :old_price_5, :price_hour, :price_main, :deposit, :description, :fuel, :number_doors, :active, :sort, :show_on_main -->

    <!-- Main content -->
    <div class="content">
      <div class="row">
        <%= form_for(@booking, url: booking_path(@booking, locale: I18n.locale)) do |f| %>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="col-12 m-b-3">
                  <h4>Авто</h4>
                  <%= f.text_field :car, class: "form-control" %>
                  <h4>Даты</h4>
                  Начало
                  <%= f.text_field :start_date, class: "form-control" %>
                  Окончание
                  <%= f.text_field :end_date, class: "form-control" %>
                  <br>
                  <h4>ФИО</h4>
                  Имя
                  <%= f.text_field :firstname, class: "form-control" %>
                  Отчество
                  <%= f.text_field :middlename, class: "form-control" %>
                  Фамилия
                  <%= f.text_field :lastname, class: "form-control" %>
                  <br>
                  <h4>Контакты</h4>
                  Телефон
                  <%= f.text_field :phone, class: "form-control" %>
                  Email
                  <%= f.text_field :email, class: "form-control" %>
                  <br>
                  <h4>Остальное</h4>
                  Место
                  <br>
                  Начало: <%= f.text_field :location_start, class: "form-control" %> Окончание: <%= f.text_field :location_end, class: "form-control" %>
                  <br>
                  Доп оборудование: кресло <%= f.check_box :baby_chair %> навигатор <%= f.check_box :navigator %>
                  <br>
                  Цена за сутки: <%= f.text_field :price, class: "form-control" %> Итого: <%= f.text_field :total, class: "form-control" %> Залог: <%= f.text_field :deposit, class: "form-control" %>
                  <br>
                  Доп информация(не обязательно)
                  <br>
                  <%= f.text_area :note, class: "form-control" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%= render 'footer'  %>
<!-- ./wrapper -->
