<%= render 'header' %>
<%= render 'left_sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Редактирование <%= @car.car_name %></h1>
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Главная', admin_path %>
        </li>
        <li><i class="fa fa-angle-right"></i> <%= link_to 'Автомобили', cars_admin_path %></li>
        <li><i class="fa fa-angle-right"></i> Редактирование <%= @car.car_name %></li>
      </ol>
    </div>
    <!-- :car_name, :year, :color, :transmission, :is_air, :engine_capacity, :is_electropackage, :car_class, :car_type, :price_1, :price_2, :price_3, :price_4, :price_5, :old_price_1, :old_price_2, :old_price_3, :old_price_4, :old_price_5, :price_hour, :price_main, :deposit, :description, :fuel, :number_doors, :active, :sort, :show_on_main -->

    <!-- Main content -->
    <div class="content">
      <div class="row">
        <%= form_for(@car, url: car_path(@car)) do |f| %>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <h4 class="text-black">Цены</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">1 сутки</th>
                        <th scope="col">4-7 суток</th>
                        <th scope="col">8-14 суток</th>
                        <th scope="col">15-30 суток</th>
                        <th scope="col">> 30 суток</th>
                        <th scope="col">За час</th>
                        <th scope="col">Залог</th>
                        <th scope="col">На главной</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= f.text_field :price_1, placeholder: "1000", class: "form-control", required: true %></td>
                        <td><%= f.text_field :price_2, placeholder: "1000", class: "form-control", required: true %></td>
                        <td><%= f.text_field :price_3, placeholder: "1000", class: "form-control", required: true %></td>
                        <td><%= f.text_field :price_4, placeholder: "1000", class: "form-control", required: true %></td>
                        <td><%= f.text_field :price_5, placeholder: "1000", class: "form-control", required: true %></td>
                        <td><%= f.text_field :price_hour, placeholder: "150", class: "form-control", required: true %></td>
                        <td><%= f.text_field :deposit, placeholder: "3000", class: "form-control", required: true %></td>
                        <td><%= f.text_field :price_main, placeholder: "1000", class: "form-control", required: true %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="text-center">
                  <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
                </div>
                <hr>
                <h4 class="text-black">Старые цены</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">1 сутки</th>
                        <th scope="col">4-7 суток</th>
                        <th scope="col">8-14 суток</th>
                        <th scope="col">15-30 суток</th>
                        <th scope="col">> 30 суток</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= f.text_field :old_price_1, class: "form-control" %></td>
                        <td><%= f.text_field :old_price_2, class: "form-control" %></td>
                        <td><%= f.text_field :old_price_3, class: "form-control" %></td>
                        <td><%= f.text_field :old_price_4, class: "form-control" %></td>
                        <td><%= f.text_field :old_price_5, class: "form-control" %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="text-center">
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
              <br>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Название авто</h4>
                  <%= f.text_field :car_name, id: "summernote", class: "", style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Ids RentProg</h4>
                  <p>Пишем строго 1 34 56 45 без скобок и запятых, только через пробел</p>
                  <p><%= @car.ids_rentprog %></p>
                  <%= f.text_field :ids_rentprog, type:"text"%>
                  <%# <input type="textbox" name="cars[ids_rentprog][]" id="summernote", class="", style="min-width=800px;", rows="1"> %>
                  <%# text_field_tag "cars[ids_rentprog][]", id: "summernote", class: "", style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Год</h4>
                  <%= f.text_field :year, id: "summernote", class: "", style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Цвет</h4>
                  <%= f.text_field :color, id: "summernote", class: "", style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Минимальное кол-во суток для бронирования</h4>
                  <%= f.text_field :booking_limit, id: "summernote", type: "number", style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div>
                  <div class="form-group">
                    <div class="form-group">
                      <h4 class="text-black">Кузов </h4>
                    </div>
                    <%= f.select :car_type, [["Седан", "Седан"], ["Хэтчбек", "Хэтчбек"], ["Универсал", "Универсал"], ["Купе", "Купе"], ["Кроссовер", "Кроссовер"], ["Минивэн", "Минивэн"]], {}, {class:"form-control", id: "car_type"} %>
                  </div>
                </div>

                <div class="">
                  <div class="form-group">
                    <div class="form-group">
                      <h4 class="text-black">Класс </h4>
                    </div>
                    <%= f.select :car_class, [["Эконом", "Эконом"], ["Средний", "Средний"], ["Минивэны", "Минивэны"], ["Кроссоверы", "Кроссоверы"], ["Бизнес", "Бизнес"], ["Коммерческий", "Коммерческий"]], {}, {class:"form-control", id: "car_class"} %>
                  </div>
                </div>
                <div>
                  <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <h4 class="text-black">ТТХ</h4>
                <div class="table-responsive">
                  <!--Table-->
                  <table class="table table-responsive">
                  <!--Table head-->
                    <thead class="text-center">
                      <tr>
                        <th scope="col" colspan="2">Технические данные</th>
                        <th scope="col" colspan="2">Комфорт</th>
                      </tr>
                    </thead>
                    <!--Table head-->
                    <!--Table body-->
                    <tbody>
                      <tr>
                        <th scope="row">Тип двигателя</th>
                        <td><%= f.select :fuel, [["Бензин", "Бензин"], ["Дизель", "Дизель"]], {}, {class:"form-control", id: "fuel"} %></td>
                        <th scope="row">Вид топлива</th>
                        <td><%= f.select :fuel_type, [["АИ-92", "АИ-92"], ["АИ-95", "АИ-95"], ["ДТ", "ДТ"]], {}, {class:"form-control", id: "fuel-type"} %></td>
                      </tr>
                      <tr>
                        <th scope="row">Объем двигателя</th>
                        <td><%= f.text_field :engine_capacity, placeholder: "Объём двигателя", class: "form-control" %></td>
                        <th scope="row">Электрорегулировка сидений</th>
                        <td><%= f.check_box :power_seats %></td>
                      </tr>
                      <tr>
                        <th scope="row">Мощность</th>
                        <td><%= f.text_field :power, placeholder: "Мощность", class: "form-control" %></td>
                        <th scope="row">Электропривод зеркал</th>
                        <td><%= f.check_box :mirror %></td>
                      </tr>
                      <tr>
                        <th scope="row">Расход (трасса/смешан/город)</th>
                        <td><%= f.text_field :consumption, placeholder: "Расход", class: "form-control" %></td>
                        <th scope="row">Электростеклоподъёмники передние</th>
                        <td><%= f.check_box :power_window_front %></td>
                      </tr>
                      <tr>
                        <th scope="row">Привод</th>
                        <td><%= f.text_field :drive_unit, placeholder: "Привод", class: "form-control" %></td>
                        <th scope="row">Электростеклоподъёмники задние</th>
                        <td><%= f.check_box :power_window_back %></td>
                      </tr>
                      <tr>
                        <th scope="row">Клиренс</th>
                        <td><%= f.text_field :clearance, placeholder: "Клиренс", class: "form-control" %></td>
                        <th scope="row">Регулировка руля по высоте</th>
                        <td><%= f.check_box :steering_wheel_height %></td>
                      </tr>
                      <tr>
                        <th scope="row">Длина</th>
                        <td><%= f.text_field :length, placeholder: "Длина", class: "form-control" %></td>
                        <th scope="row">Регулировка руля по выносу</th>
                        <td><%= f.check_box :steering_wheel_adjustment %></td>
                      </tr>
                      <tr>
                        <th scope="row">Ширина</th>
                        <td><%= f.text_field :width, placeholder: "Ширина", class: "form-control" %></td>
                        <th scope="row">Управление климатом</th>
                        <td><%= f.text_field :climat, placeholder: "Управление климатом", class: "form-control" %></td>
                      </tr>
                      <tr>
                        <th scope="row">Высота</th>
                        <td><%= f.text_field :height, placeholder: "Высота", class: "form-control" %></td>
                        <th scope="row">Подогрев сидений</th>
                        <td><%= f.check_box :hot_seats %></td>
                      </tr>
                      <tr>
                        <th scope="row">Объем топливного бака</th>
                        <td><%= f.text_field :tank_capacity, placeholder: "Объем топливного бака", class: "form-control" %></td>
                        <th scope="row">Центральный замок</th>
                        <td><%= f.check_box :central_locking %></td>
                      </tr>
                      <tr>
                        <th scope="row">Объем багажника</th>
                        <td><%= f.text_field :trunk_volume, placeholder: "Объем багажника", class: "form-control" %></td>
                        <th scope="row">Radio</th>
                        <td><%= f.check_box :radio %></td>
                      </tr>
                      <tr>
                        <th scope="row">Снаряженная масса</th>
                        <td><%= f.text_field :mass, placeholder: "Снаряженная масса", class: "form-control" %></td>
                        <th scope="row">USB</th>
                        <td><%= f.check_box :usb %></td>
                      </tr>
                      <tr>
                        <th scope="row">Коробка</th>
                        <td><%= f.select :transmission, [["Автомат", "Автомат"], ["Механика", "Механика"], ["Вариатор", "Вариатор"], ["Робот", "Робот"]], {}, {class:"form-control", id: "transmission"} %></td>
                        <th scope="row">AUX</th>
                        <td><%= f.check_box :aux %></td>
                      </tr>
                      <tr>
                        <th scope="row">Количество передач</th>
                        <td><%= f.text_field :number_gears, placeholder: "Количество передач", class: "form-control" %></td>
                        <th scope="row">CD</th>
                        <td><%= f.check_box :cd %></td>
                      </tr>
                      <tr>
                        <th scope="row">Максимальная скорость</th>
                        <td><%= f.text_field :max_speed, placeholder: "Максимальная скорость", class: "form-control" %></td>
                        <th scope="row">Video</th>
                        <td><%= f.check_box :video %></td>
                      </tr>
                      <tr>
                        <th scope="row">Разгон до 100км/ч</th>
                        <td><%= f.text_field :racing, placeholder: "Разгон до 100км/ч", class: "form-control" %></td>
                        <th scope="row">Количество дверей</th>
                        <td><%= f.select :number_doors, [["2", 2], ["3", 3], ["4", 4], ["5", 5]], {}, {class:"form-control", id: "number_doors"} %></td>
                      </tr>
                      <tr>
                        <th scope="row">Есть кондиционер?</th>
                        <td><%= f.check_box :is_air %></td>
                        <th scope="row">Есть электропакет?</th>
                        <td><%= f.check_box :is_electropackage %></td>
                      </tr>
                      <tr>
                        <th scope="row">Количество мест</th>
                        <td><%= f.text_field :number_seats, placeholder: "Количество мест", class: "form-control" %></td>
                        <th scope="row">Примечание</th>
                        <td><%= f.text_field :tth_note %></td>
                      </tr>
                    </tbody>
                    <!--Table body-->
                  </table>
                  <!--Table-->
                </div>
                <div class="text-center">
                  <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="col-md-12 form-group">
                  <label>Порядковый номер (для сортировки)</label>
                  <%= f.text_field :sort, placeholder: "Номер", class: "form-control" %>
                </div>
                <div class="col-md-12 form-group">
                  <label>Показывать на главной?</label>
                  <%= f.check_box :show_on_main %>
                </div>
                <div class="col-md-12 form-group">
                  <label>Описание</label>
                  <%= f.rich_text_area :description, rows: 10, placeholder: "Описание авто", class: "form-control", required: true %>
                </div>
                <div class="col-md-12 form-group">
                  <label>Описание En</label>
                  <%= f.rich_text_area :description_en, rows: 10, placeholder: "Описание авто", class: "form-control", required: true %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Ссылка на youtube</h4>
                  <%= f.text_field :youtube, style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Город</h4>
                  <td><%= f.select :city, @cities, {}, {class:"form-control", id: "city"} %></td>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%= render 'footer'  %>
<!-- ./wrapper -->
