<%= render 'header' %>
<%= render 'left_sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Админка</h1>
      <ol class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><i class="fa fa-angle-right"></i> Управление сайтом</li>
      </ol>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="row">
        <div>
          <p>Рейтинг компании в поисковых системах</p>
          <% if @rating %>
            <%= form_for @rating do |f| %>
              <%= f.label :yandex, "Яндекс" %>
              <%= f.number_field :yandex, step: 0.1, placeholder: "5.0", class: "form-control" %>
              <%= f.label :google, "Google" %>
              <%= f.number_field :google, step: 0.1, placeholder: "5.0", class: "form-control" %>
              <div class="text-center" style="padding-top:10px;">
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            <% end %>
          <% else %>
            <%= form_for @rating_new, url: rating_path do |f| %>
              <%= f.label :yandex, "Яндекс" %>
              <%= f.number_field :yandex, step: 0.1, placeholder: "5.0", class: "form-control" %>
              <%= f.label :google, "Google" %>
              <%= f.number_field :google, step: 0.1, placeholder: "5.0", class: "form-control" %>
              <div class="text-center" style="padding-top:10px;">
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%= render 'footer'  %>
<!-- ./wrapper -->
