<%= render 'header' %>
<%= render 'left_sidebar' %>
  <div class="content-wrapper">
    <div class="content-header sty-one">
      <h1>Метатеги</h1>
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Главная', admin_path %>
        </li>
        <li><i class="fa fa-angle-right"></i> Метатеги</li>
      </ol>
    </div>
    <div class="content">
      <div class="row">
        <%= form_for(@text, url: text_path(@text)) do |f| %>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на главной</h4>
                  <%= f.text_field :main_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :main_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице автомобилей</h4>
                  <%= f.text_field :cars_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :cars_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице автомобиля + название авто</h4>
                  <%= f.text_field :car_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :car_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Цены</h4>
                  <%= f.text_field :prices_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :prices_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Контакты</h4>
                  <%= f.text_field :contacts_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :contacts_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Заказать</h4>
                  <%= f.text_field :bookings_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :bookings_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Отзывы</h4>
                  <%= f.text_field :reviews_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :reviews_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Условия</h4>
                  <%= f.text_field :terms_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :terms_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице FAQs</h4>
                  <%= f.text_field :faqs_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :faqs_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице О нас</h4>
                  <%= f.text_field :abouts_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :abouts_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Доставки</h4>
                  <%= f.text_field :deliveries_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :deliveries_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Города + название</h4>
                  <%= f.text_field :delivery_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :delivery_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Услуги</h4>
                  <%= f.text_field :services_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :services_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Метатеги на странице Статьи</h4>
                  <%= f.text_field :articles_title, style: "min-width: 800px;" %>
                </div>
                <div class="click2edit m-b-3">
                  <%= f.text_area :articles_description, style: "min-width: 800px;" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%= render 'footer'  %>
<!-- ./wrapper -->
