<%= render 'header' %>
<%= render 'left_sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Текстовка на главной</h1>
      <ol class="breadcrumb">
        <li>
          <%= link_to 'Главная', admin_path %>
        </li>
        <li><i class="fa fa-angle-right"></i> Текстовка на главной</li>
      </ol>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="row">
        <%= form_for(@text, url: text_path(@text)) do |f| %>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Самый верх</h4>
                  <%= f.cktext_area :main_up_text, style: "min-width: 800px;", rows: "3" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Главный заголовок H1</h4>
                  <%= f.cktext_area :main_h1_text, style: "min-width: 800px;", rows: "3" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Заголовок Вопрос 1</h4>
                  <%= f.cktext_area :main_question_title_1, style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Текст Вопрос 1</h4>
                  <%= f.cktext_area :main_question_1, style: "min-width: 800px;", rows: "3" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Заголовок Вопрос 2</h4>
                  <%= f.cktext_area :main_question_title_2, style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Текст Вопрос 1</h4>
                  <%= f.cktext_area :main_question_2, style: "min-width: 800px;", rows: "3" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Заголовок Вопрос 3</h4>
                  <%= f.cktext_area :main_question_title_3, style: "min-width: 800px;", rows: "1" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Текст Вопрос 3</h4>
                  <%= f.cktext_area :main_question_3, style: "min-width: 800px;", rows: "3" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Seo текст</h4>
                  <%= f.cktext_area :main_text, style: "min-width: 800px;", rows: "7" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Наши преимущества</h4>
                  <%= f.cktext_area :main_edge_text, style: "min-width: 800px;", rows: "7" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Пользовательское соглашение</h4>
                  <%= f.cktext_area :conditions, style: "min-width: 800px;", rows: "7" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card m-t-3">
              <div class="card-body">
                <div class="click2edit m-b-3">
                  <h4>Успешная заявка</h4>
                  <%= f.cktext_area :success, style: "min-width: 800px;", rows: "7" %>
                </div>
                <%= f.submit "Сохранить", class: "btn btn-outline-success" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<%= render 'footer'  %>
