<% @articles.each do |article| %>
  <% if I18n.locale == :en %>
  <%= image_path(car.main_image.url(:show))%>)
    <div class="new1">
      <div class="bl_img" style="background-image: url(<%= article.image.attached? ? (image_path(article.image.variant(resize_to_fill: [384, 250]).processed.url)) : image_path("no-photo.webp") %>);"></div>
      <div class="data"><%= article.updated_at.strftime("%d.%m.%Y") %></div>
      <%= link_to article_en_path(article), class: "zg" do %>
        <%= article.title_en %>
      <% end %>
      <p><%= truncate(strip_tags(article.text_en.to_s), length: 700) %></p>
      <%= link_to article_en_path(article), class: "more" do %>
        More
      <% end %>
    </div>
  <% else %>
    <div class="new1">
      <div class="bl_img" style="background-image: url(<%= !article.image.attached? ? (image_path(article.image.variant(resize_to_fill: [384, 250]).processed.url)) : image_path("no-photo.webp") %>);"></div>
      <div class="data"><%= article.updated_at.strftime("%d.%m.%Y , %H:%M") %></div>
      <%= link_to article_path(article, city: (params[:city] ? params[:city] : "Калининград")), class: "zg" do %>
        <%= article.title %>
      <% end %>
      <p><%= truncate(strip_tags(article.text.to_s), length: 700) %></p>
      <%= link_to article_path(article, city: (params[:city] ? params[:city] : "Калининград")), class: "more" do %>
        Читать подробнее
      <% end %>
    </div>
  <% end %>
<% end %>
