<% title @text.articles_title %>
<% description @text.articles_description %>
<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <div class="bread">
            <%= render 'shared/bread'%>
        </div>
        <div class="zagol">Новости и акции</div>
        <div class="spis_new">
            <%= render "article" %>
            <div class="clear"></div>
        </div>
        <div class="pagin">
            <%= will_paginate @articles %>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
