<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <div class="zagoll_news">Сезонные скидки на аренду автомобилей в Калининграде!</div>
        <%= render 'shared/bread'%>
        <h1>Новости и акции</h1>
        <div class="bl_news">
            <%= render "article" %>
            <div class="pagin">
                <%= will_paginate @articles %>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
