<% title @text.articles_title_en %>
<% description @text.articles_description_en %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
    <div class="wrapper">
        <div class="bread">
            <%= render 'shared/bread'%>
        </div>
        <div class="zagol">News and Promotions</div>
        <div class="spis_new">
            <%= render "article" %>
            <div class="clear"></div>
        </div>
        <div class="pagin">
            <%= will_paginate @articles %>
        </div>
        <div class="clear"></div>
    </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
