<% title @article.title %>
<% description @article.description %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div itemscope itemtype="http://schema.org/Article">
    <div class="bl_new" style="background-image: url(<%= image_path("bg_new.webp")%>);">
        <div class="wrapper">
            <span></span>
            <div class="text1">Новости и акции</div>
            <div class="text2"><%= @article.title %></div>
            <p><%= truncate(strip_tags(@article.text.to_s), length: 200, separator: ' ') %></p>
            <div class="clear"></div>
        </div>
        <span style="display:none;" itemprop="author">Автопрокат Амиго</span>
        <div style="display:none;" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"> 
            <meta itemprop="name" content="Прокат авто Амиго">
            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"> 
                <link itemprop="url" href="https://amigorent.ru/logo.webp"> 
            </div>
        </div>
        <meta itemprop="datePublished" content="<%= @article.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>">
        <meta itemprop="image" content="<%= polymorphic_url(@article.image) %>">
        <meta itemprop="headline" content="<%= @article.title %>">
    </div>
    <div class="content2">
        <div class="wrapper">
            <p itemprop="articleBody">
                <%= @article.text %>
            </p>
        </div>
    </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
