<% title @article.title %>
<% description @article.description %>
<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="bl_full_statya" itemscope itemtype="http://schema.org/Article">
        <h1 itemprop="name"><%= @article.title %></h1>
        <span style="display:none;" itemprop="author">Автопрокат Амиго</span>
        <div style="display:none;" itemprop="publisher" itemscope itemtype="http://schema.org/Organization"> 
            <meta itemprop="name" content="Прокат авто Амиго">
            <div itemprop="logo" itemscope itemtype="http://schema.org/ImageObject"> 
                <link itemprop="url" href="https://amigorent.ru/logo.png"> 
            </div>
        </div>
        <meta itemprop="datePublished" content="<%= @article.updated_at.strftime("%Y-%m-%d %H:%M:%S") %>">
        <meta itemprop="image" content="<%= polymorphic_url(@article.image) %>">
        <meta itemprop="headline" content="<%= @article.title %>">
        <div class="data"><%= @article.updated_at.strftime("%d.%m.%Y") %></div>
        <div class="clear"></div>
        <div itemprop="articleBody"><%= @article.text %></div>
        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="https://yastatic.net/share2/share.js"></script>
        <div><%= t 'cars.share'%>:</div>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,viber,whatsapp,telegram"></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
