<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
        <%= render 'shared/bread'%>
    <div class="success_page" style="text-align:center; margin-top:30px;">
        <div class="block_vopros">
          <div class="vopros">
            <div class="zagol" style="margin: 0;"><h1 style="text-align:center; font-size: 29px; letter-spacing: 3px;">Вы успешно подали заявку на бронирование автомобиля</h1></div>
            <p style="text-align:center;">
              <%= image_pack_tag "galka.webp", style: "width:200px;", alt: "Галочка", title: "Галочка" %>
            </p>
            <div class="zagol" style="font-size: 29px; margin: 0; letter-spacing: 3px;">Мы свяжемся с вами в ближайщее время, если этого не произойдет, позвоните нам!<span></span></div>
            <div class="otv" style="display: block;">Обращаем ваше внимание, что оформление заявки не является бронированием! 
                      По результатам обработки заявки, ответ придет на вашу электронную почту или WhatsApp. 
                      (не забудьте проверить нежелательную почту)
            </div>
            <div class="otv" style="display: block; padding-top: 0;">
              <p>Мессенджеры:
                <a href="https://wa.me/79217101615" style="text-decoration: none;" rel="nofollow" target="_blank">
                  <%= image_pack_tag "whatsapp.webp", style: "width:30px;", alt: "whatsapp", title: "whatsapp" %>
                </a>
                <a href="https://viber.click/79217101615" style="text-decoration: none;" rel="nofollow" target="_blank">
                  <%= image_pack_tag "viber.webp", style: "width:30px;", alt: "viber", title: "viber" %>
                </a>
                <a href="https://t.me/amigorent_ru" style="text-decoration: none;" rel="nofollow" target="_blank">
                  <%= image_pack_tag "telegram.webp", style: "width:30px;", alt: "telegram", title: "telegram" %>
                </a>
              </p>
              <h2>
                  Чтобы быть в курсе актуальных новостей, акций и спецпредложений, подпишитесь на нас в соцсетях:
              </h2>
              <div class="social">
                  <a href="https://instagram.com/amigorent" style="text-decoration: none;" rel="nofollow" target="_blank">
                    <%= image_pack_tag "s1.webp", alt: "instagram", title: "instagram" %>
                  </a>
                  <a href="https://vk.com/amigorent" style="text-decoration: none;" target="_blank" rel="nofollow" >
                    <%= image_pack_tag "s2.webp", alt: "vk", title: "vk"  %>
                  </a>
                  <a href="https://www.facebook.com/amigorent" style="text-decoration: none;" target="_blank" rel="nofollow" >
                    <%= image_pack_tag "s3.webp", alt: "facebook", title: "facebook"  %>
                  </a>
                  <a href="https://www.youtube.com/c/amigorent" style="text-decoration: none;" rel="nofollow" target="_blank">
                    <%= image_pack_tag "s4.webp", style: "wigth:25px;height:25px;", alt: "youtube", title: "youtube" %>
                  </a>
              </div>
              <%= @text.success.html_safe %>
            </div>
          </div>
        </div>
        <%# <p>Чтобы процесс оформления договора аренды был быстрее, пришлите нам фото паспорта (первая страница и прописка) и водительского удостоверения.</p>
        <p>На почту: <a href="mailto:amigorent@ya.ru">amigorent@ya.ru</a></p> %>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
