
<div class="header" itemscope itemtype="http://schema.org/WPHeader">
  <meta itemprop="headline" content="Прокат автомобилей Амиго">
    <meta itemprop="description" content="✔️ Честный прокат автомобилей в Калининграде. Дружественное отношение к клиенту, низкие цены на аренду авто, от 700₽, страховка КАСКО. Обращайтесь!">
    <div class="wrapper">
        <a href="/russia/<%= @city.url_name %>" id="logo">
          <%= image_tag("logo.webp", alt: "#{t 'header.logo_meta'}", title: "#{t 'header.logo_meta'}") %>
        </a>
        <div id="menu_tg2">
            <span></span>
            <span></span>
            Меню
        </div>
        <%# Мобильное меню %>
        <ul class="menu_mob">
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(cars_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.cars' %>
                  </a>
                <% else %>
                  <%= link_to cars_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.cars' %>
                  <% end %>
                <% end %>
              <% else %>
                <% if current_page?(cars_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.cars' %>
                  </a>
                  <% else %>
                    <%= link_to cars_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.cars' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(prices_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.prices' %>
                  </a>
                  <% else %>
                    <%= link_to prices_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.prices' %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_page?(prices_path) %>
                    <a href="" onclick="return false">
                      <%= t 'header.prices' %>
                    </a>
                  <% else %>
                    <%= link_to prices_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.prices' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(contacts_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.contacts' %>
                  </a>
                <% else %>
                  <%= link_to contacts_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.contacts' %>
                  <% end %>
                <% end %>
                <% else %>
                  <% if current_page?(contacts_path) %>
                    <a href="" onclick="return false">
                        <%= t 'header.contacts' %>
                    </a>
                  <% else %>
                    <%= link_to contacts_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.contacts' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
        </ul>
        <%# Основное меню %>
        <ul class="menu_top">
            <li>
                <% if I18n.locale == :en %>
                  <% if current_page?(cars_path) %>
                    <a href="" onclick="return false">
                      <%= t 'header.cars' %>
                    </a>
                  <% else %>
                    <%= link_to cars_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.cars' %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_page?(cars_path) %>
                    <a href="" onclick="return false">
                      <%= t 'header.cars' %>
                    </a>
                    <% else %>
                      <%= link_to cars_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                        <%= t 'header.cars' %>
                      <% end %>
                  <% end %>
                <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(prices_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.prices' %>
                  </a>
                  <% else %>
                    <%= link_to prices_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.prices' %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_page?(prices_path) %>
                    <a href="" onclick="return false">
                      <%= t 'header.prices' %>
                    </a>
                  <% else %>
                    <%= link_to prices_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.prices' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(terms_path) %>
                  <a href="" onclick="return false">
                    Terms
                  </a>
                  <% else %>
                    <%= link_to terms_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                      Terms
                    <% end %>
                  <% end %>
                <% else %>
                <% if current_page?(terms_path) %>
                  <a href="" onclick="return false">
                    Условия
                  </a>
                  <% else %>
                    <%= link_to terms_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      Условия
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(contacts_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.contacts' %>
                  </a>
                <% else %>
                  <%= link_to contacts_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.contacts' %>
                  <% end %>
                <% end %>
                <% else %>
                  <% if current_page?(contacts_path) %>
                    <a href="" onclick="return false">
                        <%= t 'header.contacts' %>
                    </a>
                  <% else %>
                    <%= link_to contacts_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.contacts' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
        </ul>
        
        <div class="gorod" style="float: right;">
            <span><%= @city.name %></span>
            <a href="#">Выбрать город</a>
            <div class="vipad">
                <a href="/" >Калининград</a>
              <% cities_list.each do |city| %>
                <a href="/russia/<%= city.url_name %>" class="<%= request.path.include?(city.url_name) ? 'active' : '' %>"><%= city.name %></a>
                <%# <a href="#" class="active">Калининград</a> %>
              <% end %>
            </div>
        </div>
        <div class="lang">
          <% link_to root_path(locale: :en) do %>
            <% if I18n.locale == :en %>
              <span class="active">EN</span>
            <% else %>
              <span class="">EN</span>
            <% end %>
          <% end %>
          <%# /  %>
          <% link_to root_path do %>
            <% if I18n.locale == :ru %>
              <span class="active">RU</span>
            <% else %>
              <span class="">RU</span>
            <% end %>
          <% end %>
        </div>
        <div class="clear"></div>
    </div>
</div>