<div class="footer">
        <div class="wrapper" itemscope itemtype="http://schema.org/LocalBusiness">
            <meta itemprop="name" content="Прокат авто Амиго">
            <div style="display:none;" itemprop="image" itemscope itemtype="http://schema.org/ImageObject"> 
                <link itemprop="url" href="https://amigorent.ru/logo.png"> 
            </div>
            <div style="display:none;" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress"><%= @city.address %></span>
                <span itemprop="addressLocality"><%= @city.name %></span>,
                <span itemprop="addressRegion">RU</span>
                <span itemprop="telephone">8 800 100-39-73</span>
            </div>
            <div class="col1">
                <a href="/russia/<%= @city.url_name %>" id="logo2">
                  <%= image_tag("logo.webp", alt: "Логотип", title: "Логотип") %>
                </a>
                <p><%= t 'footer.copyright_html', year: Time.now.year %></p>
            </div>
            <div class="col2">
                <div class="zag">Разделы сайта</div>
                <ul>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(cars_path) %>
                            <a href="" onclick="return false">
                                <%= t 'header.cars' %>
                            </a>
                            <% else %>
                            <%= link_to cars_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'header.cars' %>
                            <% end %>
                            <% end %>
                        <% else %>
                            <% if current_page?(cars_path) %>
                            <a href="" onclick="return false">
                                <%= t 'header.cars' %>
                            </a>
                            <% else %>
                                <%= link_to cars_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'header.cars' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(prices_path) %>
                            <a href="" onclick="return false">
                                <%= t 'header.prices' %>
                            </a>
                            <% else %>
                                <%= link_to prices_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'header.prices' %>
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(prices_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.prices' %>
                                </a>
                            <% else %>
                                <%= link_to prices_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'header.prices' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                    <% if I18n.locale == :en %>
                        <% if current_page?(casko_path) %>
                            <a href="" onclick="return false">
                                <%= t 'footer.casko' %>
                            </a>
                        <% else %>
                            <%= link_to casko_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'footer.casko' %>
                            <% end %>
                        <% end%>
                        <% else %>
                        <% if current_page?(casko_path) %>
                            <a href="" onclick="return false">
                                <%= t 'footer.casko' %>
                            </a>
                        <% else %>
                            <%= link_to casko_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'footer.casko' %>
                            <% end %>
                        <% end%>
                    <% end %>
                </li>
                <li>
                    <% if I18n.locale == :en %>
                        <% if current_page?(full_insurance_path) %>
                            <a href="" onclick="return false">
                                <%= t 'footer.insurance' %>
                            </a>
                        <% else %>
                            <%= link_to full_insurance_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'footer.insurance' %>
                            <% end %>
                        <% end%>
                        <% else %>
                        <% if current_page?(full_insurance_path) %>
                            <a href="" onclick="return false">
                                <%= t 'footer.insurance' %>
                            </a>
                        <% else %>
                            <%= link_to full_insurance_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'footer.insurance' %>
                            <% end %>
                        <% end%>
                    <% end %>
                </li>
                </ul>
            </div>
            <div class="col2">
                <div class="zag"><%= t 'footer.clients' %></div>
                <ul>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(terms_path) %>
                            <a href="" onclick="return false">
                                Terms
                            </a>
                            <% else %>
                                <%= link_to terms_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                                Terms
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(terms_path) %>
                            <a href="" onclick="return false">
                                Условия
                            </a>
                            <% else %>
                                <%= link_to terms_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                                Условия
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(sales_system_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.sales' %>
                                </a>
                            <% else %>
                                <%= link_to sales_system_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.sales' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(sales_system_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.sales' %>
                                </a>
                            <% else %>
                                <%= link_to sales_system_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.sales' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(corporativnym_clientam_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.corp' %>
                                </a>
                            <% else %>
                                <%= link_to corporativnym_clientam_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.corp' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(corporativnym_clientam_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.corp' %>
                                </a>
                            <% else %>
                                <%= link_to corporativnym_clientam_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.corp' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(payment_methods_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.payments' %>
                                </a>
                            <% else %>
                                <%= link_to payment_methods_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.payments' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(payment_methods_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.payments' %>
                                </a>
                            <% else %>
                                <%= link_to payment_methods_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.payments' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <div class="col3">
                <% if I18n.locale == :en %>
                    <div class="zag">Usefull</div>
                    <ul>
                        <li>
                            <p class="copy">We work on <%= link_to "CRM RentProg", "https://rentprog.ru", class:"polz", style: "color: #f77d0a; margin: 0; text-align: center;"%></p>
                        </li>
                    </ul>
                <% else %>
                    <div class="zag">Полезное</div>
                    <ul>
                        <li>
                            <p class="copy">Мы используем <%= link_to "CRM RentProg", "https://rentprog.ru", class:"polz", style: "color: #f77d0a; margin: 0; text-align: center;"%></p>
                        </li>
                    </ul>
                <% end %>
            </div>
            <div class="col3">
                <% if I18n.locale == :en %>
                    <div class="zag">Contacts</div>
                    <p><%= @city.name_en %>,<br /><%= @city.address_en %></p>
                <% else %>
                    <div class="zag">Контакты</div>
                    <p>г. <%= @city.name %>,<br /><%= @city.address %></p>
                <% end %>
                <p><a href="tel:88001003973">8 800 100-39-73</a></p>
                <p><a href="mailto:amigorent@ya.ru">amigorent@ya.ru</a></p>
                <div class="social">
                    <a href="https://www.youtube.com/c/amigorent" rel="nofollow" target="_blank">
                        <%= image_tag "soc1.webp", alt: "youtube", title: "youtube" %>
                    </a>
                    <a href="https://instagram.com/amigorent" rel="nofollow" target="_blank">
                        <%= image_tag "soc2.webp", alt: "instagram", title: "instagram" %>
                    </a>
                    <a href="https://vk.com/amigorent" target="_blank" rel="nofollow" >
                        <%= image_tag "soc3.webp", alt: "vk", title: "vk" %>
                    </a>
                    <a href="https://www.facebook.com/amigorent" target="_blank" rel="nofollow" >
                        <%= image_tag "soc4.webp", alt: "facebook", title: "facebook" %>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>