
<div class="header" itemscope itemtype="http://schema.org/WPHeader">
  <meta itemprop="headline" content="Прокат автомобилей Амиго">
    <meta itemprop="description" content="✔️ Честный прокат автомобилей в Калининграде. Дружественное отношение к клиенту, низкие цены на аренду авто, от 700₽, страховка КАСКО. Обращайтесь!">
    <div class="wrapper">
      <% if I18n.locale == :en %>
        <% if @city.url_name != 'ekaterinburg' %>
          <a href="/russia/<%= @city.url_name %>?locale=en" id="logo">
            <%= image_tag("logo.webp", alt: "#{t 'header.logo_meta'}", title: "#{t 'header.logo_meta'}") %>
          </a>
        <% else %>
          <a href="<%= root_url.gsub("https://", "").gsub("http://", "") %>?locale=en" id="logo">
            <%= image_tag("logo.webp", alt: "#{t 'header.logo_meta'}", title: "#{t 'header.logo_meta'}") %>
          </a>
        <% end %>
      <% else %>
        <% if @city.url_name != 'ekaterinburg' %>
          <a href="/russia/<%= @city.url_name %>?locale=ru" id="logo">
            <%= image_tag("logo.webp", alt: "#{t 'header.logo_meta'}", title: "#{t 'header.logo_meta'}") %>
          </a>
        <% else %>
          <a href="<%= root_url.gsub("https://", "").gsub("http://", "") %>?locale=ru" id="logo">
            <%= image_tag("logo.webp", alt: "#{t 'header.logo_meta'}", title: "#{t 'header.logo_meta'}") %>
          </a>
        <% end %>
      <% end %>
        <div id="menu_tg2">
            <span></span>
            <span></span>
            Меню
        </div>
        <%# Мобильное меню %>
        <ul class="menu_mob">
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(cars_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.cars' %>
                  </a>
                <% else %>
                  <%= link_to cars_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.cars' %>
                  <% end %>
                <% end %>
              <% else %>
                <% if current_page?(cars_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.cars' %>
                  </a>
                  <% else %>
                    <%= link_to cars_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.cars' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(prices_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.prices' %>
                  </a>
                  <% else %>
                    <%= link_to prices_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.prices' %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_page?(prices_path) %>
                    <a href="" onclick="return false">
                      <%= t 'header.prices' %>
                    </a>
                  <% else %>
                    <%= link_to prices_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.prices' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(articles_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.articles' %>
                  </a>
                <% else %>
                  <%= link_to articles_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.articles' %>
                  <% end %>
                <% end %>
              <% else %>
                <% if current_page?(articles_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.articles' %>
                  </a>
                <% else %>
                  <%= link_to articles_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.articles' %>
                  <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(abouts_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.abouts' %>
                  </a>
                <% else %>
                  <%= link_to abouts_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.abouts' %>
                  <% end %>
                <% end %>
              <% else %>
                <% if current_page?(abouts_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.abouts' %>
                  </a>
                <% else %>
                  <%= link_to abouts_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.abouts' %>
                  <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(contacts_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.contacts' %>
                  </a>
                <% else %>
                  <%= link_to contacts_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.contacts' %>
                  <% end %>
                <% end %>
                <% else %>
                  <% if current_page?(contacts_path) %>
                    <a href="" onclick="return false">
                        <%= t 'header.contacts' %>
                    </a>
                  <% else %>
                    <%= link_to contacts_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.contacts' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
        </ul>
        <%# Основное меню %>
        <ul class="menu_top">
            <li>
                <% if I18n.locale == :en %>
                  <% if current_page?(cars_path) %>
                    <a href="" onclick="return false">
                      <%= t 'header.cars' %>
                    </a>
                  <% else %>
                    <%= link_to cars_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.cars' %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_page?(cars_path) %>
                    <a href="" onclick="return false">
                      <%= t 'header.cars' %>
                    </a>
                    <% else %>
                      <%= link_to cars_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                        <%= t 'header.cars' %>
                      <% end %>
                  <% end %>
                <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(prices_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.prices' %>
                  </a>
                  <% else %>
                    <%= link_to prices_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.prices' %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_page?(prices_path) %>
                    <a href="" onclick="return false">
                      <%= t 'header.prices' %>
                    </a>
                  <% else %>
                    <%= link_to prices_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.prices' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(terms_path) %>
                  <a href="" onclick="return false">
                    Terms
                  </a>
                  <% else %>
                    <%= link_to terms_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                      Terms
                    <% end %>
                  <% end %>
                <% else %>
                <% if current_page?(terms_path) %>
                  <a href="" onclick="return false">
                    Условия
                  </a>
                  <% else %>
                    <%= link_to terms_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                      Условия
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(reviews_path) %>
                  <a href="" onclick="return false">
                      <%= t 'header.reviews' %>
                  </a>
                  <% else %>
                    <%= link_to reviews_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.reviews' %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_page?(reviews_path) %>
                    <a href="" onclick="return false">
                        <%= t 'header.reviews' %>
                    </a>
                  <% else %>
                    <%= link_to reviews_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.reviews' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(abouts_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.abouts' %>
                  </a>
                <% else %>
                  <%= link_to abouts_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.abouts' %>
                  <% end %>
                <% end %>
              <% else %>
                <% if current_page?(abouts_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.abouts' %>
                  </a>
                <% else %>
                  <%= link_to abouts_path(city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.abouts' %>
                  <% end %>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if I18n.locale == :en %>
                <% if current_page?(contacts_path) %>
                  <a href="" onclick="return false">
                    <%= t 'header.contacts' %>
                  </a>
                <% else %>
                  <%= link_to contacts_path(locale: I18n.locale, city:  (params[:city] ? params[:city] : @city.name)) do %>
                    <%= t 'header.contacts' %>
                  <% end %>
                <% end %>
                <% else %>
                  <% if current_page?(contacts_path) %>
                    <a href="" onclick="return false">
                        <%= t 'header.contacts' %>
                    </a>
                  <% else %>
                    <%= link_to contacts_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                      <%= t 'header.contacts' %>
                    <% end %>
                <% end %>
              <% end %>
            </li>
            <li class="parent">
              <% if I18n.locale == :en %>
                <a>More</a>
              <% else %>
                <a>Ещё</a>
              <% end %>
                <ul>
                  <li>
                    <% if I18n.locale == :en %>
                      <% if current_page?(articles_path) %>
                        <a href="" onclick="return false">
                          <%= t 'header.articles' %>
                        </a>
                      <% else %>
                        <%= link_to articles_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                          <%= t 'header.articles' %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% if current_page?(articles_path) %>
                        <a href="" onclick="return false">
                          <%= t 'header.articles' %>
                        </a>
                      <% else %>
                        <%= link_to articles_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                          <%= t 'header.articles' %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </li>
                  <li>
                    <% if I18n.locale == :en %>
                        <% if current_page?(casko_path) %>
                            <a href="" onclick="return false">
                                <%= t 'footer.casko' %>
                            </a>
                        <% else %>
                            <%= link_to casko_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'footer.casko' %>
                            <% end %>
                        <% end%>
                        <% else %>
                        <% if current_page?(casko_path) %>
                            <a href="" onclick="return false">
                                <%= t 'footer.casko' %>
                            </a>
                        <% else %>
                            <%= link_to casko_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'footer.casko' %>
                            <% end %>
                        <% end%>
                    <% end %>
                </li>
                <li>
                    <% if I18n.locale == :en %>
                        <% if current_page?(full_insurance_path) %>
                            <a href="" onclick="return false">
                                <%= t 'footer.insurance' %>
                            </a>
                        <% else %>
                            <%= link_to full_insurance_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'footer.insurance' %>
                            <% end %>
                        <% end%>
                        <% else %>
                        <% if current_page?(full_insurance_path) %>
                            <a href="" onclick="return false">
                                <%= t 'footer.insurance' %>
                            </a>
                        <% else %>
                            <%= link_to full_insurance_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                <%= t 'footer.insurance' %>
                            <% end %>
                        <% end%>
                    <% end %>
                </li>
                  <li>
                      <% if I18n.locale == :en %>
                        <% if current_page?(transportnyi_autsorsing_path) %>
                          <a href="" onclick="return false">
                            <%= t 'header.outsorce' %>
                          </a>
                        <% else %>
                          <%= link_to transportnyi_autsorsing_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                            <%= t 'header.outsorce' %>
                          <% end %>
                        <% end%>
                      <% else %>
                        <% if current_page?(transportnyi_autsorsing_path) %>
                          <a href="" onclick="return false">
                            <%= t 'header.outsorce' %>
                          </a>
                        <% else %>
                          <%= link_to transportnyi_autsorsing_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                            <%= t 'header.outsorce' %>
                          <% end %>
                        <% end %>
                      <% end%>
                    </li>
                    <li>
                      <% if I18n.locale == :en %>
                        <% if current_page?(car_sharing_path) %>
                          <a href="" onclick="return false">
                            <%= t 'header.carsharing' %>
                          </a>
                        <% else %>
                          <%= link_to car_sharing_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                            <%= t 'header.carsharing' %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <% if current_page?(car_sharing_path) %>
                          <a href="" onclick="return false">
                            <%= t 'header.carsharing' %>
                          </a>
                        <% else %>
                          <%= link_to car_sharing_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                            <%= t 'header.carsharing' %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </li>
                    <li>
                      <% if I18n.locale == :en %>
                        <% if current_page?(arenda_avto_s_voditelem_path) %>
                          <a href="" onclick="return false">
                            <%= t 'header.avto_s_vod' %>
                          </a>
                        <% else %>
                          <%= link_to arenda_avto_s_voditelem_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                            <%= t 'header.avto_s_vod' %>
                          <% end %>
                        <% end %>
                      <% else %>
                        <% if current_page?(arenda_avto_s_voditelem_path) %>
                          <a href="" onclick="return false">
                            <%= t 'header.avto_s_vod' %>
                          </a>
                        <% else %>
                          <%= link_to arenda_avto_s_voditelem_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                            <%= t 'header.avto_s_vod' %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(sales_system_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.sales' %>
                                </a>
                            <% else %>
                                <%= link_to sales_system_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.sales' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(sales_system_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.sales' %>
                                </a>
                            <% else %>
                                <%= link_to sales_system_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.sales' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(corporativnym_clientam_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.corp' %>
                                </a>
                            <% else %>
                                <%= link_to corporativnym_clientam_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.corp' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(corporativnym_clientam_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.corp' %>
                                </a>
                            <% else %>
                                <%= link_to corporativnym_clientam_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.corp' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(payment_methods_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.payments' %>
                                </a>
                            <% else %>
                                <%= link_to payment_methods_path(locale: I18n.locale, city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.payments' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(payment_methods_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.payments' %>
                                </a>
                            <% else %>
                                <%= link_to payment_methods_path(city: (params[:city] ? params[:city] : @city.name)) do %>
                                    <%= t 'footer.payments' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                </ul>
            </li>
        </ul>
        
        <div class="gorod">
          <% if I18n.locale == :en %>
            <span>Kaliningrad</span>
            <a href="#">Select City</a>
            <div class="vipad">
                <a href="<%= root_url.gsub("ekaterinburg.", "") %>" >Kaliningrad</a>
              <% cities_list.each do |city| %>
                <% if city.url_name != 'ekaterinburg' %>
                  <a href="<%= root_url.gsub("ekaterinburg.", "") %>russia/<%= city.url_name %>?locale=en" class="<%= request.path.include?(city.url_name) ? 'active' : '' %>"><%= city.name_en %></a>
                <% elsif city.url_name == 'ekaterinburg' %>
                  <a href="https://ekaterinburg.amigorent.ru?locale=en" class="<%= request.path.include?(city.url_name) ? 'active' : '' %>"><%= city.name_en %></a>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <span><%= @city ? @city.name : 'Калининград' %></span>
            <a href="#">Выбрать город</a>
            <div class="vipad">
                <a href="<%= root_url.gsub("ekaterinburg.", "") %>" >Калининград</a>
              <% cities_list.each do |city| %>
                <% if city.url_name != 'ekaterinburg' %>
                  <a href="<%= root_url.gsub("ekaterinburg.", "") %>russia/<%= city.url_name %>?locale=ru" class="<%= request.path.include?(city.url_name) ? 'active' : '' %>"><%= city.name %></a>
                <% elsif city.url_name == 'ekaterinburg' %>
                  <a href="https://ekaterinburg.amigorent.ru?locale=ru" class="<%= request.path.include?(city.url_name) ? 'active' : '' %>"><%= city.name %></a>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="lang">
          <%= link_to root_path(locale: :en) do %>
            <% if I18n.locale == :en %>
              <span class="active">EN</span>
            <% else %>
              <span class="">EN</span>
            <% end %>
          <% end %>
          / 
          <%= link_to root_path do %>
            <% if I18n.locale == :ru %>
              <span class="active">RU</span>
            <% else %>
              <span class="">RU</span>
            <% end %>
          <% end %>
        </div>
        <div class="clear"></div>
    </div>
</div>