<div class="footer">
        <div class="wrapper" itemscope itemtype="http://schema.org/LocalBusiness">
            <meta itemprop="name" content="Прокат авто Амиго">
            <div style="display:none;" itemprop="image" itemscope itemtype="http://schema.org/ImageObject"> 
                <link itemprop="url" href="https://amigorent.ru/logo.png"> 
            </div>
            <div style="display:none;" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Невского 36 В</span>
                <span itemprop="addressLocality">Калининград</span>,
                <span itemprop="addressRegion">RU</span>
                <span itemprop="telephone">+7 (4012) 52-16-15</span>
            </div>
            <div class="col1">
                <a href="/" id="logo2">
                  <%= image_tag("logo.webp", alt: "Логотип", title: "Логотип") %>
                </a>
                <p><%= t 'footer.copyright_html', year: Time.now.year %></p>
            </div>
            <div class="col2">
                <% if I18n.locale == :en %>
                    <div class="zag">Sections</div>
                <% else %>
                    <div class="zag">Разделы сайта</div>
                <% end %>
                <ul>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(cars_path) %>
                            <a href="" onclick="return false">
                                <%= t 'header.cars' %>
                            </a>
                            <% else %>
                            <%= link_to cars_path(locale: I18n.locale) do %>
                                <%= t 'header.cars' %>
                            <% end %>
                            <% end %>
                        <% else %>
                            <% if current_page?(cars_path) %>
                            <a href="" onclick="return false">
                                <%= t 'header.cars' %>
                            </a>
                            <% else %>
                                <%= link_to cars_path do %>
                                <%= t 'header.cars' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(prices_path) %>
                            <a href="" onclick="return false">
                                <%= t 'header.prices' %>
                            </a>
                            <% else %>
                                <%= link_to prices_path(locale: I18n.locale) do %>
                                <%= t 'header.prices' %>
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(prices_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.prices' %>
                                </a>
                            <% else %>
                                <%= link_to prices_path do %>
                                <%= t 'header.prices' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(casko_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.casko' %>
                                </a>
                            <% else %>
                                <%= link_to casko_path(locale: I18n.locale) do %>
                                    <%= t 'footer.casko' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(casko_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.casko' %>
                                </a>
                            <% else %>
                                <%= link_to casko_path do %>
                                    <%= t 'footer.casko' %>
                                <% end %>
                            <% end%>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(full_insurance_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.insurance' %>
                                </a>
                            <% else %>
                                <%= link_to full_insurance_path(locale: I18n.locale) do %>
                                    <%= t 'footer.insurance' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(full_insurance_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.insurance' %>
                                </a>
                            <% else %>
                                <%= link_to full_insurance_path do %>
                                    <%= t 'footer.insurance' %>
                                <% end %>
                            <% end%>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(deliveries_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.delivery' %>
                                </a>
                            <% else %>
                                <%= link_to deliveries_path(locale: I18n.locale) do %>
                                    <%= t 'footer.delivery' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(deliveries_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.delivery' %>
                                </a>
                            <% else %>
                                <%= link_to deliveries_path do %>
                                    <%= t 'footer.delivery' %>
                                <% end %>
                            <% end%>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(abouts_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.abouts' %>
                                </a>
                            <% else %>
                                <%= link_to abouts_path(locale: I18n.locale) do %>
                                <%= t 'header.abouts' %>
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(abouts_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.abouts' %>
                                </a>
                            <% else %>
                                <%= link_to abouts_path do %>
                                <%= t 'header.abouts' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <div class="col2">
                <div class="zag"><%= t 'footer.clients' %></div>
                <ul>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(services_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.services' %>
                                </a>
                            <% else %>
                                <%= link_to services_path(locale: I18n.locale) do %>
                                    <%= t 'footer.services' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(services_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.services' %>
                                </a>
                            <% else %>
                                <%= link_to services_path do %>
                                    <%= t 'footer.services' %>
                                <% end %>
                            <% end%>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "#{t 'footer.equipment'}", prices_url(:anchor => "dop-table") %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(sales_system_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.sales' %>
                                </a>
                            <% else %>
                                <%= link_to sales_system_path(locale: I18n.locale) do %>
                                    <%= t 'footer.sales' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(sales_system_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.sales' %>
                                </a>
                            <% else %>
                                <%= link_to sales_system_path do %>
                                    <%= t 'footer.sales' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(corporativnym_clientam_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.corp' %>
                                </a>
                            <% else %>
                                <%= link_to corporativnym_clientam_path(locale: I18n.locale) do %>
                                    <%= t 'footer.corp' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(corporativnym_clientam_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.corp' %>
                                </a>
                            <% else %>
                                <%= link_to corporativnym_clientam_path do %>
                                    <%= t 'footer.corp' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(payment_methods_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.payments' %>
                                </a>
                            <% else %>
                                <%= link_to payment_methods_path(locale: I18n.locale) do %>
                                    <%= t 'footer.payments' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(payment_methods_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.payments' %>
                                </a>
                            <% else %>
                                <%= link_to payment_methods_path do %>
                                    <%= t 'footer.payments' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(partners_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.partners' %>
                                </a>
                            <% else %>
                                <%= link_to partners_path(locale: I18n.locale) do %>
                                    <%= t 'footer.partners' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(partners_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'footer.partners' %>
                                </a>
                            <% else %>
                                <%= link_to partners_path do %>
                                    <%= t 'footer.partners' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(terms_path) %>
                            <a href="" onclick="return false">
                                Terms
                            </a>
                            <% else %>
                                <%= link_to terms_path(locale: I18n.locale) do %>
                                Terms
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(terms_path) %>
                            <a href="" onclick="return false">
                                Условия
                            </a>
                            <% else %>
                                <%= link_to terms_path do %>
                                Условия
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <div class="col3">
                <% if I18n.locale == :en %>
                    <div class="zag">Useful</div>
                <% else %>
                    <div class="zag">Полезное</div>
                <% end %>
                <ul>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(articles_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.articles' %>
                                </a>
                            <% else %>
                                <%= link_to articles_path(locale: I18n.locale) do %>
                                <%= t 'header.articles' %>
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(articles_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.articles' %>
                                </a>
                            <% else %>
                                <%= link_to articles_path do %>
                                <%= t 'header.articles' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(faqs_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.faqs' %>
                                </a>
                            <% else %>
                                <%= link_to faqs_path(locale: I18n.locale) do %>
                                <%= t 'header.faqs' %>
                                <% end %>
                            <% end%>
                            <% else %>
                            <% if current_page?(faqs_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.faqs' %>
                                </a>
                            <% else %>
                                <%= link_to faqs_path do %>
                                <%= t 'header.faqs' %>
                                <% end %>
                            <% end %>
                            <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(reviews_path) %>
                            <a href="" onclick="return false">
                                <%= t 'header.reviews' %>
                            </a>
                            <% else %>
                                <%= link_to reviews_path(locale: I18n.locale) do %>
                                <%= t 'header.reviews' %>
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(reviews_path) %>
                                <a href="" onclick="return false">
                                    <%= t 'header.reviews' %>
                                </a>
                            <% else %>
                                <%= link_to reviews_path do %>
                                <%= t 'header.reviews' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(arenda_avto_s_voditelem_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.avto_s_vod' %>
                                </a>
                            <% else %>
                                <%= link_to arenda_avto_s_voditelem_path(locale: I18n.locale) do %>
                                <%= t 'header.avto_s_vod' %>
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(arenda_avto_s_voditelem_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.avto_s_vod' %>
                                </a>
                            <% else %>
                                <%= link_to arenda_avto_s_voditelem_path do %>
                                <%= t 'header.avto_s_vod' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <% if current_page?(conditions_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.conditions' %>
                                </a>
                            <% else %>
                                <%= link_to conditions_path(locale: I18n.locale) do %>
                                <%= t 'header.conditions' %>
                                <% end %>
                            <% end %>
                            <% else %>
                            <% if current_page?(conditions_path) %>
                                <a href="" onclick="return false">
                                <%= t 'header.conditions' %>
                                </a>
                            <% else %>
                                <%= link_to conditions_path do %>
                                <%= t 'header.conditions' %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <% if I18n.locale == :en %>
                            <p class="copy">We use <%= link_to "CRM RentProg", "https://rentprog.ru", class:"polz", style: "color: #f77d0a; margin: 0; text-align: center;"%></p>
                        <% else %>
                            <p class="copy">Мы используем <%= link_to "CRM RentProg", "https://rentprog.ru", class:"polz", style: "color: #f77d0a; margin: 0; text-align: center;"%></p>
                        <% end %>
                    </li>
                </ul>
            </div>
            <div class="col3">
                <% if I18n.locale == :en %>
                    <div class="zag">Contacts</div>
                    <p>Kaliningrad,<br />Nevskogo street 36-V</p>
                <% else %>
                    <div class="zag">Контакты</div>
                    <p>г. Калининград,<br />ул. А. Невского 36-В</p>
                <% end %>
                <p><a href="tel:+79217101615">+7 (921) 710-16-15</a></p>
                <p><a href="mailto:amigorent@ya.ru">amigorent@ya.ru</a></p>
                <div class="social">
                    <a href="https://www.youtube.com/c/amigorent" rel="nofollow" target="_blank">
                        <%= image_tag "soc1.webp", alt: "youtube", title: "youtube" %>
                    </a>
                    <a href="https://instagram.com/amigorent" rel="nofollow" target="_blank">
                        <%= image_tag "soc2.webp", alt: "instagram", title: "instagram" %>
                    </a>
                    <a href="https://vk.com/amigorent" target="_blank" rel="nofollow" >
                        <%= image_tag "soc3.webp", alt: "vk", title: "vk" %>
                    </a>
                    <a href="https://www.facebook.com/amigorent" target="_blank" rel="nofollow" >
                        <%= image_tag "soc4.webp", alt: "facebook", title: "facebook" %>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>