<div class="footer">
        <div class="wrapper">
            <div class="col1">
                <a href="/" id="logo2">
                  <%= image_tag("logo.webp")%>
                </a>
                <p><%= t 'footer.copyright_html', year: Time.now.year %></p>
            </div>
            <div class="col2">
                <div class="zag">Разделы сайта</div>
                <ul>
                    <li>
                        <a href="#">Автопарк</a>
                    </li>
                    <li>
                        <a href="#">Цены</a>
                    </li>
                    <li>
                        <a href="#">КАСКО</a>
                    </li>
                    <li>
                        <a href="#">Полная страховка</a>
                    </li>
                    <li>
                        <a href="#">Доставка</a>
                    </li>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                </ul>
            </div>
            <div class="col2">
                <div class="zag">Для клиентов</div>
                <ul>
                    <li>
                        <a href="#">Услуги</a>
                    </li>
                    <li>
                        <a href="#">Доп. оборудование</a>
                    </li>
                    <li>
                        <a href="#">Система скидок</a>
                    </li>
                    <li>
                        <a href="#">Корпоративным клиентам</a>
                    </li>
                    <li>
                        <a href="#">Способы оплаты</a>
                    </li>
                    <li>
                        <a href="#">Условия аренды</a>
                    </li>
                </ul>
            </div>
            <div class="col3">
                <div class="zag">Полезное</div>
                <ul>
                    <li>
                        <a href="#">Новости и акции</a>
                    </li>
                    <li>
                        <a href="#">Вопрос-Ответ</a>
                    </li>
                    <li>
                        <a href="#">Отзывы</a>
                    </li>
                    <li>
                        <a href="#">Аренда авто с водителем</a>
                    </li>
                </ul>
            </div>
            <div class="col3">
                <div class="zag">Контакты</div>
                <p>г. Калинингоад,<br />ул. А. Невского 36Б</p>
                <p><a href="tel:+79020371122">+7 (902) 037-11-22</a></p>
                <p><a href="mailto:amigorent@ya.ru">amigorent@ya.ru</a></p>
                <div class="social">
                    <a href="#" target="_blank">
                      <%= image_tag("soc1.webp")%>
                    </a>
                    <a href="#" target="_blank">
                      <%= image_tag("soc2.webp")%>
                    </a>
                    <a href="#" target="_blank">
                      <%= image_tag("soc3.webp")%>
                    </a>
                    <a href="#" target="_blank">
                      <%= image_tag("soc4.webp")%>
                    </a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>