<div class="footer">
    <div class="wrapper">
        <div class="col1">
            <div class="zg">Центральный офис</div>
            <div class="adr">г. Калининград, ул.А. Невского 36В</div>
            <a href="tel:+7 (4012) 52-16-15" class="tel">+7 (4012) 52-16-15</a>
            <a href="mailto:amigorent@ya.ru" class="mai">amigorent@ya.ru</a>
            <%= link_to "Пользовательское соглашение", conditions_path, class:"polz" %>
            <p class="copy">&copy; 2010-2020. Автопрокат Амиго. <br />Все права защищены.</p>
        </div>
        <div class="col2">
            <div class="zg">Разделы сайта</div>
            <ul>
                <li>
                    <%= link_to "Автопарк", cars_path %>
                </li>
                <li>
                    <%= link_to "Цены", prices_path %>
                </li>
                <li>
                    <%= link_to "Доставка", deliveries_path %>
                </li>
                <li>
                    <%= link_to "О компании", abouts_path %>
                </li>
            </ul>
        </div>
        <div class="col3">
            <div class="zg">Для клиентов</div>
            <ul>
                <li>
                    <%= link_to "Услуги", services_path %>
                </li>
                <li>
                    <%= link_to "Доп оборудование", prices_url(:anchor => "dop-table") %>
                </li>
                <li>
                    <%= link_to "Система скидок", sales_system_path %>
                </li>
                <li>
                    <%= link_to "Корпоративным клиентам", corporativnym_clientam_path %>
                </li>
                <li>
                    <%= link_to "Способы оплаты", payment_methods_path %>
                </li>
                <li>
                    <%= link_to "Условия аренды", terms_path %>
                </li>
            </ul>
        </div>
        <div class="col4">
            <div class="col41">
                <div class="zg">Полезное</div>
                <ul>
                    <li>
                        <%= link_to "Новости и акции", articles_path %>
                    </li>
                    <li>
                        <%= link_to "Вопрос-Ответ", faqs_path %>
                    </li>
                    <li>
                        <%= link_to "Отзывы", reviews_path %>
                    </li>
                    <li>
                        <%= link_to "Аренда авто с водителем", "#" %>
                    </li>
                </ul>
            </div>
            <div class="col42">
                <a href="https://www.youtube.com/c/amigorent" rel="nofollow" target="_blank">
                  <%= image_tag "youtube.png", alt: "", title: "" %>
                </a>
                <a href="https://instagram.com/amigorent" rel="nofollow" target="_blank">
                  <%= image_tag "sc2.png", alt: "", title: "" %>
                </a>
                <a href="https://vk.com/amigorent" target="_blank" rel="nofollow" >
                  <%= image_tag "sc3.png", alt: "", title: "" %>
                </a>
                <a href="https://www.facebook.com/amigorent" target="_blank" rel="nofollow" >
                  <%= image_tag "sc4.png", alt: "", title: "" %>
                </a>
            </div>
            <div class="clear"></div>
            <a href="/" id="logo2">
              <%= image_tag "logo2.png", alt: "", title: "" %>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
