<div class="footer">
    <div class="wrapper">
        <div class="col1" itemscope itemtype="http://schema.org/LocalBusiness">
            <div class="zg"><%= t 'footer.office' %></div>
            <meta itemprop="name" content="Прокат авто Амиго">
            <div style="display:none;" itemprop="image" itemscope itemtype="http://schema.org/ImageObject"> 
                <link itemprop="url" href="https://amigorent.ru/logo.png"> 
            </div>
            <div style="display:none;" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Невского 36 В</span>
                <span itemprop="addressLocality">Калининград</span>,
                <span itemprop="addressRegion">RU</span>
            </div>
            <div class="adr"><%= t 'footer.address' %></div>
            <a href="tel:+7 (4012) 52-16-15" class="tel" itemprop="telephone">+7 (4012) 52-16-15</a>
            <a href="mailto:amigorent@ya.ru" class="mai">amigorent@ya.ru</a>
            <%= link_to "#{t 'footer.terms'}", conditions_path, class:"polz" %>
            <p class="copy"><%= t 'footer.copyright_html' %></p>
        </div>
        <div class="col2">
            <div class="zg"><%= t 'footer.sections' %></div>
            <ul>
                <li>
                    <%= link_to "#{t 'footer.cars'}", cars_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.prices'}", prices_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.casko'}", casko_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.insurance'}", full_insurance_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.delivery'}", deliveries_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.about'}", abouts_path %>
                </li>
            </ul>
        </div>
        <div class="col3">
            <div class="zg"><%= t 'footer.clients' %></div>
            <ul>
                <li>
                    <%= link_to "#{t 'footer.services'}", services_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.equipment'}", prices_url(:anchor => "dop-table") %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.sales'}", sales_system_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.corp'}", corporativnym_clientam_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.payments'}", payment_methods_path %>
                </li>
                <li>
                    <%= link_to "#{t 'footer.terms_rent'}", terms_path %>
                </li>
            </ul>
        </div>
        <div class="col4">
            <div class="col41">
                <div class="zg"><%= t 'footer.useful' %></div>
                <ul>
                    <li>
                        <%= link_to "#{t 'footer.news'}", articles_path %>
                    </li>
                    <li>
                        <%= link_to "#{t 'footer.faqs'}", faqs_path %>
                    </li>
                    <li>
                        <%= link_to "#{t 'footer.reviews'}", reviews_path %>
                    </li>
                    <li>
                        <%= link_to "#{t 'footer.driver'}", arenda_avto_s_voditelem_path %>
                    </li>
                </ul>
            </div>
            <div class="col42">
                <a href="https://www.youtube.com/c/amigorent" rel="nofollow" target="_blank">
                  <%= image_tag "youtube.png", alt: "youtube", title: "youtube" %>
                </a>
                <a href="https://instagram.com/amigorent" rel="nofollow" target="_blank">
                  <%= image_tag "sc2.png", alt: "instagram", title: "instagram" %>
                </a>
                <a href="https://vk.com/amigorent" target="_blank" rel="nofollow" >
                  <%= image_tag "sc3.png", alt: "vk", title: "vk" %>
                </a>
                <a href="https://www.facebook.com/amigorent" target="_blank" rel="nofollow" >
                  <%= image_tag "sc4.png", alt: "facebook", title: "facebook" %>
                </a>
            </div>
            <div class="clear"></div>
            <a href="/" id="logo2">
              <%= image_tag "logo2.png", alt: "Автопрокат Амиго", title: "Автопрокат Амиго" %>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
