<div class="polosa">
  <div class="wrapper">
    <div id="menu_tg1">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="privet">Дорогой друг, добро пожаловать в автопрокат <b>Амиго!</b></div>
    <div class="transl">
      <a href="#">
        <%= image_tag "tr1.png", alt: "", title: "" %>
      </a>
      <a href="#">
        <%= image_tag "tr2.png", alt: "", title: "" %>
      </a>
    </div>
    <div class="social">
      <a href="#" target="_blank">
        <%= image_tag "soc1.png", alt: "", title: "" %>
      </a>
      <a href="#" target="_blank">
        <%= image_tag "soc2.png", alt: "", title: "" %>
      </a>
      <a href="#" target="_blank">
        <%= image_tag "soc3.png", alt: "", title: "" %>
      </a>
      <a href="#" target="_blank">
        <%= image_tag "soc4.png", alt: "", title: "" %>
      </a>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="header">
  <div class="wrapper">
    <div id="menu_tg2">
      <span></span>
      <span></span>
      <span></span>
      Меню
    </div>
      <a href="/" id="logo">
        <%= image_tag "logo.png", alt: "", title: "" %>
        <h3>Прокат автомобилей</h3>
      </a>
      <div class="addr">
        Невского 36В, 3 этаж
        <b>Калининград</b>
      </div>
      <div class="phone">
        <a href="tel:+7 (921) 710-16-15">+7 (921) 710-16-15</a>
        <b><a href="tel:8 (800) 100-39-73">8 (800) 100-39-73</a></b>
      </div>
      <div class="vrem">
        Пн - Вс:
        <b>09:00 ~ 19:00</b>
      </div>
      <div class="rating">
        <div class="obo">
          <span>4.5</span>
          <%= image_tag "r1.png", alt: "", title: "" %>
          <%= image_tag "r1.png", alt: "", title: "" %>
          <%= image_tag "r1.png", alt: "", title: "" %>
          <%= image_tag "r1.png", alt: "", title: "" %>
          <%= image_tag "r05.png", alt: "", title: "" %>
          <%= image_tag "rat1.png", alt: "", title: "" %>
        </div>
        <div class="obo">
          <span>4.0</span>
          <%= image_tag "r1.png", alt: "", title: "" %>
          <%= image_tag "r1.png", alt: "", title: "" %>
          <%= image_tag "r1.png", alt: "", title: "" %>
          <%= image_tag "r1.png", alt: "", title: "" %>
          <%= image_tag "r0.png", alt: "", title: "" %>
          <%= image_tag "rat2.png", alt: "", title: "" %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <ul class="menu_top">
          <li>
              <%= link_to "Главная", root_path %>
          </li>
          <li class="<%= active_class?(cars_path) %>">
              <%= link_to cars_path do %>
                Автомобили
                <!--<span>&#9660;</span> -->
              <% end %>
              <!-- <ul>
                  <li>
                      <a href="#">Легковые</a>
                  </li>
                  <li>
                      <a href="#">Грузовые</a>
                  </li>
                  <li>
                      <a href="#">Легковые</a>
                  </li>
                  <li>
                      <a href="#">Грузовые</a>
                  </li>
              </ul> -->
          </li>
          <li class="<%= active_class?(prices_path) %>">
            <%= link_to "Цены", prices_path %>
          </li>
          <li class="<%= active_class?(contacts_path) %>">
            <%= link_to "Контакты", contacts_path %>
          </li>
          <li class="<%= active_class?(new_booking_path) %>">
            <%= link_to "Заказать", new_booking_path %>
          </li>
          <li class="<%= active_class?(reviews_path) %>">
            <%= link_to "Отзывы", reviews_path %>
          </li>
          <li class="<%= active_class?(terms_path) %>">
            <%= link_to "Условия", terms_path %>
          </li>
          <li class="<%= active_class?(faqs_path) %>">
            <%= link_to "Вопросы", faqs_path %>
          </li>
          <li class="<%= active_class?(abouts_path) %>">
            <%= link_to "О нас", abouts_path %>
          </li>
      </ul>
      <div class="clear"></div>
  </div>
</div>
