<% title @text.aeroport_title_en %>
<% description @text.aeroport_description_en %>
<%= render 'shared/header', cached: true %>
<div class="block_price">
    <div class="wrapper">
        <span></span>
        <div class="text1">With us you are always at the helm!</div>
        <div class="text2"><b>Car rental</b> at Khrabrovo</div>
        <div class="text3">Khrabrovo Airport</div>
        <%= link_to prices_path(locale: I18n.locale), class: "ceny" do %>
            Rental prices
        <% end %>
        <div class="clear"></div>
    </div>
</div>
<div class="block2 var2">
    <div class="wrapper" id="search_cars">
        <div class="zagol" style="padding-top: 30px;"><h1>Car rental at Khrabrovo airport</h1></div>
        <search_cars city="Калининград"></search_cars>
        <div class="clear"></div>
    </div>
</div>
<div class="content for_price">
    <div class="wrapper">
        <div class="bl_dostavka">
            <div class="zagol"><h2>PRICES FOR DELIVERY to Khrabrovo Airport</h2></div>
            <table>
                <thead>
                    <tr>
                        <th>Delivery / return point</th>
                        <th><b><%= @text.dop_table_worktime %></b></th>
                        <th><b><%= @text.dop_table_endtime %></b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Khrabrovo Airport</td>
                        <td><%= @text.aeroport_price %></td>
                        <td><%= @text.aeroport_price_unwork %></td>
                    </tr>
                </tbody>
            </table>
            <div class="kak_nayti">
                <div class="zagol">How to find a car?</div>
                <p>The meeting point for our clients at the airport. The car will be waiting for you under the left from the exit from the terminal with an advertising poster</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18358.58105740155!2d20.566620488860046!3d54.88848229117514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e31603a8b0ee83%3A0xe7f67dbeb3049451!2z0JzQtdC20LTRg9C90LDRgNC-0LTQvdGL0Lkg0LDRjdGA0L7Qv9C-0YDRgiDQmtCw0LvQuNC90LjQvdCz0YDQsNC0ICjQpdGA0LDQsdGA0L7QstC-KSDQuNC80LXQvdC4INC40LzQv9C10YDQsNGC0YDQuNGG0Ysg0JXQu9C40LfQsNCy0LXRgtGLINCf0LXRgtGA0L7QstC90Ys!5e0!3m2!1sru!2sus!4v1631089448738!5m2!1sru!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <%= image_tag "kak.webp", alt: "Схема", title: "Схема" %>
                <div class="clear"></div>
                <%= @text.aeroport_text_en.html_safe %>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="block4 var2">
    <div class="wrapper">
        <div class="zagol"><h1><%= @text.aeroport_avto_en %></h1></div>
        <div class="spis_avto active" id="spis1">
            <%= render 'cars' %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
