<% title @text.aeroport_title_en %>
<% description @text.aeroport_description_en %>
<%= render 'shared/header', cached: true %>
  <div class="bl_topp" style="background:url(<%= asset_path("bg_aeroport.jpg")%>) no-repeat center top transparent;">
    <div class="wrapper">
        <h1><%= @text.aeroport_h1_en %></h1>
        <%= render 'advantages' %>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="bread">
                <a href="/">Main /</a> Khrabrovo Airport
            </div>
            <div class="bl_dop">
                <h1>Prices for delivery to Khrabrovo Airport</h1>
                <table class="var2">
                    <thead>
                        <tr>
                            <td rowspan="2">Delivery / Return Point</td>
                            <td colspan="2">Price, rubles</td>
                        </tr>
                        <tr>
                            <td>09:00 - 19:00</td>
                            <td>19:00 - 09:00</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Khrabrovo Airport</td>
                            <td><%= @text.aeroport_price %></td>
                            <td><%= @text.aeroport_price_unwork %></td>
                        </tr>
                    </tbody>
                </table>
                <div class="clear"></div>
            </div>
            <div class="bl_full_text">
                <div class="thumb-wrap" style="text-align:center;">
                    <iframe width="800" height="420" src="https://www.youtube.com/embed/9ypIU_Xh5gU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <%= @text.aeroport_text_en.html_safe %>
                <div class="clear"></div>
            </div>
            <div class="bl_full_text article" style="text-align:center;">
                <%= image_tag "aero1.jpg", alt: "Khrabrovo Airport", title: "Khrabrovo Airport"  %>
                <p>Meeting point for our customers at the airport. The car will be waiting for you under the left poster to the terminal exit.</p>
                <div class="clear"></div>
            </div>
            <div class="bl_full_text article" style="text-align:center;">
                <%= image_tag "aero2.jpg", alt: "Khrabrovo Airport", title: "Khrabrovo Airport"  %>
                <div class="clear"></div>
            </div>
            <br />
            <div class="block4">
                <div class="wrapper">
                    <div class="zag"><%= @text.aeroport_avto_en %></div>
                    <div class="spis_avto">
                        <%= render "cars"%>
                        <div class="clear"></div>
                    </div>
                    <%= link_to "View All cars", cars_path, class: "all" %>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
<%= render 'shared/footer', cached: true %>
