<% title @text.baltyisk_title_en %>
<% description @text.baltyisk_description_en %>
<%= render 'shared/header', cached: true %>
<div class="block_price">
    <div class="wrapper">
        <span></span>
        <div class="text1">With us you are always at the helm!</div>
        <div class="text2"><b>Car rental</b> at Baltiysk</div>
        <div class="text3">Baltiysk</div>
        <%= link_to prices_path(locale: I18n.locale), class: "ceny" do %>
            Rental prices
        <% end %>
        <div class="clear"></div>
    </div>
</div>
<div class="block2 var2">
    <div class="wrapper" id="search_cars">
        <div class="zagol" style="padding-top: 30px;"><h1>Car rental in Baltiysk</h1></div>
        <search_cars city="Калининград"></search_cars>
        <div class="clear"></div>
    </div>
</div>
<div class="content for_price">
    <div class="wrapper">
        <div class="bl_dostavka">
            <div class="zagol"><h2>PRICES FOR DELIVERY to Baltiysk</h2></div>
            <table>
                <thead>
                    <tr>
                        <th>Delivery / return point</th>
                        <th><b><%= @text.dop_table_worktime %></b></th>
                        <th><b><%= @text.dop_table_endtime %></b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Baltiysk</td>
                        <td><%= @text.baltyisk_price %></td>
                        <td><%= @text.baltyisk_price_unwork %></td>
                    </tr>
                </tbody>
            </table>
            <div class="kak_nayti">
                <%= @text.baltyisk_text_en.html_safe %>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="block4 var2">
    <div class="wrapper">
        <div class="zagol"><%= @text.baltyisk_avto_en %></div>
        <div class="spis_avto active" id="spis1">
            <%= render 'cars' %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
