<% title @text.baltyisk_title_en %>
<% description @text.baltyisk_description_en %>
<%= render 'shared/header', cached: true %>
  <div class="bl_topp" style="background:url(<%= asset_path("bg_zelenogradsk.jpg")%>) no-repeat center top transparent;">
    <div class="wrapper">
      <h1><%= @text.baltyisk_h1_en %></h1>
      <%= render 'advantages' %>
    </div>
  </div>
  <div class="content">
      <div class="wrapper">
          <div class="bread">
              <a href="/">Main /</a> Baltyisk
          </div>
          <div class="bl_dop">
              <h1>Prices for delivery to Baltyisk</h1>
              <table class="var2">
                  <thead>
                      <tr>
                          <td rowspan="2">Delivery / Return Point</td>
                          <td colspan="2">Price, rubles</td>
                      </tr>
                      <tr>
                          <td>09:00 - 19:00</td>
                          <td>19:00 - 09:00</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Baltyisk</td>
                          <td><%= @text.baltyisk_price %></td>
                          <td><%= @text.baltyisk_price_unwork %></td>
                      </tr>
                  </tbody>
              </table>
              <div class="clear"></div>
          </div>
          <div class="bl_full_text">
              <%= @text.baltyisk_text_en.html_safe %>
              <div class="clear"></div>
          </div>
          <br />
          <div class="block4">
              <div class="wrapper">
                  <div class="zag"><%= @text.baltyisk_avto_en %></div>
                  <div class="spis_avto">
                      <%= render "cars"%>
                      <div class="clear"></div>
                  </div>
                  <%= link_to "View all cars", cars_path, class: "all" %>
                  <div class="clear"></div>
              </div>
          </div>
          <div class="clear"></div>
      </div>
  </div>
<%= render 'shared/footer', cached: true %>
