<% title @text.deliveries_title_en %>
<% description @text.deliveries_description_en %>
<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <div class="bread">
            <a href="/">Main</a> / Delivery
        </div>
        <div class="bl_dostavka">
            <div class="zagol">Delivery / Return outside office prices</div>
            <table>
                <thead>
                    <tr>
                        <th>Delivery / Return Point</th>
                        <th><b><%= @text.dop_table_worktime %></b></th>
                        <th><b><%= @text.dop_table_endtime %></b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kaliningrad (to the district)</td>
                        <td><%= @text.dop_table_city_price_worktime %></td>
                        <td><%= @text.dop_table_city_price_endtime %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_aeroport_hrabrovo_path do %>
                                Khrabrovo Airport
                            <% end %>
                        </td>
                        <td><%= @text.aeroport_price %></td>
                        <td><%= @text.aeroport_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_zelenogradsk_path do %>
                                Zelenogradsk
                            <% end %>
                        </td>
                        <td><%= @text.zelenogradsk_price %></td>
                        <td><%= @text.zelenogradsk_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_svetlogorsk_path do %>
                                Svetlogorsk
                            <% end %>
                        </td>
                        <td><%= @text.svetlogorsk_price %></td>
                        <td><%= @text.svetlogorsk_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_yantarnyi_path do %>
                                Yantarniy
                            <% end %>
                        </td>
                        <td><%= @text.yantarnyi_price %></td>
                        <td><%= @text.yantarnyi_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_baltyisk_path do %>
                                Baltiysk
                            <% end %>
                        </td>
                        <td><%= @text.baltyisk_price %></td>
                        <td><%= @text.baltyisk_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_pionerskyi_path do %>
                                Pionerskiy
                            <% end %>
                        </td>
                        <td><%= @text.pionerskyi_price %></td>
                        <td><%= @text.pionerskyi_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_chernyahovsk_path do %>
                                Chernyakhovsk
                            <% end %>
                        </td>
                        <td><%= @text.chernyahovsk_price %></td>
                        <td><%= @text.chernyahovsk_price_unwork %></td>
                    </tr>
                </tbody>
            </table>
            <p>The rental car may be delivered to anywhere in Kaliningrad and  Kaliningrad region. Delivery cost depends on the distance and time of  the day. If you ordered the delivery of the car in advance, then we are ready to deliver the car to you and rent it out at any time of the day. You can find the prices for delivering a car to different cities of the Kaliningrad region in the table above. If you are interested in delivery to another locality - call and we will calculate the cost. Car rental Amigo is the most comfortable  services and conditions for the client.</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="block4 var2">
    <div class="wrapper">
        <div class="zagol">Cars</div>
        <div class="spis_avto active" id="spis1">
            <%= render 'cars', cached: true %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
