<% title @text.deliveries_title %>
<% description @text.deliveries_description %>
<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <div class="bl_dop">
            <h1>Цены на доставку/возврат вне офиса</h1>
            <table class="var2">
                <thead>
                    <tr>
                        <td rowspan="2">Пункт доставки/возврата</td>
                        <td colspan="2">Цена, руб.</td>
                    </tr>
                    <tr>
                        <td><%= @text.dop_table_worktime %></td>
                        <td><%= @text.dop_table_endtime %></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Калининград (до окружной)</td>
                        <td><%= @text.dop_table_city_price_worktime %></td>
                        <td><%= @text.dop_table_city_price_endtime %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_aeroport_hrabrovo_path do %>
                                Аэропорт Храброво
                            <% end %>
                        </td>
                        <td><%= @text.aeroport_price %></td>
                        <td><%= @text.aeroport_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_zelenogradsk_path do %>
                                Зеленоградск
                            <% end %>
                        </td>
                        <td><%= @text.zelenogradsk_price %></td>
                        <td><%= @text.zelenogradsk_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_svetlogorsk_path do %>
                                Светлогорск
                            <% end %>
                        </td>
                        <td><%= @text.svetlogorsk_price %></td>
                        <td><%= @text.svetlogorsk_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_yantarnyi_path do %>
                                Янтарный
                            <% end %>
                        </td>
                        <td><%= @text.yantarnyi_price %></td>
                        <td><%= @text.yantarnyi_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_baltyisk_path do %>
                                Балтийск
                            <% end %>
                        </td>
                        <td><%= @text.baltyisk_price %></td>
                        <td><%= @text.baltyisk_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_pionerskyi_path do %>
                                Пионерский
                            <% end %>
                        </td>
                        <td><%= @text.pionerskyi_price %></td>
                        <td><%= @text.pionerskyi_price_unwork %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to arenda_avto_chernyahovsk_path do %>
                                Черняховск
                            <% end %>
                        </td>
                        <td><%= @text.chernyahovsk_price %></td>
                        <td><%= @text.chernyahovsk_price_unwork %></td>
                    </tr>
                </tbody>
            </table>
            <p>
                Доставка арендованного автомобиля осуществляется в любую точку города Калининграда и Калининградской области. Стоимость доставки зависит от расстояния и времени суток. Если вы заказали доставку машины заблаговременно, то мы готовы доставить авто к вам и выдать в прокат в любое время суток. С ценами доставки автомобиля в разные города Калининградской области можете ознакомиться в таблице выше. Если вас интересует доставка в другой населенный пункт – звоните, и мы рассчитаем стоимость. Автопрокат Амиго – это максимально комфортные для клиента услуги и условия. 
            </p>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
