<% title @text.yantarnyi_title %>
<% description @text.yantarnyi_description %>
<%= render 'shared/header', cached: true %>
  <div class="bl_topp" style="background:url(<%= asset_path("bg_zelenogradsk.jpg")%>) no-repeat center top transparent;">
    <div class="wrapper">
      <h1><%= @text.yantarnyi_h1 %></h1>
      <div class="blcks">
          <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="content">
      <div class="wrapper">
          <div class="bread">
              <a href="/">Главная /</a> Янтарный
          </div>
          <div class="bl_dop">
              <h1>Цены на доставку в Янтарный</h1>
              <table class="var2">
                  <thead>
                      <tr>
                          <td rowspan="2">Пункт доставки/возврата</td>
                          <td colspan="2">Цена, руб.</td>
                      </tr>
                      <tr>
                          <td>09:00 - 19:00</td>
                          <td>19:00 - 09:00</td>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Янтарный</td>
                          <td><%= @text.yantarnyi_price %></td>
                          <td><%= @text.yantarnyi_price_unwork %></td>
                      </tr>
                  </tbody>
              </table>
              <div class="clear"></div>
          </div>
          <div class="bl_full_text">
              <%= @text.yantarnyi_text %>
              <div class="clear"></div>
          </div>
          <br />
          <div class="block4">
              <div class="wrapper">
                  <div class="zag"><%= @text.yantarnyi_avto %></div>
                  <div class="spis_avto">
                      <%= render "cars"%>
                      <div class="clear"></div>
                  </div>
                  <%= link_to "Посмотреть все автомобили", cars_path, class: "all" %>
                  <div class="clear"></div>
              </div>
          </div>
          <div class="clear"></div>
      </div>
  </div>
<%= render 'shared/footer', cached: true %>
