<% title @text.yantarnyi_title %>
<% description @text.yantarnyi_description %>
<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <div class="bread">
            <a href="/">Главная</a> / <a href="/deliveries">Доставка</a> / Янтарный
        </div>
    </div>
</div>
<div class="block_price">
    <div class="wrapper">
        <span></span>
        <div class="text1">C нами ты всегда у руля!</div>
        <div class="text2"><b>Аренда автомобилей</b> в Калининграде</div>
        <div class="text3">Янтарный</div>
        <%= link_to prices_path(locale: I18n.locale), class: "ceny" do %>
            Цены на аренду
        <% end %>
        <div class="clear"></div>
    </div>
</div>
<div class="block2 var3">
    <div class="wrapper">
        <div class="zagol">Подобрать и заказать автомобиль</div>
        <form>
            <div class="obol">
                <input type="text" value="" placeholder="Дата начала аренды" name="" />
                <select>
                    <option>11:00</option>
                    <option>12:00</option>
                    <option>13:00</option>
                </select>
                <div class="clear"></div>
            </div>
            <div class="obol">
                <input type="text" value="" placeholder="Дата конца аренды" name="" />
                <select>
                    <option>11:00</option>
                    <option>12:00</option>
                    <option>13:00</option>
                </select>
                <div class="clear"></div>
            </div>
            <button>Поиск</button>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
</div>
<div class="content for_price">
    <div class="wrapper">
        <div class="bl_dostavka">
            <div class="zagol">ЦЕНЫ НА ДОСТАВКУ в Янтарный</div>
            <table>
                <thead>
                    <tr>
                        <th>Пункт доставки / возврата</th>
                        <th><b><%= @text.dop_table_worktime %></b></th>
                        <th><b><%= @text.dop_table_endtime %></b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Янтарный</td>
                        <td><%= @text.yantarnyi_price %></td>
                        <td><%= @text.yantarnyi_price_unwork %></td>
                    </tr>
                </tbody>
            </table>
            <div class="kak_nayti">
                <%= @text.yantarnyi_text.html_safe %>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="block4 var2">
    <div class="wrapper">
        <div class="zagol"><%= @text.yantarnyi_avto %></div>
        <div class="spis_avto active" id="spis1">
            <%= render 'cars', cached: true %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
