<% if (params[:city] && params[:city] != 'Калининград') %>
    <% title "Контакты автопроката Амиго в городе #{@city.name} | Автопрокат Амиго" %>
    <% description "Контакты автопроката Амиго в городе #{@city.name}. Адрес проката автомобилей Амиго в городе #{@city.name}." %>
<% else %>
    <% title @text.contacts_title %>
    <% description @text.contacts_description %>
<% end %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
  <div class="wrapper">
      <div class="bread">
        <%= render 'shared/bread'%>
      </div>
      <div class="zagol">Контактные данные</div>
      <% if params[:city] && params[:city] != 'Калининград' %>
        <div class="bl_contact">
          <p><span class="videl">Уважаемые клиенты! </span><br />Просьба, перед выходом к нам - звоните, при большом количестве заказов бывает, что все сотрудники на выезде</p>
          <div class="pol1">
              <div class="zag">Адрес офиса:</div>
              <p><%= @city.name %>, <%= @city.address %></p>
              <div class="zag">Телефон:</div>
              <p><a href="tel:88001003973"><span class="videl"><b>8 800 100-39-73</b></span></a></p>
              <div class="zag">
                  Мы в соц. сетях:
              </div>
              <p>
                  <a href="https://instagram.com/amigorent" rel="nofollow" target="_blank">
                    <%= image_tag "s1.webp", alt: "instagram", title: "instagram" %>
                  </a>
                  <a href="https://vk.com/amigorent" target="_blank" rel="nofollow" >
                    <%= image_tag "s2.webp", alt: "vk", title: "vk"  %>
                  </a>
                  <a href="https://www.facebook.com/amigorent" target="_blank" rel="nofollow" >
                    <%= image_tag "s3.webp", alt: "facebook", title: "facebook"  %>
                  </a>
                  <a href="https://www.youtube.com/c/amigorent" rel="nofollow" target="_blank">
                    <%= image_tag "s4.webp", style: "wigth:25px;height:25px; border-radius: 5px;", alt: "youtube", title: "youtube" %>
                  </a>
                  <p>Подпишитесь и получите скидку на аренду авто.</p>
              </p>
              <div class="zag">Режим работы</div>
              <p><span class="videl"><b>С 9:00 до 19:00</b></span> Без выходных;<br />По предварительной договоренности о заказе автомобиля - круглосуточно.</p>
              <div class="zag">
                  Способы оплаты:
              </div>
              <p>Наличными, банковской картой, безналичным переводом</p>
              <div class="zag">Наш E-mail:</div>
              <p><a mailto="amigorent@ya.ru">amigorent@ya.ru</a></p>
              <p><%# @text.contacts_phones.html_safe %></p>
          </div>
          <div class="clear"></div>
        </div>
      <% else %>
        <div class="bl_contact">
          <p><span class="videl">Уважаемые клиенты! </span><br />Просьба, перед выходом к нам - звоните, при большом количестве заказов бывает, что все сотрудники на выезде</p>
          <div class="pol1">
              <div class="zag">Адрес офиса:</div>
              <p>Калининград ул. А.Невского 36-В, ТЦ "Невский", 3 этаж - левое крыло</p>
              <div class="zag">Телефон:</div>
              <%= @text.contacts_phones.html_safe %>
              <%# <p><a href="tel:+74012640003"><span class="videl"><b>+7 (4012) 52-16-15</b></span></a> – городской номер</p>
              <p><a href="#"><b>+7 921 710-16-15</b></a> – Мобильный</p>
              <p><a href="tel:88001003973"><b>8 800 100-39-73</b></a> – звонок по России бесплатный <br />(с 10:00 до 20:00 Мск);</p> %>
              <p>Мессенджеры:
                <a href="whatsapp://send?phone=+79217101615" style="text-decoration: none;" rel="nofollow" target="_blank">
                  <%= image_tag "whatsapp.webp", style: "width:30px;", alt: "whatsapp", title: "whatsapp" %>
                </a>
                <a href="https://t.me/amigorent_ru" style="text-decoration: none;" rel="nofollow" target="_blank">
                  <%= image_tag "telegram.webp", style: "width:26px;", alt: "telegram", title: "telegram" %>
                </a>
              </p>
              <div class="zag">
                  Мы в соц. сетях:
              </div>
              <p>
                  <a href="https://instagram.com/amigorent" rel="nofollow" target="_blank">
                    <%= image_tag "s1.webp", alt: "instagram", title: "instagram" %>
                  </a>
                  <a href="https://vk.com/amigorent" target="_blank" rel="nofollow" >
                    <%= image_tag "s2.webp", alt: "vk", title: "vk"  %>
                  </a>
                  <a href="https://www.facebook.com/amigorent" target="_blank" rel="nofollow" >
                    <%= image_tag "s3.webp", alt: "facebook", title: "facebook"  %>
                  </a>
                  <a href="https://www.youtube.com/c/amigorent" rel="nofollow" target="_blank">
                    <%= image_tag "s4.webp", style: "wigth:25px;height:25px; border-radius: 5px;", alt: "youtube", title: "youtube" %>
                  </a>
                  <p>Подпишитесь и получите скидку на аренду авто.</p>
              </p>
              <div class="zag">Режим работы</div>
              <p><span class="videl"><b>С 9:00 до 19:00</b></span> Без выходных;<br />По предварительной договоренности о заказе автомобиля - круглосуточно.</p>
              <div class="zag">
                  Способы оплаты:
              </div>
              <p>Наличными, банковской картой, безналичным переводом</p>
              <div class="zag">Наш E-mail:</div>
              <p><a href="#">amigorent@ya.ru</a></p>
          </div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2303.963515326628!2d20.52668781586057!3d54.727856580291764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e315e437b8be95%3A0x4d46a22eb9d838f8!2z0YPQuy4g0JDQu9C10LrRgdCw0L3QtNGA0LAg0J3QtdCy0YHQutC-0LPQviwgMzbQsiwg0JrQsNC70LjQvdC40L3Qs9GA0LDQtCwg0JrQsNC70LjQvdC40L3Qs9GA0LDQtNGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgMjM2MDQx!5e0!3m2!1sru!2sua!4v1629993721634!5m2!1sru!2sua" width="780" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          <div class="clear"></div>
          <div class="zagol">Как нас найти?</div>
          <div class="video">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/ks610UJnChc" title="Схема прохода в офис" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <%= image_tag "shema.webp", class:"shema", alt: "Схема офиса", title: "Схема офиса" %>
          <div class="clear"></div>
          <%= image_tag "shema2.webp", class:"shema2", alt: "Схема офиса", title: "Схема офиса" %>
        </div>
      <% end %>
      <div class="clear"></div>
  </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
