<% title @contacts_title %>
<% description @contacts_description %>
<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <div class="bl_contact">
            <div class="slider">
                <ul class="bxslider">
                    <li>
                      <%= image_tag "enter.jpg", alt: "Вход в офис", title: "Вход в офис" %>
                    </li>
                </ul>
            </div>
            <div class="pol1">
                <h1>Контактные данные:</h1>
                <div class="zg2">
                  <%= image_tag "co1.png", alt: "Контактные данные", title: "Контактные данные" %>
                  Адрес офиса:
                </div>
                <p>Калининград ул. А.Невского 36В, ТЦ "Невский", 3 этаж - левое крыло</p>
                <p><b>Уважаемые клиенты! Просьба, перед выходом к нам - звоните, при большом количестве заказов бывает, что все сотрудники на выезде</b></p>
                <div class="zg2">
                  <%= image_tag "co2.png", alt: "Телефон", title: "Телефон" %>
                  Телефон:
                </div>
                <p><a href="tel:+74012521615" style="padding-right:10px;">+7 (4012) 52-16-15 </a><a href="tel:+79217101615"> +7 (921) 710-16-15</a></p>
                <p>Мессенджеры:
                  <a href="whatsapp://send?phone=+79217101615" style="text-decoration: none;" rel="nofollow" target="_blank">
                    <%= image_tag "whatsapp.png", style: "width:30px;", alt: "whatsapp", title: "whatsapp" %>
                  </a>
                  <a href="viber://add?number=79217101615" style="text-decoration: none;" rel="nofollow" target="_blank">
                    <%= image_tag "viber.png", style: "width:30px;", alt: "viber", title: "viber" %>
                  </a>
                  <a href="https://t.me/amigorent_ru" style="text-decoration: none;" rel="nofollow" target="_blank">
                    <%= image_tag "telegram.png", style: "width:30px;", alt: "telegram", title: "telegram" %>
                  </a>
                </p>
                <p><a href="tel:88001003973">8 800 100-39-73</a> <span>Звонок бесплатный по России (с 10:00 до 20:00 Мск);</span></p>
                <p>+7 (4012) 64 00 03; +7 (908) 290-09-08 <span style="color: #d67e2a;">Экстренный (круглосуточно)</span></p>
                <div class="zg2">
                  <%= image_tag "co3.png", alt: "E-mail", title: "E-mail" %>
                  E-mail:
                </div>
                <p>amigorent@ya.ru</p>
                <div class="zg2">
                    Мы в соц. сетях:
                </div>
                <div class="social">
                    <a href="https://instagram.com/amigorent" rel="nofollow" target="_blank">
                      <%= image_tag "s1.png", alt: "instagram", title: "instagram" %>
                    </a>
                    <a href="https://vk.com/amigorent" target="_blank" rel="nofollow" >
                      <%= image_tag "s2.png", alt: "vk", title: "vk"  %>
                    </a>
                    <a href="https://www.facebook.com/amigorent" target="_blank" rel="nofollow" >
                      <%= image_tag "s3.png", alt: "facebook", title: "facebook"  %>
                    </a>
                    <a href="https://www.youtube.com/c/amigorent" rel="nofollow" target="_blank">
                      <%= image_tag "s4.png", style: "wigth:25px;height:25px;", alt: "youtube", title: "youtube" %>
                    </a>
                    <p>Подпишитесь и получите скидку на аренду авто.</p>
                </div>
                <div class="zg2">
                  <%= image_tag "co4.png", alt: "Режим работы", title: "Режим работы" %>
                    Режим работы:
                </div>
                <p>С 9:00 до 19:00 Без выходных;<br /><span>По предварительной договоренности о заказе автомобиля - круглосуточно.</span></p>
                <div class="zg2">
                  <%= image_tag "co5.png", alt: "Способы оплаты", title: "Способы оплаты" %>
                    Способы оплаты:
                </div>
                <p>Наличными, банковской картой, безналичным переводом</p>
            </div>
            <%= image_tag "shema.jpg", alt: "Схема офиса", title: "Схема офиса", class: "pol2" %>
            <div class="clear"></div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ks610UJnChc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="bl_mapp">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2303.96344710462!2d20.526638516009207!3d54.72785778029164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e315e437b9785b%3A0x5c542fe26b15078d!2z0JDQstGC0L7Qv9GA0L7QutCw0YIg0JDQvNC40LPQvg!5e0!3m2!1sru!2sru!4v1589366750583!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="wrapper">
        <div class="bl_connt">
            <div class="zg">Помогите нам стать лучше!</div>
            <%= form_with(model: @contact, action: "create")  do |f| %>
              <%= f.text_field :name, placeholder: "Имя *", required: true %>
              <%= f.text_field :email, placeholder: "Email *", required: true %>
              <%= f.text_field :phone, placeholder: "Телефон *", required: true %>
              <%= f.text_area :message, placeholder: "Текст письма", required: true %>
              <label>
                <%= f.check_box :fz152, required: true %>
                Принимаю соглашение О персональных данных согласно 152-ФЗ *
              </label>
              <%= recaptcha_tags %>
              <%= f.submit "Отправить" %>
            <% end %>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
