<% title @text.abouts_title_en %>
<% description @text.abouts_description_en %>
<%= render 'shared/header' %>
<div class="content">
  <div class="wrapper">
      <div class="zagol">About us</div>
      <div class="bl_about">
          <p><%= @text.about_text_en.html_safe %></p>
          <div class="zagol">Our partners:</div>
          <div class="spis_par">
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <div class="clear"></div>
          </div>
          <div class="zagol">Certificates</div>
          <div class="spis_ser">
            <%= image_tag "ser.webp", alt: "", title: "" %>
            <%= image_tag "ser.webp", alt: "", title: "" %>
            <%= image_tag "ser.webp", alt: "", title: "" %>
            <div class="clear"></div>
          </div>
          <div class="zagol">Our employees</div>
          <div class="spis_sot">
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Andrew Vladimirovich</div>
                  <p>Director</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Evgeny Sergeevich</div>
                  <p>Manager</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Evgenia Nikolaevna</div>
                  <p>Менеджер</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Irina Vladimirovna</div>
                  <p>Marketer</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Roman Alexandrovich</div>
                  <p>Technician</p>
              </div>
              <div class="clear"></div>
          </div>
          <div class="zagol">Legal information:</div>
          <p>All rights reserved.<br />IP Konkova E.P.<br />PSRN: 320392600030838<br />TIN: 024202870462<br />checking account: 40802810820000012496<br />BIC: 042748634<br />Phone to contact the director +79082900908</p>
      </div>
      <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
