<%= render 'shared/header' %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <h1>О нас</h1>
        <div class="bl_about">
            <div class="text">
                <p>Компания Амиго основана в 2008 году. Возникла в результате реорганизации автопроката Алиса Голд. Все эти годы компания динамично развивалась и прочно заняла лидирующие позиции на рынке проката автомобилей в Калининградской области. В планах на ближайшее будущее — открытие филиалов в других регионах России. С первых дней существования руководством компании был избран клиентоориентированный подход в работе. Мы любим и ценим наших клиентов, стараемся сделать так, чтобы они вернулись к нам снова, рекомендовали нас своим знакомым. Внимательно рассматриваем предложения и отзывы наших клиентов. Доброжелательные и отзывчивые сотрудники нашей организации всегда готовы прийти к Вам на помощь. Прокат автомобилей Амиго: клиент - это наш друг!</p>
                <p>Автопрокат Амиго - лучший прокат автомобилей в Калининградской области! Это не мы хвалим сами себя, информация взята из независимых источников. По состоянию на 1 января 2020 года рейтинг нашей организации на Яндекс Картах - 4.8, на Гугл Картах - 4.8, 2Гис - 5.0, это самый высокий рейтинг среди автопрокатных организаций Калининграда, при наибольшем количестве отзывов. Спасибо нашим благодарным клиентам!</p>
                <p>Расширяем географию наших услуг! Дорогие друзья, рады сообщить Вам об открытии филиала автопроката Амиго в Екатеринбурге: amigorent66.ru Привычный Вам, высокий уровень качества и обслуживания на новом месте. Ждем наших постоянных и новых клиентов!</p>
            </div>
            <h1>Наши партнеры:</h1>
            <div class="spis_partn">
                <a href="#">
                  <%= image_tag "par1.png", alt: "", title: "" %>
                </a>
                <a href="#">
                  <%= image_tag "par1.png", alt: "", title: "" %>
                </a>
                <a href="#">
                  <%= image_tag "par1.png", alt: "", title: "" %>
                </a>
                <a href="#">
                  <%= image_tag "par1.png", alt: "", title: "" %>
                </a>
                <a href="#">
                  <%= image_tag "par1.png", alt: "", title: "" %>
                </a>
                <div class="clear"></div>
            </div>
            <div class="bl_img">
                <div class="obol">
                  <%= image_tag "abo1.jpg", alt: "", title: "" %>
                </div>
                <div class="obol">
                  <%= image_tag "abo1.jpg", alt: "", title: "" %>
                </div>
                <div class="clear"></div>
            </div>
            <h1>Наши сотрудники:</h1>
            <div class="spis_sotr">
                <div class="sotr">
                    <div class="img">
                      <%= image_tag "sot1.jpg", alt: "", title: "" %>
                    </div>
                    <div class="fio">Иванов Иван</div>
                    <p>Менеджер по продажам</p>
                </div>
                <div class="sotr">
                    <div class="img">
                      <%= image_tag "sot1.jpg", alt: "", title: "" %>
                    </div>
                    <div class="fio">Иванов Иван</div>
                    <p>Менеджер по продажам</p>
                </div>
                <div class="sotr">
                    <div class="img">
                      <%= image_tag "sot1.jpg", alt: "", title: "" %>
                    </div>
                    <div class="fio">Иванов Иван</div>
                    <p>Менеджер по продажам</p>
                </div>
                <div class="clear"></div>
            </div>
            <h1>Юридическая информация:</h1>
            <div class="text">
                <p>Юридическая информация:<br />Все права защищены.<br />ИП Сорокин А.В.<br />ОГРН: 312392602000202<br />ИНН: 390103644500<br />Р/с: 40802810300000509482<br />Бик: 044525974<br />Тел. для связи с директором +79082900908</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
