<% title @text.abouts_title %>
<% description @text.abouts_description %>
<%= render 'shared/header' %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <h1>О нас</h1>
        <div class="bl_about">
            <div class="text">
                <%= @text.about_text.html_safe %>
            </div>
            <h2>Наши партнеры:</h2>
            <div class="spis_partn">
                <a>
                  <%= image_tag "partner1.png", alt: "АО СпецРемЭнерго", title: "АО СпецРемЭнерго" %>
                </a>
                <a>
                  <%= image_tag "partner2.png", alt: "NetByNet", title: "NetByNet" %>
                </a>
                <a>
                  <%= image_tag "partner3.png", alt: "РосАтом", title: "РосАтом" %>
                </a>
                <a>
                  <%= image_tag "partner4.png", alt: "", title: "" %>
                </a>
                <a>
                  <%= image_tag "partner5.png", alt: "Системные решения", title: "Системные решения" %>
                </a>
                <a>
                  <%= image_tag "partner6.png", alt: "ИнМеТех", title: "ИнМеТех" %>
                </a>
                <div class="clear"></div>
            </div>
            <div class="bl_img">
                <div class="obol">
                  <%= image_tag "ofice.jpg", alt: "", title: "" %>
                </div>
                <div class="obol">
                  <%= image_tag "comanda.jpg", alt: "", title: "" %>
                </div>
                <div class="clear"></div>
            </div>
            <h1>Наши сотрудники:</h1>
            <div class="spis_sotr">
                <div class="sotr">
                    <div class="img">
                      <%= image_tag "bos.png", alt: "", title: "" %>
                    </div>
                    <div class="fio">Андрей Владимирович</div>
                    <p>Управляющий</p>
                </div>
                <div class="sotr">
                    <div class="img">
                      <%= image_tag "zhenya2.png", alt: "", title: "" %>
                    </div>
                    <div class="fio">Евгений Сергеевич</div>
                    <p>Менеджер</p>
                </div>
                <div class="sotr">
                    <div class="img">
                      <%= image_tag "zhenya1.png", alt: "", title: "" %>
                    </div>
                    <div class="fio">Евгения Николаевна</div>
                    <p>Менеджер</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="spis_sotr">
                <div class="sotr">
                    <div class="img">
                      <%= image_tag "ira.png", alt: "", title: "" %>
                    </div>
                    <div class="fio">Ирина Владимировна</div>
                    <p>Маркетолог</p>
                </div>
                <div class="sotr">
                    <div class="img">
                      <%= image_tag "roma.png", alt: "", title: "" %>
                    </div>
                    <div class="fio">Роман Александрович</div>
                    <p>Техник</p>
                </div>
                <div class="clear"></div>
            </div>
            <h1>Юридическая информация:</h1>
            <div class="text">
                <p>Юридическая информация:<br />Все права защищены.<br />ИП Сорокин А.В.<br />ОГРН: 312392602000202<br />ИНН: 390103644500<br />Р/с: 40802810300000509482<br />Бик: 044525974<br />Тел. для связи с директором +79082900908</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
