<% title @text.abouts_title %>
<% description @text.abouts_description %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
  <div class="wrapper">
      <div class="zagol">О нас</div>
      <div class="bl_about">
          <p><%= @text.about_text.html_safe %></p>
          <div class="zagol">Наши партнеры</div>
          <div class="spis_par">
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <%= image_tag "par.webp", alt: "", title: "" %>
            <div class="clear"></div>
          </div>
          <div class="zagol">Сертификаты</div>
          <div class="spis_ser">
            <%= image_tag "ser.webp", alt: "", title: "" %>
            <%= image_tag "ser.webp", alt: "", title: "" %>
            <%= image_tag "ser.webp", alt: "", title: "" %>
            <div class="clear"></div>
          </div>
          <div class="zagol">Наши сотрудники</div>
          <div class="spis_sot">
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Андрей Владимирович</div>
                  <p>Управляющий</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Евгений Сергеевич</div>
                  <p>Менеджер</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Евгения Николаевна</div>
                  <p>Менеджер</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Ирина Владимировна</div>
                  <p>Маркетолог</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Роман Александрович</div>
                  <p>Техник</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot.webp')%>);"></div>
                  <div class="fio">Евгения Николаевна</div>
                  <p>Менеджер</p>
              </div>
              <div class="clear"></div>
          </div>
          <div class="zagol">Юридическая информация</div>
          <p>Все права защищены.<br />ИП Конькова Е.П.<br />ОГРН: 320392600030838<br />ИНН: 024202870462<br />Р/с: 40802810820000012496<br />Бик: 042748634<br />Тел. для связи с директором +79082900908</p>
      </div>
      <div class="clear"></div>
  </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
