<% title @text.abouts_title %>
<% description @text.abouts_description %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
  <div class="wrapper">
      <div class="zagol">О нас</div>
      <div class="bl_about">
          <p><%= @text.about_text.html_safe %></p>
          <div class="zagol">Наши партнеры</div>
          <div class="spis_par">
            <%= image_pack_tag "par_1.webp", alt: "Партнёр 1", title: "Партнёр 1" %>
            <%= image_pack_tag "par_2.webp", alt: "Партнёр 2", title: "Партнёр 2" %>
            <%= image_pack_tag "par_3.webp", alt: "Партнёр 3", title: "Партнёр 3" %>
            <%= image_pack_tag "par_4.webp", alt: "Партнёр 4", title: "Партнёр 4" %>
            <%= image_pack_tag "par_5.webp", alt: "Партнёр 5", title: "Партнёр 5" %>
            <%= image_pack_tag "par_6.webp", alt: "Партнёр 6", title: "Партнёр 6" %>
            <div class="clear"></div>
          </div>
          <div class="zagol">Сертификаты</div>
          <div class="spis_ser">
            <%= image_pack_tag "ser_1.webp", alt: "Сертификат 1", title: "Сертификат 1" %>
            <%= image_pack_tag "ser_2.webp", alt: "Сертификат 2", title: "Сертификат 2" %>
            <%= image_pack_tag "ser_3.webp", alt: "Сертификат 3", title: "Сертификат 3" %>
            <div class="clear"></div>
          </div>
          <div class="zagol">Наши сотрудники</div>
          <div class="spis_sot">
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot_1.webp')%>);"></div>
                  <div class="fio">Андрей Владимирович</div>
                  <p>Управляющий</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot_2.webp')%>);"></div>
                  <div class="fio">Евгений Сергеевич</div>
                  <p>Старший Менеджер</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot_5.webp')%>);"></div>
                  <div class="fio">Евгения Николаевна</div>
                  <p>Менеджер</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot_8.webp')%>);"></div>
                  <div class="fio">Ирина Владимировна</div>
                  <p>Маркетолог</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot_3.webp')%>);"></div>
                  <div class="fio">Александр Владимирович</div>
                  <p>Зам. по тех.части</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot_4.webp')%>);"></div>
                  <div class="fio">Алексей Михайлович</div>
                  <p>Менеджер</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot_6.webp')%>);"></div>
                  <div class="fio">Иван Григорьевич</div>
                  <p>Менеджер</p>
              </div>
              <div class="sot">
                  <div class="bl_img" style="background-image: url(<%= image_path('sot_7.webp')%>);"></div>
                  <div class="fio">Виктор Александрович</div>
                  <p>Техник</p>
              </div>
              <div class="clear"></div>
          </div>
          <div class="zagol">Юридическая информация</div>
          <p>Все права защищены.<br />ИП Конькова Е.П.<br />ОГРН: 320392600030838<br />ИНН: 024202870462<br />Р/с: 40802810820000012496<br />Бик: 042748634<br />Тел. для связи с директором +79082900908</p>
      </div>
      <div class="clear"></div>
  </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
