<% if params[:city] && params[:city] != 'Калининград' %>
  <% title "Car rental prices in #{@city.name} | Amigo Car Rentals" %>
  <% description "Car rental prices in #{@city.name}. Daily rent, and for a long time." %>
<% else %>
  <% title @text.prices_title_en %>
  <% description @text.prices_description_en %>
<% end %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <div class="pricee">
            <div class="zagol">Prices</div>
            <div class="podzag"><%= @text.prices_text_en.html_safe %></div>
            <table>
                <thead>
                    <tr>
                        <th>Car make, model</th>
                        <th>until 3</th>
                        <th>4 - 7</th>
                        <th>8 - 14</th>
                        <th>15 - 30</th>
                        <th>> 30</th>
                        <th>Deposit</th>
                        <th>In hour<br />>1day.</th>
                        <th>Book</th>
                    </tr>
                </thead>
                <tbody>
                  <% @cars.where(active: true).each do |car| %>
                    <tr>
                      <td>
                        <% if car.old_price_1 %>
                          <div class="akci">Sale</div>
                        <% end %>
                        <div class="zz">
                          <%= link_to car_path(car) do %>
                            <%= car.car_name %>
                          <% end %>
                        </div>
                        <%= link_to car_path(car) do %>

                        <% if car.main_image? %>
                          <%= image_tag car.main_image.url(:prices), alt: "#{car.car_name}", title: "#{car.car_name}", class: "full" %>
                        <% else %>
                          <%= image_tag "avto.webp", alt: "#{car.car_name}", title: "#{car.car_name}", class: "full" %>
                        <% end %>

                        <% end %>
                        <div class="hara">
                          <% if car.car_type == "Хэтчбек" %>
                            <div class="hr">
                              <span>Body</span>
                              Hatchback
                            </div>
                          <% end %>
                          <% if car.car_type == "Седан" %>
                            <div class="hr">
                              <span>Body</span>
                              Sedan
                            </div>
                          <% end %>
                          <% if car.car_type == "Универсал" %>
                            <div class="hr">
                              <span>Body</span>
                              Universal
                            </div>
                          <% end %>
                          <% if car.car_type == "Минивэн" %>
                            <div class="hr">
                              <span>Body</span>
                              Minivan
                            </div>
                          <% end %>
                          <% if car.car_type == "Кабриолет" %>
                            <div class="hr">
                              <span>Body</span>
                              Cabrio
                            </div>
                          <% end %>
                          <% if car.car_type == "Кроссовер" %>
                            <div class="hr">
                              <span>Body</span>
                              Crossover
                            </div>
                          <% end %>
                          <% if car.car_type == "Купе" %>
                            <div class="hr">
                              <span>Body</span>
                              Cupe
                            </div>
                          <% end %>
                          <% if car.is_air %>
                            <div class="hr">
                              <span>A/C</span>
                              Yes
                            </div>
                          <% else %>
                            <div class="hr">
                              <span>A/C</span>
                              No
                            </div>
                          <% end %>
                          <% if car.transmission == 'Механика'%>
                            <div class="hr">
                              <span>Gearbox</span>
                              Manual
                            </div>
                          <% else %>
                            <div class="hr">
                              <span>Gearbox</span>
                              Automatic
                            </div>
                          <% end %>
                        </div>
                      </td>
                      <td>
                        <%= car.price_1 %> ₽
                        <% if car.old_price_1 %>
                          <div class="old"><%= car.old_price_1 %> ₽ </div>
                        <% end %>
                      </td>
                      <td>
                        <%= car.price_2 %> ₽
                        <% if car.old_price_2 %>
                          <div class="old"><%= car.old_price_2 %> ₽ </div>
                        <% end %>
                      </td>
                      <td>
                        <%= car.price_3 %> ₽
                        <% if car.old_price_3 %>
                          <div class="old"><%= car.old_price_3 %> ₽ </div>
                        <% end %>
                      </td>
                      <td>
                        <%= car.price_4 %> ₽
                        <% if car.old_price_4 %>
                          <div class="old"><%= car.old_price_4 %> ₽ </div>
                        <% end %>
                      </td>
                      <td>
                        <%= car.price_5 %> ₽
                        <% if car.old_price_5 %>
                          <div class="old"><%= car.old_price_5 %> ₽ </div>
                        <% end %>
                      </td>
                      <td><%= car.deposit %> ₽ </td>
                      <td><%= car.price_hour %> ₽ </td>
                      <td class="btn_price">
                        <%= link_to car_en_path(car) do %>
                          Book
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
            </table>

            <% unless params[:city] && params[:city] != 'Калининград' %>
              <p class="tex">For out-of-office delivery prices, see the section
              <%= link_to deliveries_path(locale: I18n.locale) do %>
                "Delivery"
              <% end %></p>
            <% end %>

            <div class="zagol">PRICES FOR ADDITIONAL EQUIPMENT</div>
            <table>
                <thead>
                    <tr>
                        <th> Equipment </th>
                        <th> Cost per day </th>
                        <th> Up to 15 days </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="zz">Baby chair</div>
                        </td>
                        <td><%= number_to_currency(@text.dop_table_kreslo_dayprice, {delimiter: " ", precision: 0, unit: ''}) %> ₽ </td>
                        <td><%= number_to_currency(@text.dop_table_kreslo_allprice, {delimiter: " ", precision: 0, unit: ''}) %> ₽ </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="zz">GPS</div>
                        </td>
                        <td><%= number_to_currency(@text.dop_table_navigator_dayprice, {delimiter: " ", precision: 0, unit: ''}) %> ₽ </td>
                        <td><%= number_to_currency(@text.dop_table_navigator_dayprice, {delimiter: " ", precision: 0, unit: ''}) %> ₽ </td>
                    </tr>
                </tbody>
            </table>
            <p class="tex"><%= @text.dop_table_downtext_en.html_safe %></p>
          <div class="zagol">About the pricing policy of our company</div>
          <div class="txt">
            <p><%= @text.prices_bottom_text_en.html_safe %></p>
          </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
