<% title @text.prices_title %>
<% description @text.prices_description %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <div class="pricee">
            <div class="zagol">Цены</div>
            <div class="podzag"><%= @text.prices_text.html_safe %></div>
            <table>
                <thead>
                    <tr>
                        <th>Марка, модель автомобиля</th>
                        <th>до 3</th>
                        <th>4 - 7</th>
                        <th>8 - 14</th>
                        <th>15 - 30</th>
                        <th>> 30</th>
                        <th>Залог</th>
                        <th>В час<br />>1сут.</th>
                        <th>Заказать</th>
                    </tr>
                </thead>
                <tbody>
                  <% @cars.where(active: true).each do |car| %>
                    <tr>
                      <td>
                        <% if car.old_price_1 %>
                          <div class="akci">Акция</div>
                        <% end %>
                        <div class="zz">
                          <%= link_to car_path(car) do %>
                            <%= car.car_name %>
                          <% end %>
                        </div>
                        <%= link_to car_path(car) do %>
                        
                        <% if car.main_image? %>
                          <%= image_tag car.main_image.url(:prices), alt: "#{car.car_name}", title: "#{car.car_name}", class: "full" %>
                        <% else %>
                          <%= image_tag "avto.webp", alt: "#{car.car_name}", title: "#{car.car_name}", class: "full" %>
                        <% end %>
                        
                        <% end %>
                        <div class="hara">
                          <% if car.car_type == "Хэтчбек" %>
                            <div class="hr">
                              <span>Кузов</span>
                              Хэтчбек
                            </div>
                          <% end %>
                          <% if car.car_type == "Седан" %>
                            <div class="hr">
                              <span>Кузов</span>
                              Седан
                            </div>
                          <% end %>
                          <% if car.car_type == "Универсал" %>
                            <div class="hr">
                              <span>Кузов</span>
                              Универсал
                            </div>
                          <% end %>
                          <% if car.car_type == "Минивэн" %>
                            <div class="hr">
                              <span>Кузов</span>
                              Минивэн
                            </div>
                          <% end %>
                          <% if car.car_type == "Кроссовер" %>
                            <div class="hr">
                              <span>Кузов</span>
                              Кроссовер
                            </div>
                          <% end %>
                          <% if car.car_type == "Купе" %>
                            <div class="hr">
                              <span>Кузов</span>
                              Купе
                            </div>
                          <% end %>
                          <% if car.is_air %>
                            <div class="hr">
                              <span>Кондиц-р</span>
                              Есть
                            </div>
                          <% else %>
                            <div class="hr">
                              <span>Кондиц-р</span>
                              Нет
                            </div>
                          <% end %>
                          <% if car.transmission == 'Механика'%>
                            <div class="hr">
                              <span>КПП</span>
                              Механика
                            </div>
                          <% else %>
                            <div class="hr">
                              <span>КПП</span>
                              Автомат
                            </div>
                          <% end %>
                        </div>
                      </td>
                      <td>
                        <%= car.price_1 %> ₽ 
                        <% if car.old_price_1 %>
                          <div class="old"><%= car.old_price_1 %> ₽ </div>
                        <% end %>
                      </td>
                      <td>
                        <%= car.price_2 %> ₽ 
                        <% if car.old_price_2 %>
                          <div class="old"><%= car.old_price_2 %> ₽ </div>
                        <% end %>
                      </td>
                      <td>
                        <%= car.price_3 %> ₽ 
                        <% if car.old_price_3 %>
                          <div class="old"><%= car.old_price_3 %> ₽ </div>
                        <% end %>
                      </td>
                      <td>
                        <%= car.price_4 %> ₽ 
                        <% if car.old_price_4 %>
                          <div class="old"><%= car.old_price_4 %> ₽ </div>
                        <% end %>
                      </td>
                      <td>
                        <%= car.price_5 %> ₽ 
                        <% if car.old_price_5 %>
                          <div class="old"><%= car.old_price_5 %> ₽ </div>
                        <% end %>
                      </td>
                      <td><%= car.deposit %> ₽ </td>
                      <td><%= car.price_hour %> ₽ </td>
                      <td class="btn_price">
                        <%= link_to new_booking_path(car_id: car.id) do %>
                          Арендовать
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
            
            <% unless params[:city] && params[:city] != 'Калининград' %>
              <p class="tex">Цены на доставку вне офиса смотрите в разделе 
              <%= link_to deliveries_path(locale: I18n.locale) do %>
                "Доставка"
              <% end %></p>
            <% end %>
            
            <div class="zagol">ЦЕНЫ НА ДОПОЛНИТЕЛЬНОЕ ОБОРУДОВАНИЕ</div>
            <table>
                <thead>
                    <tr>
                        <th>Оборудование</th>
                        <th>Стоимость в сутки</th>
                        <th>За весь срок до 15 суток</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="zz">Детское кресло</div>
                        </td>
                        <td><%= number_to_currency(@text.dop_table_kreslo_dayprice, {delimiter: " ", precision: 0, unit: ''}) %> ₽ </td>
                        <td><%= number_to_currency(@text.dop_table_kreslo_allprice, {delimiter: " ", precision: 0, unit: ''}) %> ₽ </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="zz">GPS навигатор</div>
                        </td>
                        <td><%= number_to_currency(@text.dop_table_navigator_dayprice, {delimiter: " ", precision: 0, unit: ''}) %> ₽ </td>
                        <td><%= number_to_currency(@text.dop_table_navigator_dayprice, {delimiter: " ", precision: 0, unit: ''}) %> ₽ </td>
                    </tr>
                </tbody>
            </table>
            <p class="tex"><%= @text.dop_table_downtext.html_safe %></p>
          <div class="zagol">О ценовой политике Нашей компании</div>
          <div class="txt">
            <p><%= @text.prices_bottom_text.html_safe %></p>
              <%# <p>Ознакомьтесь с актуальным прайс-листом с ценами на аренду автомобилей. Чем более длительный срок аренды, тем ниже суточная стоимость автомобиля. Следите за обновлениями, у нас регулярно предлагаются большие скидки, проводятся акции по снижению цен на все или отдельные виды автомобилей, в зависимости от сезонности и загруженности автопарка. Периодически появляются спецпредолжения на отдельные модели автомобилей. Постоянным клиентам предоставляются скидки до 10% от суточной арендной платы. Так же предоставляем скидки по картам других прокатных компаний. Во всех случаях осуществляем индивидуальный подход к клиенту и можем предоставить дополнительную скидку при длительном сроке аренды. Звоните и мы вас проконсультируем. Дополнительным преимуществом клиента является полная открытость наших тарифов, всё честно, никаких скрытых комиссий и дополнительных платежей в суточную арендную плату не включается. Страховка КАСКО уже входит в стоимость</p>
              <a href="#" class="more">Показать еще</a>
              <p class="moree">Ознакомьтесь с актуальным прайс-листом с ценами на аренду автомобилей. Чем более длительный срок аренды, тем ниже суточная стоимость автомобиля. Следите за обновлениями, у нас регулярно предлагаются большие скидки, проводятся акции по снижению цен на все или отдельные виды автомобилей, в зависимости от сезонности и загруженности автопарка. Периодически появляются спецпредолжения на отдельные модели автомобилей. Постоянным клиентам предоставляются скидки до 10% от суточной арендной платы. Так же предоставляем скидки по картам других прокатных компаний. Во всех случаях осуществляем индивидуальный подход к клиенту и можем предоставить дополнительную скидку при длительном сроке аренды. Звоните и мы вас проконсультируем. Дополнительным преимуществом клиента является полная открытость наших тарифов, всё честно, никаких скрытых комиссий и дополнительных платежей в суточную арендную плату не включается. Страховка КАСКО уже входит в стоимость</p> %>
          </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
