<% title @city.title %>
<% description @city.description %>
<%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% if @city.background.attached? %>
<div class="bl_topp" style="background:url(<%= url_for(@city.background) %>) no-repeat center top transparent;">
    <% else %>
    <div class="bl_topp" style="background:url(<%= asset_path("bg_zelenogradsk.jpg")%>) no-repeat center top transparent;">
        <% end %>
        <div class="wrapper">
            <h1><%= @city.h1 %></h1>
            <%= render 'advantages' %>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="bread">
                <a href="/">Главная /</a> <%= @city.name %>
            </div>
            <div class="bl_full_text">
                <%= @city.text.html_safe %>
                <div class="clear"></div>
            </div>
            <% if @towns.where(active: true).count > 0 %>
                <div class="block4" style="background-color:#f77d0a;">
                    <div class="wrapper">
                        <div class="zag">
                            Доставка в города:
                        </div>
                        <div class="spis_avto">
                            <% @towns.where(active: true).each do |town| %>
                                <%= link_to town.name, "/russia/#{town.city.url_name}/#{town.url_name}", class: "all", style: "background: #33354d;" %>
                            <% end %>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            <% end %>
            <br />
            <div class="block4">
                <div class="wrapper">
                    <div class="zag">Автомобили в аренду:</div>
                    <div class="spis_avto">
                        <%= render "cars"%>
                        <div class="clear"></div>
                    </div>
                    <%= link_to "Посмотреть все автомобили", cars_path, class: "all" %>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_email: @city.email, cached: true %>