<% @cars.where(active:true).each do |car| %>
  <% if car.active %>
    <div class="avto">
      <%= link_to car_path(car, locale: I18n.locale), class: "bl_img", 'data-turbolinks': false do %>
          <%= image_tag car.main_image.url(:show), alt: "#{car.car_name}", title: "#{car.car_name}" if car.main_image? %>
      <% end %>
      <%= link_to car_path(car, locale: I18n.locale), class: "zg", 'data-turbolinks': false do %>
        <%= car.car_name %>
      <% end %>
      <div class="price">
        <%= t 'cars.from' %> <b><%= car.price_main %></b> <%= t 'cars.rub_per_day' %>
      </div>
      <%= link_to car_url(car), class: "more", 'data-turbolinks': false do %>
        <%= t 'cars.more' %>
      <% end %>
      <div class="hara">
          <p>
            <% if car.transmission == 'Механика'%>
              <%= image_tag "transmission.png", style: "width: 20px;", alt: "#{t 'cars.transmission'}", title: "#{t 'cars.transmission'}" %>
              <%= t 'cars.manual' %>
            <% else %>
              <%= image_tag "transmission.png", style: "width: 20px;", alt: "#{t 'cars.transmission'}", title: "#{t 'cars.transmission'}" %>
              <%= t 'cars.auto' %>
            <% end %>
          </p>
          <p>
            <%= image_tag "fuel.png", style: "width: 20px;", alt: "#{t 'cars.fuel'}", title: "#{t 'cars.fuel'}" %>
            <% if I18n.locale == :en && car.fuel == "Бензин" %>
              Gasoline
            <% elsif I18n.locale == :en && car.fuel == "Дизель" %>
              Diesel
            <% else %>
              <%= car.fuel %>
            <% end %>
          </p>
          <p>
            <%= image_tag "year.png", style: "width: 20px;", alt: "#{t 'cars.year_full'}", title: "#{t 'cars.year_full'}" %>
            <%= car.year %> <%= t 'cars.year' %>
          </p>
          <p>
            <%= image_tag "car_type.png", style: "width: 20px;", alt: "#{t 'cars.car_type'}", title: "#{t 'cars.car_type'}" %>
            
            <% if I18n.locale == :en && car.car_type == "Седан" %>
              Sedan
            <% elsif I18n.locale == :en && car.car_type == "Хэтчбек" %>
              Hatchback
            <% elsif I18n.locale == :en && car.car_type == "Универсал" %>
              Touring
            <% elsif I18n.locale == :en && car.car_type == "Купе" %>
              Coupe
            <% elsif I18n.locale == :en && car.car_type == "Кроссовер" %>
              Crossover
            <% elsif I18n.locale == :en && car.car_type == "Минивен" %>
              Minivan
            <% else %>
              <%= car.car_type %>
            <% end %>
          </p>
          <p>
            <%= image_tag "capacity.png", style: "width: 20px;", alt: "#{t 'cars.engine_capacity'}", title: "#{t 'cars.engine_capacity'}" %>
            <%= car.engine_capacity %> <%= t 'cars.litr' %>
          </p>
          <p>
            <% if car.is_air %>
              <%= image_tag "snow.png", style: "width: 20px;", alt: "#{t 'cars.air'}", title: "#{t 'cars.air'}" %>
              <%= t 'cars.is_air' %>
            <% end %>
          </p>
      </div>
    </div>
  <% end %>
<% end %>
