<div class="avto">
    <a href="#" class="bl_img">
      <%= image_tag "a1.jpg", alt: "", title: "" %>
    </a>
    <a href="#" class="zg">Chevrolet Spark Promo</a>
    <div class="price">от <b>700</b> руб/сутки</div>
    <a href="#" class="more">Подробнее</a>
    <div class="hara">
        <p>
          <%= image_tag "h1.png", alt: "", title: "" %>
          Автомат
        </p>
        <p>
          <%= image_tag "h2.png", alt: "", title: "" %>
          Бензин
        </p>
        <p>
          <%= image_tag "h3.png", alt: "", title: "" %>
          2012г.
        </p>
        <p>
          <%= image_tag "h4.png", alt: "", title: "" %>
          Хэтчбэк
        </p>
        <p>
          <%= image_tag "h5.png", alt: "", title: "" %>
          1,0
        </p>
        <p>
          <%= image_tag "h6.png", alt: "", title: "" %>
          Есть
        </p>
    </div>
</div>
