<div class="reviews">
  <% if @reviews.count >= 1 %>
    <% @reviews.each do |review| %>
      <% if review.active || (current_user && current_user.is_admin) %>
        <div class="otz">
          <div class="fio"><%= review.fullname %></div>
          <div class="data"><%= review.created_at.strftime("%d-%m-%Y") %></div>
          <div class="rating">
            <% review.star.to_i.times do  %>
              <%= image_tag "ra1.png", alt: "#{t 'cars.review'}", title: "#{t 'cars.review'}" %>
            <% end %>
            <% review.blank_stars.to_i.times do  %>
              <%= image_tag "ra0.png", alt: "#{t 'cars.review'}", title: "#{t 'cars.review'}" %>
            <% end %>
          </div>
          <% if current_user && current_user.is_admin %>
            <%= link_to car_car_review_path(@car.id, review.id,locale: I18n.locale), remote: true, method: :delete, data: {confirm: "Уверен?"} do %>
              Удалить
            <% end %>
            <% if !(review.active?) %>
              <%= link_to approve_car_car_review_path(@car, review,locale: I18n.locale), method: :post do %>
                Принять
              <% end %>
            <% end %>
          <% end %>
          <p><%= review.text %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% if I18n.locale == :en %>
      <h2>Your review will be the first!</h2>
    <% else %>
      <h2>Ваш отзыв будет первым!</h2>
    <% end %>
  <% end %>
</div>
