<% title @text.cars_commercial_title %>
<% description @text.cars_commercial_description %>
<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <div class="bread">
          <%= render 'shared/bread'%>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="block2 var2">
    <div class="wrapper" id="search_cars">
        <div class="zagol"><h1><%= @text.cars_commercial_h1 %></h1></div>
        <search_cars city="<%= params[:city] ? params[:city] : 'Калининград' %>"></search_cars>
        <div class="clear"></div>
    </div>
</div>
<% if @cars && @cars.length > 0 %>
    <div class="content for_spis">
        <div class="wrapper">
            <div class="text1">
                <div class="zagol">Какой то текст</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus, ligula quis volutpat varius, nibh nisl commodo ex, vitae ullamcorper metus odio id enim. Nulla scelerisque, purus id condimentum vestibulum, lectus ex tincidunt nibh, semper commodo neque dui eget ligula.</p>
            </div>
            <div class="filter">
                <select>
                    <option>Тип автомобиля</option>
                    <option>Седан</option>
                    <option>Хетчбек</option>
                </select>
                <select>
                    <option>АКПП</option>
                    <option>Механическая КПП</option>
                    <option>Вариатор</option>
                </select>
                <button>Показать автомобили</button>
                <div class="vid_spis">
                    <a href="#" class="vid1 active"></a>
                    <a href="#" class="vid2"></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block4 var2">
        <div class="wrapper">
            <div class="spis_avto active" id="spis1">
                <%= render partial: 'cars', collection: @cars, as: :car, cached: true %>
                <div class="clear"></div>
            </div>
            <div class="spis_avto" id="spis2">
                <%= render partial: 'cars_plitka', collection: @cars, as: :car, cached: true %>
            </div>
            <%# <div class="btn">
                <a href="#">Загрузить еще</a>
            </div> %>
            <%# <div class="clear"></div> %>
        </div>
    </div>
<% else %>
    <%# <div class="content for_spis">
        <div class="wrapper">
            <div class="text1">
                <div class="zagol">Свободных автомобилей нет</div>
            <div class="clear"></div>
        </div>
    </div> %>
<% end %>
<% if @fake_cars && @fake_cars.length > 0 %>
    <div class="content for_spis">
        <div class="wrapper">
            <div class="text1">
                <div class="zagol">Бронирует менеджер</div>
                <p>In porttitor accumsan vehicula. Maecenas ac ligula ante. In vel semper tellus, id volutpat lacus. Sed ac enim vitae arcu posuere rutrum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor sagittis justo a scelerisque. Pellentesque lacinia libero nec mauris euismod pellentesque. Proin eleifend felis id orci aliquet interdum. Suspendisse pharetra, lorem sit amet condimentum efficitur, sem felis lobortis mi, at posuere ante diam eget risus.</p>
                <div class="zagol">Результаты</div>
            </div>
            <div class="filter">
                <select>
                    <option>Тип автомобиля</option>
                    <option>Седан</option>
                    <option>Хетчбек</option>
                </select>
                <select>
                    <option>АКПП</option>
                    <option>Механическая КПП</option>
                    <option>Вариатор</option>
                </select>
                <button>Показать автомобили</button>
                <div class="vid_spis">
                    <a href="#" class="vid1 active"></a>
                    <a href="#" class="vid2"></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block4 var2">
        <div class="wrapper">
            <div class="spis_avto active" id="spis1">
                <%= render partial: 'cars', collection: @fake_cars, as: :car, cached: true %>
                <div class="clear"></div>
            </div>
            <div class="spis_avto" id="spis2">
                <%= render partial: 'cars_plitka', collection: @fake_cars, as: :car, cached: true %>
            </div>
            <%# <div class="btn">
                <a href="#">Загрузить еще</a>
            </div> %>
            <div class="clear"></div>
        </div>
    </div>
<% else %>
    <%# <div class="content for_spis">
        <div class="wrapper">
            <div class="text1">
                <div class="zagol">Свободных автомобилей нет</div>
            <div class="clear"></div>
        </div>
    </div> %>
<% end %>
<div class="block_vopros">
    <div class="wrapper">
        <div class="zagol">Часто задаваемые вопросы</div>
        <div class="vopros">
            <div class="vop">Чем отличается аренда автомобиля от проката?<span></span></div>
            <div class="otv">Каршеринг — это кратковременная аренда автомобиля с поминутной, почасовой и редко — с суточной тарификацией. Данная услуга становится все более популярной, особенно среди людей, ценящих свое время и комфорт передвижения. Вы можете использовать каршеринговое авто для поездок на работу, путешествий и прочих целей, за исключением коммерческих.</div>
        </div>
        <div class="vopros">
            <div class="vop active">Что такое каршеринг?<span></span></div>
            <div class="otv" style="display: block;">Каршеринг — это кратковременная аренда автомобиля с поминутной, почасовой и редко — с суточной тарификацией. Данная услуга становится все более популярной, особенно среди людей, ценящих свое время и комфорт передвижения. Вы можете использовать каршеринговое авто для поездок на работу, путешествий и прочих целей, за исключением коммерческих.</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="content for_spis">
  <%= @text.cars_commercial_text.html_safe %>
</div>
<%= render 'shared/footer', cached: true %>
