<% title @text.cars_crossovers_title_en %>
<% description @text.cars_crossovers_description_en %>
<%= render 'shared/header', cached: true %>
<div class="content">
    <div class="wrapper">
        <div class="bread">
          <%= render 'shared/bread'%>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="block2 var2">
    <div class="wrapper" id="search_cars">
        <div class="zagol"><h1><%= @text.cars_crossovers_h1_en %></h1></div>
        <search_cars city="<%= params[:city] ? params[:city] : 'Калининград' %>" locale="<%= I18n.locale ? I18n.locale : 'ru' %>"></search_cars>
        <div class="clear"></div>
    </div>
</div>
<% if @cars && @cars.length > 0 %>
    <div class="content for_spis">
        <div class="wrapper">
            <div class="text1">
                <div class="zagol"><%= @text.top_cars_title_en.html_safe %></div>
                <p><%= @text.top_cars.html_safe %></p>
            </div>
            <div class="filter">
                <select id="car_type">
                    <option selected value="0">Car type</option>
                    <option value="1">Sedan</option>
                    <option value="2">Hatchback</option>
                    <option value="3">Universal</option>
                    <option value="4">Cupe</option>
                    <option value="5">Crossover</option>
                    <option value="6">Jeep</option>
                    <option value="7">Minivan</option>
                    <option value="8">All cars</option>
                </select>
                <select id="car_kpp">
                    <option selected value="0">Transmission</option>
                    <option value="1">Automatic Transmission</option>
                    <option value="2">Manual Transmission</option>
                    <option value="4">All cars</option>
                </select>
                <div class="vid_spis" id="flash_cars_vid">
                    <a href="#" class="vid1 active"></a>
                    <a href="#" class="vid2"></a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="block4 var2" id="flash_cars">
        <div class="wrapper">
            <div class="spis_avto active" id="spis1">
                <%= render partial: 'cars', collection: @cars, as: :car %>
                <div class="clear"></div>
            </div>
            <div class="spis_avto" id="spis2">
                <%= render partial: 'cars_plitka', collection: @cars, as: :car %>
            </div>
            <%# <div class="btn">
                <a href="#">Загрузить еще</a>
            </div> %>
            <%# <div class="clear"></div> %>
        </div>
    </div>
<% end %>
<div class="block_vopros">
    <div class="wrapper">
        <div class="vopros">
            <div class="otv" style="display: block;"><%= @text.cars_crossovers_text_en.html_safe %></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<%= render 'shared/footer', cached: true %>
