<% title @text.cars_crossovers_title_en %>
<% description @text.cars_crossovers_description_en %>
<%= render 'shared/header', cached: true %>
<div class="content">
  <div class="wrapper">
    <%= render 'shared/bread'%>
    <h1><%= @text.cars_crossovers_h1_en %></h1>
    <div class="bl_avtomob">
      <%= render 'cars', cached: true %>
      <div class="clear"></div>
      <div style="margin-top: 1em; text-align:left;">
        <%= @text.cars_crossovers_text_en.html_safe %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%= render 'shared/footer', cached: true %>
