<% title @text.car_title + " " + @car.car_name + " в Калининграде | Амиго" %>
<% description @text.car_description + " " + "#{@car.car_name} в Калининграде. Прокат автомобиля #{@car.car_name} в автопрокате Амиго в Калининграде. Бронируйте на сайте." %>
<% if @car.city != 'Калининград' || (params[:city] && params[:city] != 'Калининград') %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
    <div class="wrapper">
        <div class="bread">
            <%= render 'shared/bread'%>
        </div>
        <div class="cartochka">
            <div class="pl1">
                
                <% if @car.main_image? %>
                    <div class="bl_img_full" style="background-image: url(<%= image_path(@car.main_image.url) %>);"></div>
                <% else %>
                    <div class="bl_img_full" style="background-image: url(<%= image_path('avto.webp') %>);"></div>
                <% end %>
                
                <ul class="bxslider">
                    <% @car.images.each do |image| %>
                        <li>
                        <% if image.url %>
                            <a href="<%= image_path(image.url)%>" style="background-image: url(<%= image_path(image.url(:show))%>);"></a>
                        <% else %>
                            <a href="<%= image_url('avto.webp')%>" style="background-image: url(<%= image_url('avto.webp')%>);"></a>
                        <% end %>
                        </li>
                    <% end %>
                    <li>
                        <a href="<%= image_path(@car.main_image.url) %>" style="background-image: url(<%= image_path(@car.main_image.url) %>);"></a>
                    </li>
                </ul>
            </div>
            <div class="pl2">
                <div class="zagol"><%= @car.car_name %></div>
                <div class="hara">
                    <div class="hr">
                        <%= image_tag "h1.webp", alt: "Пассажирские места", title: "Пассажирские места" %>
                        <%= @car.number_seats %> мест
                    </div>
                    <div class="hr">
                        <%= image_tag "h2.webp", alt: "Год", title: "Год" %>
                        <%= @car.year %> г.
                    </div>
                    <div class="hr">
                        <%= image_tag "h3.webp", alt: "Кондиционер", title: "Кондиционер" %>
                        <% if @car.is_air %>
                            Кондиционер
                        <% else %>
                            Без кондиционера
                        <% end %>
                    </div>
                    <div class="hr">
                        <%= image_tag "h4.webp", alt: "Топливо", title: "Топливо" %>
                        <% if @car.fuel == "Бензин" %>
                            Бензин
                        <% elsif @car.fuel == "Дизель" %>
                            Дизель
                        <% else %>
                            <%= @car.fuel %>
                        <% end %>
                    </div>
                    <div class="hr">
                        <%= image_tag "h5.webp", alt: "Тип кузова", title: "Тип кузова" %>
                        <%= @car.car_type %>
                    </div>
                    <div class="hr">
                        <%= image_tag "h6.webp", alt: "Коробка передач", title: "Коробка передач" %>
                        <% if @car.transmission == 'Механика'%>
                            Механика
                        <% else %>
                            Автомат
                        <% end %>
                    </div>
                    <div class="hr">
                        <%= image_tag "h7.webp", alt: "Электропакет", title: "Электропакет" %>
                        <% if @car.is_electropackage %>
                            Электропакет
                        <% else %>
                            Без электропакета
                        <% end %>
                    </div>
                    <div class="hr">
                        <%= image_tag "h8.webp", alt: "Объем двигателя", title: "Объем двигателя" %>
                        <%= @car.engine_capacity ? @car.engine_capacity : "-" %> л
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="price">от <b><span><%= number_to_currency(@car.price_main, {delimiter: " ", precision: 0, unit: ''}) %></span> ₽/сутки</b></div>
                <div class="podzg">Стоимость аренды, посуточно</div>
                <div class="spis_stoi">
                    <div class="st">
                        <span>до 3</span>
                        <div style="<%= @car.old_price_1 ? "color: red;" : "" %>">
                            <%= number_to_currency(@car.price_1, {delimiter: " ", precision: 0, unit: ''}) %> ₽
                        </div>
                        <% if @car.old_price_1 %>
                            <div>
                                <s><small><%= number_to_currency(@car.old_price_1, {delimiter: " ", precision: 0, unit: ''}) %> ₽</s></small>
                            </div>
                        <% end %> 
                    </div>
                    <div class="st">
                        <span>4 - 7</span>
                        <div style="<%= @car.old_price_2 ? "color: red;" : "" %>">
                            <%= number_to_currency(@car.price_2, {delimiter: " ", precision: 0, unit: ''}) %> ₽
                        </div>
                        <% if @car.old_price_2 %>
                            <div>
                                <s><small><%= number_to_currency(@car.old_price_2, {delimiter: " ", precision: 0, unit: ''}) %> ₽</s></small>
                            </div>
                        <% end %> 
                    </div>
                    <div class="st">
                        <span>8 - 14</span>
                        <div style="<%= @car.old_price_3 ? "color: red;" : "" %>">
                            <%= number_to_currency(@car.price_3, {delimiter: " ", precision: 0, unit: ''}) %> ₽
                        </div>
                        <% if @car.old_price_3 %>
                            <div>
                                <s><small><%= number_to_currency(@car.old_price_3, {delimiter: " ", precision: 0, unit: ''}) %> ₽</s></small>
                            </div>
                        <% end %> 
                    </div>
                    <div class="st">
                        <span>15 - 30</span>
                        <div style="<%= @car.old_price_4 ? "color: red;" : "" %>">
                            <%= number_to_currency(@car.price_4, {delimiter: " ", precision: 0, unit: ''}) %> ₽
                        </div>
                        <% if @car.old_price_4 %>
                            <div>
                                <s><small><%= number_to_currency(@car.old_price_4, {delimiter: " ", precision: 0, unit: ''}) %> ₽</s></small>
                            </div>
                        <% end %> 
                    </div>
                    <div class="st">
                        <span>> 30</span>
                        <div style="<%= @car.old_price_5 ? "color: red;" : "" %>">
                            <%= number_to_currency(@car.price_5, {delimiter: " ", precision: 0, unit: ''}) %> ₽
                        </div>
                        <% if @car.old_price_5 %>
                            <div>
                                <s><small><%= number_to_currency(@car.old_price_5, {delimiter: " ", precision: 0, unit: ''}) %> ₽</s></small>
                            </div>
                        <% end %> 
                    </div>
                    <div class="st">
                        <span>Залог</span>
                        <%= number_to_currency(@car.deposit, {delimiter: " ", precision: 0, unit: ''}) %> ₽ 
                    </div>
                    <div class="clear"></div>
                </div>
                <div style="text-align: center;" id="bookings">
                    <bookings rentprog_token="<%= @rentprog_token %>" :link_params="<%= request.query_parameters.to_json %>" :ids_rentprog="<%= @car.ids_rentprog ? @car.ids_rentprog : [] %>" :booking_limit="<%= @car.booking_limit %>" car_name="<%= @car.car_name %>" locale="<%= I18n.locale == :en ? 'en' : 'ru' %>" :prices="[<%= @car.price_1 %>, <%= @car.price_2 %>, <%= @car.price_3 %>, <%= @car.price_4 %>, <%= @car.price_5 %>, <%= @car.price_hour %>, <%= @car.deposit %>]" image_link="<%= image_path(@car.main_image.url) ? image_path(@car.main_image.url) : image_path('avto.webp') %>"></bookings>
                    <%# link_to "Забронировать", new_booking_path(car_id: @car.id), class:"arend" %>
                </div>
                <div>
                    <%= link_to "Предыдущее авто", car_previous, style: "float:left;" %> <%= link_to "Следующее авто", car_next, style: "float:right;" %>
                </div>
            </div>
            <div class="clear"></div>
            <div class="bl_hara">
                <div class="zagol"><span>Характеристики автомобиля</span></div>
                <div class="cc1">
                    <div class="zz">Технические характеристики</div>
                    <p>Вид топлива <span><%= @car.fuel_type %></span></p>
                    <p>Объем двигателя <span><%= @car.engine_capacity %></span></p>
                    <p>Мощность <span><%= @car.power %></span></p>
                    <p>Привод <span><%= @car.drive_unit %></span></p>
                    <p>Объем топливного бака <span><%= @car.tank_capacity %></span></p>
                    <p>Объем багажника <span><%= @car.trunk_volume %></span></p>
                    <p>Коробка <span><%= @car.transmission %></span></p>
                    <p>Количество передач <span><%= @car.number_gears %></span></p>
                    <p>Максимальная скорость <span><%= @car.max_speed %> км/ч</span></p>
                    <p>Разгон до 100 км/ч <span><%= @car.racing %></span></p>
                    <p>Клиренс <span><%= @car.clearance %></span></p>
                    <p>Длина <span><%= @car.length %></span></p>
                    <p>Ширина <span><%= @car.width %></span></p>
                    <p>Высота <span><%= @car.height %></span></p>
                </div>
                <div class="cc1">
                    <div class="zz">Комфорт</div>
                    <p>Количество мест <span><%= @car.number_seats %></span></p>
                    <p>Электрорегулировка сидений <span><%= @car.power_seats ? "Есть" : "Нет" %></span></p>
                    <p>Электропривод зеркал <span><%= @car.mirror ? "Есть" : "Нет" %></span></p>
                    <p>Электростеклоподъёмники передние <span><%= @car.power_window_front ? "Есть" : "Нет" %></span></p>
                    <p>Электростеклоподъёмники задние <span><%= @car.power_window_back ? "Есть" : "Нет" %></span></p>
                    <p>Регулировка руля по высоте <span><%= @car.steering_wheel_height ? "Есть" : "Нет" %></span></p>
                    <p>Регулировка руля по выносу <span><%= @car.steering_wheel_adjustment ? "Есть" : "Нет" %></span></p>
                    <p>Подогрев сидений <span><%= @car.hot_seats ? "Есть" : "Нет" %></span></p>
                    <p>Управление климатом <span><%= @car.climat %></span></p>
                    <p>Центральный замок <span><%= @car.central_locking ? "Есть" : "Нет" %></span></p>
                    <p>AUX <span><%= @car.aux ? "Есть" : "Нет" %></span></p>
                    <p>Радио <span><%= @car.radio ? "Есть" : "Нет" %></span></p>
                    <p>USB <span><%= @car.usb ? "Есть" : "Нет" %></span></p>
                    <p>Video <span><%= @car.video ? "Есть" : "Нет" %></span></p>
                </div>
                <div class="clear"></div>
            </div>
            <p><%= @car.tth_note %></p>
            <div class="video">
                <% if @car.youtube && @car.youtube != "" %>
                    <div class="zagol">Видео об автомобиле</div>
                    <iframe width="560" height="315" src="<%= @car.youtube %>" title="<%= @car.car_name %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <% end %>
                
                <p><%= @car.description %></p>
            </div>
            <div class="zagol">Смотрите также</div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="block4 var2">
    <div class="wrapper">
        <div class="spis_avto active" id="spis1">
            <%= render partial: 'cars', collection: @cars, as: :car, cached: true %>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<% if @car.city != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_email: @city.email, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
