<div class="reviews">
<meta itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<% @reviews.each do |review| %>
  <% if review.active || (current_user && current_user.is_admin) %>
    <div class="otziv" itemprop="review" itemscope itemtype="http://schema.org/Review">
      <div class="fio" itemprop="author"><%= review.name %></div>
      <meta itemprop="datePublished" content="<%= review.created_at.strftime("%Y-%m-%d") %>">
      <div class="data"><%= review.created_at.strftime("%d-%m-%Y") %></div>
      <% if current_user && current_user.is_admin %>
        <%= link_to review_path(review.id,locale: I18n.locale), remote: true, method: :delete, data: {confirm: "Уверен?"} do %>
          Удалить
        <% end %>
        <% if !(review.active?) %>
          <%= link_to approve_review_path(review,locale: I18n.locale), method: :post do %>
            Принять
          <% end %>
        <% end %>
      <% end %>
      <div class="clear"></div>
      <div class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <meta itemprop="worstRating" content="1">
        <meta itemprop="ratingValue" content="<%= review.star.to_i %>">
        <meta itemprop="bestRating" content="5">
        <% review.star.to_i.times do  %>
          <%= image_tag "ra1.png", alt: "Рейтинг", title: "Рейтинг" %>
        <% end %>
        <% review.blank_stars.to_i.times do  %>
          <%= image_tag "ra0.png", alt: "Рейтинг", title: "Рейтинг" %>
        <% end %>
      </div>
      <p itemprop="reviewBody" style="color:black;"><%= review.text %></p>
      <div class="clear"></div>
    </div>
  <% end %>
<% end %>
</div>
