<% @reviews.each do |review| %>
  <div class="otz" itemprop="review" itemscope itemtype="http://schema.org/Review">
    <div class="fio" itemprop="author"><%= review.name %></div>
    <div class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
      <meta itemprop="worstRating" content="1">
      <meta itemprop="ratingValue" content="<%= review.star.to_i %>">
      <meta itemprop="bestRating" content="5">
      <% review.star.to_i.times do  %>
        <%= image_tag "ra1.png", alt: "", title: "" %>
      <% end %>
      <% review.blank_stars.to_i.times do  %>
        <%= image_tag "ra0.png", alt: "", title: "" %>
      <% end %>
    </div>
    <p itemprop="reviewBody"><%= truncate review.text, length: 300 %></p>
  </div>
<% end %>
