<%= render 'shared/header' %>
<div class="content">
    <div class="wrapper">
        <%= render 'shared/bread'%>
        <div class="bl_otziv">
            <div class="col_l">
                <h1>Отзывы наших клиентов</h1>
                <%= render "review" %>
            </div>
            <div class="col_r">
                <div class="zg">Оставить отзыв</div>
                <div class="podzg">Заполните форму ниже</div>
                <%= form_for Review.new do |f| %>
                    <%= f.text_field :name, placeholder: "Имя *", required: true %>
                    <%= f.text_field :email, placeholder: "Email *", required: true %>
                    <%= f.text_area :text, placeholder: "Текст отзыва", required: true %>
                    <%= f.hidden_field :star, id:"star_counter", value:"" %>
                    <div id="rateYo"></div>
                    <%= f.submit "Отправить отзыв" %>
                <% end %>
            </div>
            <div class="clear"></div>
            <div class="pagin">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="active">4</a>
                <a href="#">5</a>
                ...
                <a href="#">20</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    $(function () {
    
    $("#rateYo").rateYo({
        rating: 5,
        fullStar: true,
        onChange: function (rating, rateYoInstance) {
            document.getElementById('star_counter').value = rating
        }
    })
});
</script>
<%= render 'shared/footer', cached: true %>
