<% title @text.reviews_title + " - Страница #{params[:page]}" %>
<% description @text.reviews_description + " - Страница #{params[:page]}" %>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_header', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/header', cached: true %>
<% end %>
<div class="content">
    <div class="wrapper">
        <div class="bl_otzyvy" itemscope itemtype="http://schema.org/Product">
            <div class="zagol">Отзывы наших клиентов</div>
            <meta itemprop="name" content="Прокат автомобилей Амиго">
            <div class="reviews_podzag" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" style="margin-bottom: 30px;">
                Всего отзывов: <span itemprop="reviewCount"><%= Review.where(active: true).count %></span>, средний рейтинг: <span itemprop="ratingValue"><%= Review.where(active: true).average(:star).round(2) %></span>
            </div>
            <%= render "review", cached: true %>
            <div class="col2">
                <div class="zg">Оставьте отзыв</div>
                <%= form_for @review do |f| %>
                    <%= f.text_field :name, placeholder: "Имя *", required: true %>
                    <%= f.text_field :email, placeholder: "Email *", required: true %>
                    <%= f.text_area :text, placeholder: "Текст отзыва", required: true %>
                    <%= f.hidden_field :star, id:"star_counter", value:"5" %>
                    
                    <%# recaptcha_v3(action: 'create') %>
                    <%= f.invisible_captcha :subtitle %>
                    <div class="ocen">
                        Оценка
                        <div class="spis_zv" id="rateYo"></div>
                    </div>
                    <%= button_tag("Отправить отзыв", type: "submit") %>
                    <div class="clear"></div>
                <% end %>
            </div>
            <div class="clear"></div>
            <div class="pagin">
                <%= will_paginate @reviews %>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<% if params[:city] && params[:city] != 'Калининград' %>
    <%= render 'shared/city_footer', city_name: @city.name, city_address: @city.address, city_phone: @city.phone, city_work_time: @city.work_time, cached: true %>
<% else %>
    <%= render 'shared/footer', cached: true %>
<% end %>
