<!DOCTYPE html>
<% if I18n.locale == :en %>
  <html lang="en">
<% else %>
  <html lang="ru-RU">
<% end %>
<head>
	<meta charset="UTF-8" />
  
  <%= display_meta_tags %>
  <meta name="yandex-verification" content="57d292ffbe46f129" />
  <noscript><div><img src="https://mc.yandex.ru/watch/48045371" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%# <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> %>
<% if !request.path.include?('admin') %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag 'actiontext' %>
  <%# javascript_include_tag Ckeditor.cdn_url %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application', rel: 'preload' %>
  <%= stylesheet_pack_tag 'application', rel: "stylesheet", media: "all" %>
  
  <% if current_page?(root_path) %>
    <%= javascript_pack_tag 'call_booking', rel: 'preload' %>
    <%= stylesheet_pack_tag 'call_booking', media: "all" %>
    <%= javascript_pack_tag 'search_main', rel: 'preload' %>
    <%= stylesheet_pack_tag 'search_main', media: "all" %>
  <% end %>
  <% if request.path.include?('/russia/') %>
    <%= javascript_pack_tag 'search_main', rel: 'preload' %>
    <%= stylesheet_pack_tag 'search_main', media: "all" %>
  <% end %>
  <% if request.path.include?('arenda-avto') || current_page?(cars_ru_path) || current_page?(cars_en_path) || current_page?(economy_cars_ru_path) || current_page?(economy_cars_en_path) || current_page?(middle_cars_ru_path) || current_page?(middle_cars_en_path) || current_page?(minivans_cars_ru_path) || current_page?(minivans_cars_en_path) || current_page?(crossovers_cars_ru_path) || current_page?(crossovers_cars_en_path) || current_page?(business_cars_ru_path) || current_page?(business_cars_en_path) || current_page?(commercial_cars_ru_path) || current_page?(commercial_cars_en_path)%>
    <%= javascript_pack_tag 'search_cars' %>
    <%= stylesheet_pack_tag 'search_cars', media: "all" %>
  <% end %>
  <% if request.path.include?('/cars/') %>
    <%= javascript_pack_tag 'bookings' %>
  <% end %>

  <meta name="viewport" content="width=device-width" />
<% else %>
  <%= javascript_pack_tag 'application', rel: 'preload' %>
  <%= stylesheet_pack_tag 'application', rel: "stylesheet", media: "all" %>
  <%= stylesheet_pack_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'actiontext' %>
  <%= stylesheet_link_tag 'admins_panel', media: 'all' %>
    <%# javascript_pack_tag 'adminkit' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>

<% end %>
<%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="<%= current_page?(root_path) ? "home" : "" %>">
    <%= yield %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154920051-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-154920051-1');
    gtag('config', 'AW-691640545');
  </script>
  <% if request.path.include?('/success') %>
    <!-- Event snippet for Оформление заявки conversion page -->
    <script>
      gtag('event', 'conversion', {'send_to': 'AW-691640545/X7MvCP6LzvUBEOGx5skC'});
    </script>
  <% end %>
</body>
</html>
